@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.wsu-c-meta-publish-date {

	@include font-base('primary', 0.8em );

	display: inline-block;

	margin-right: 1em;


	&::before {
		font-family: wsu-icons;
		font-weight: 400;
		display: inline-block;
		padding-right: 5px;
		content: "\F14E";
	}

}