@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

/* Start Base Styles
======================= */
.wsu-s-footer__wrapper {
	position: relative;

	min-height: 165px;
	padding: $unit-2xl $unit-3xl;

	background-color: color(gray, 0);

	.wsu-s-footer__overview-title {
		margin-bottom: $unit-xs;

		text-transform: uppercase;

		color: color(gray, 75);

		@include font-size(18px, 500);

	}

	.wsu-s-footer__overview-desc {
		margin-bottom: $unit-xl;

		color: color(gray, 75);

		@include font-size(16px, 300, 1.5);
	}

	.wsu-s-footer__overview-container {
		max-width: 525px;
	}

	/* Footer Nav
	======================= */
	.wsu-s-footer__nav {
		margin-bottom: $wsu-bt-base-unit * 4;
	}

	.wsu-s-footer_nav-list {
		display: flex;
		flex-direction: column;

		margin: 0;
		padding: 0;

		list-style: none;

		@include mq('small') {
			flex-flow: row wrap;
		}
		@include mq('large') {
			max-width: $wsu-bt-breakpoint--large;
		}

		& > .wsu-s-footer__nav-item {
			@include mq('small') {
				width: 50%;
			}
			@include mq('medium') {
				width: 25%;
			}
		}
	}

	.wsu-s-footer__nav-link {
		font-weight: 300;

		display: inline-block;

		padding: $unit-xs 0;

		text-decoration: none;

		color: color(gray, 75);

		@include border-bottom-hover(80%, 7px);
	}

	.wsu-s-footer__nav-item--has-children {
		width: 100%;

		@extend .wsu-s-footer__nav-item;

		& > .wsu-s-footer__nav-link {
			font-weight: 600;

			text-transform: uppercase;
		}
	}

	.wsu-s-footer__sub-menu {
		margin: 0;
		padding: 0;

		list-style: none;
	}

	/* Contact Container
	======================= */
	.wsu-s-footer__contact-info {
		margin-bottom: $unit-xs;

		color: color(gray, 75);

		@include font-size(16px, $font-weight: 300);
	}

	.wsu-s-footer__name {
		font-weight: 600;
	}

	.wsu-s-footer__contact-phone,
	.wsu-s-footer__contact-fax {
		transition: color timing();
		text-decoration: none;

		color: inherit;

		&:hover {
			color: color(primary, light);
		}
	}

	.wsu-s-footer__social-list {
		display: flex;

		margin: 0;
		padding: 0;

		list-style: none;
	}

	.wsu-s-footer__social-item-link {
		display: block;

		margin-right: $unit;

		transition: color timing();
		text-decoration: none;

		color: color(gray, 30);

		@include font-size(24px);

		&:hover {
			color: color(gray, 50);
		}
	}

	.wsu-s-footer__coug-watermark {
		position: absolute;
		z-index: z('decorative');
		right: 60px;
		bottom: 55px;

		width: 125px;
	}

	.wsu-s-footer__logo-svg {
		fill: color(gray, 10);
	}
}
/* == End Base Styles == */

/* Dark Theme
======================= */
.wsu-s-footer__wrapper--dark {
	color: color(gray, 20);
	background: color(gray, 90);

	@extend .wsu-s-footer__wrapper;

	.wsu-s-footer__overview-title {
		color: color(gray, 0);
	}

	.wsu-s-footer__nav-item--has-children {
		@extend .wsu-s-footer__nav-item;

		& > .wsu-s-footer__nav-link {
			color: color(gray, 0);
		}
	}

	.wsu-s-footer__nav-link {
		color: color(gray, 20);
	}

	.wsu-s-footer__name {
		color: color(gray, 0);
	}

	.wsu-s-footer__social-item-link {
		color: gray;

		&:hover .wsu-s-footer__social-icon {
			fill: color(gray, 0);
		}
	}
}
