/* NS */
/* NS */
/* NS */
/* NS */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.wsu-site-footer {
  background-color: #404040;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.70rem; }
  .wsu-site-footer h2 {
    font-size: 0.8rem;
    text-transform: uppercase; }
  .wsu-site-footer a {
    color: #fff;
    text-decoration: none; }
  .wsu-site-footer .wsu-site-footer-inner {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 150px;
    position: relative;
    box-sizing: border-box; }
    .wsu-site-footer .wsu-site-footer-inner:after {
      content: "";
      background-image: url("/wsu-web-design-system/src/logos/cougar-head-light-gray.png");
      background-repeat: no-repeat;
      background-position: bottom left;
      background-size: cover;
      display: block;
      width: 100px;
      height: 100px;
      position: absolute;
      bottom: 40px;
      right: 40px; }
    @media screen and (max-width: 800px) {
      .wsu-site-footer .wsu-site-footer-inner {
        padding-right: 20px; }
        .wsu-site-footer .wsu-site-footer-inner:after {
          width: 50px;
          height: 50px;
          bottom: auto;
          right: auto;
          position: relative;
          margin: 20px auto; } }
  .wsu-site-footer .wsu-footer-content {
    max-width: 500px;
    margin-bottom: 20px;
    line-height: 1rem; }
  .wsu-site-footer .wsu-deep-links {
    max-width: 800px;
    line-height: 1rem; }
    .wsu-site-footer .wsu-deep-links .wsu-menu {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .wsu-site-footer .wsu-deep-links .wsu-menu a {
        text-transform: uppercase;
        font-weight: 600; }
      .wsu-site-footer .wsu-deep-links .wsu-menu .wsu-menu-item {
        margin: 0 0 0.25rem 0;
        padding: 0;
        list-style-type: none; }
      .wsu-site-footer .wsu-deep-links .wsu-menu .wsu-submenu {
        margin: 0.25rem 0 0;
        padding: 0;
        list-style-type: none; }
        .wsu-site-footer .wsu-deep-links .wsu-menu .wsu-submenu a {
          text-transform: none;
          font-weight: normal; }
      .wsu-site-footer .wsu-deep-links .wsu-menu > .wsu-menu-item {
        display: inline-block;
        vertical-align: top;
        width: 175px;
        margin-bottom: 20px; }
  .wsu-site-footer .wsu-address {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .wsu-site-footer .wsu-address-item {
    margin: 0;
    padding: 0 0.25rem 0 0;
    list-style-type: none;
    display: inline; }
    .wsu-site-footer .wsu-address-item:not(:last-child):after {
      content: ","; }
