<footer class="wsu-site-footer">
    <div class="wsu-site-footer-inner">
        <div class="wsu-footer-content">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper augue eget arcu congue pharetra. 
                Nunc tempus dolor eu tellus euismod ornare. Aenean metus odio, ultrices in sagittis sit amet, euismod 
                sed tellus. Mauris ultrices leo ac felis faucibus, quis pulvinar enim commodo. Donec eget magna in 
                justo eleifend condimentum a et ipsum. Curabitur ut diam ligula.
            </p>
        </div>
        <nav class="wsu-deep-links">
            <ul class="wsu-menu wsu-deeplinks">
                <li class="wsu-menu-item">
                    <a href="#">Link Title Here</a>
                    <ul class="wsu-submenu">
                        <li class="wsu-menu-item">
                            <a href="#">Link Title Here</a>
                        </li>
                        <li class="wsu-menu-item">
                            <a href="#">Link Title Here</a>
                        </li>
                        <li class="wsu-menu-item">
                            <a href="#">Link Title Here</a>
                        </li>
                    </ul>
                </li>
                <li class="wsu-menu-item">
                    <a href="#">Link Title Here</a>
                    <ul class="wsu-submenu">
                        <li class="wsu-menu-item">
                            <a href="#">Link Title Here</a>
                        </li>
                        <li class="wsu-menu-item">
                            <a href="#">Link Title Here</a>
                        </li>
                        <li class="wsu-menu-item">
                            <a href="#">Link Title Here</a>
                        </li>
                    </ul>
                </li>
                <li class="wsu-menu-item">
                    <a href="#">Link Title Here</a>
                    <ul class="wsu-submenu">
                        <li class="wsu-menu-item">
                            <a href="#">Link Title Here</a>
                        </li>
                        <li class="wsu-menu-item">
                            <a href="#">Link Title Here</a>
                        </li>
                        <li class="wsu-menu-item">
                            <a href="#">Link Title Here</a>
                        </li>
                    </ul>
                </li>
                <li class="wsu-menu-item">
                    <a href="#">Link Title Here</a>
                    <ul class="wsu-submenu">
                        <li class="wsu-menu-item">
                            <a href="#">Link Title Here</a>
                        </li>
                        <li class="wsu-menu-item">
                            <a href="#">Link Title Here</a>
                        </li>
                        <li class="wsu-menu-item">
                            <a href="#">Link Title Here</a>
                        </li>
                    </ul>
                </li>
                <li class="wsu-menu-item">
                    <a href="#">Link Title Here</a>
                    <ul class="wsu-submenu">
                        <li class="wsu-menu-item">
                            <a href="#">Link Title Here</a>
                        </li>
                        <li class="wsu-menu-item">
                            <a href="#">Link Title Here</a>
                        </li>
                        <li class="wsu-menu-item">
                            <a href="#">Link Title Here</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <ul class="wsu-address">
            <li class="wsu-address-item">Washingtion State University</li> 
            <li class="wsu-address-item">PO Box 123456</li>
            <li class="wsu-address-item">P 509-123-4567</li>
            <li class="wsu-address-item">F 509-123-4567</li>
        </ul>
    </div>
</footer>