@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.wsu-c-typewriter-text {

	&--is-outlined {
		color: transparent;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: color(white, base);
	}

	.typed-cursor {
		opacity: 1;
		animation: typedjsBlink 0.7s infinite;
		color: transparent;
		-webkit-text-stroke: 0;
		margin-left: -10px;

		&::after {
			content: "";
			width: 3px;
			height: 1em;
			display: inline-block;
			background-color: black;
			transform: skew(-11deg) translateX(.5em);
		}
	}

	.typed-fade-out {
		opacity: 0;
		transition: opacity .25s;
		-webkit-animation: 0;
		animation: 0;
	}
}

@keyframes typedjsBlink {
	50% {
		opacity: 0.0;
	}
}