
@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.wsu-c-image-container {
	max-width: 100%;
	
	&--center {
		margin-right: auto;
		margin-left: auto;
	}

	&--right {
		margin-left: auto;
	}

	&--left {
		margin-right: auto;
	}
}

.wsu-c-content img,
.wsu-c-image {
	height: auto;
	width: 100%;
}