@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.wsu-c-modal__wrapper {
	background: white;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 800px;
	padding: 60px $unit-3xl;
	box-sizing: border-box;
	z-index: z('modal');
	@include elevate(6);
	// border: 2px solid color(gray, 70);
	// border-right-width: 5px;
	// border-bottom-width: 5px;

	&--is-fullscreen {
		max-width: 100%;
		height: 100%;
		border: none;
		margin: 0;
		@include elevate(0);
	}

	&--is-open {
		display: block;

		& + .wsu-c-modal__overlay {
			display: block;
		}
	}

	&--is-notched {
		clip-path: polygon(100% 0, 100% calc(100% - 45px), calc(100% - 45px) 100%, 0 100%, 0 0);
	}
}

button.wsu-c-modal__close-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: $unit-s;
	background: none;
	border: none;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	color: inherit;

	@include font-size(10px, 400);

	&:hover,
	&:focus {
		cursor: pointer;
		color: color(primary, base);
		background: none;
		@include elevate(0);
	}

	& .wsu-icon {
		@include font-size(20px);
		margin-left: $unit-2xs;
	}
}

.wsu-c-modal__overlay {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: z('modalOverlay');
	backdrop-filter: blur(5px);
	display: none;

}