@import './variables';
@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.wsu-g-header__wrapper ~ .#{$class-base}__wrapper .#{$class-base} {
	top: 65px;
}

.admin-bar .wsu-g-header__wrapper ~ .#{$class-base}__wrapper .#{$class-base} {
	top: calc( 65px + 32px );
}

.#{$class-base} {

	&__wrapper ~ .wsu-s-container {
		transform: translateX( 0 );
		margin-left: $nav-width;
		transition: margin-left 300ms ease-in, transform 300ms ease-in;
	}


	@include mq('tablet', 'max') {

		&--closed ~ .wsu-s-container {
			margin-left: 0;
		}

		&--open ~ .wsu-s-container {
			margin-left: 0;
			transform: translateX( $nav-width );
		}
	
	}

	@include mq('mobile', 'max') {

		&__wrapper ~ .wsu-s-container {
			transform: translateX( 0 );
		}

	}

	&--closed ~ .wsu-s-container {
		margin-left: $nav-width-closed;
		transform: translateX( 0 );
	}

	@include mq('mobile', 'max') {

		&--closed ~ .wsu-s-container {
			margin-left: 0;
		}

	}

}