@import './variables';
@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.#{$class-base}__menu .#{$class-base}__menu {

	overflow: hidden;
	background-color: color( gray, 10 );

	.#{$class-base} {

		&__menu-item-wrapper[aria-expanded="true"] {

			& > .#{$class-base}__menu-item  .#{$class-base}__menu-item-link {
				font-weight: 600;
			}

		}

		&__menu-toggle {

			background-color: color( gray, 10 );
			color: color( gray, 75 );


			&::after {
				color: color( gray, 75 );
			}
			

			&:hover {
				background-color: color( gray, 5 );

				&::after {
					color: color( gray, 75 );
				}
			}

		}

		&__menu-item-link {
			font-size: .85rem;
			font-weight: 500;
			padding-left: 35px;

			&::after {
				background-color: color( gray, 10);
				left: 35px;
			}

			&:hover::after {
				background-color: color( gray, 10);
				left: 35px;
				width: calc( 100% - 80px );

			}
		}

		&__menu-item--current {

			& > .#{$class-base}__menu-item {
			
				.#{$class-base}__menu-item-link {
	
					&::after {
						width: calc( 100% - 80px );
					}
					
				}
	
			}
		}

		&__menu-item-wrapper[aria-expanded="true"] > .#{$class-base}__menu-item .#{$class-base}__menu-toggle {
			background-color: color( gray, 50 );

			&::after {
				color: color( gray, 5 );
			}

		}
	}

}