.wsu-c-loading-icon--3 {
	position: relative;

	&::after {
		content: 'Option 3';
		position: absolute;
		bottom: -40px;
		left: 50%;
		font-size: 10px;
		transform: translateX(-50%);
	}
	
	svg {
		overflow: visible;
	}

	& path {
		transform-origin: center;
		fill: white;
		stroke-width: 4px;
		stroke: color(primary, base);
	}

	.wsu-c-butch {
		&__hair {
			animation: dash-hair 4s infinite;
			stroke-dashoffset: 1360;
			stroke-dasharray: 1360;
		}
		&__face {
			animation: dash-face 4s infinite;
			stroke-dasharray: 1835;
			stroke-dashoffset: 1835;
		}
		&__jaw {
			animation: dash-jaw 4s infinite;
			stroke-dasharray: 480;
			stroke-dashoffset: 480;
		}
		&__chest {
			animation: dash-chest 4s infinite;
			stroke-dasharray: 135;
			stroke-dashoffset: 135;
		}
	}
}

// if offset == array, it appears empty

// W
@keyframes dash-hair {
	0% {
		stroke-dashoffset: 1360;
	}

	20% {
		stroke-dashoffset: 0;
	}

	70% {
		stroke-dashoffset: 0;
	}

	100% {
		stroke-dashoffset: 1360;
	}
}

// S
@keyframes dash-face {
	0% {
		stroke-dashoffset: 1835;
	}

	15% {
		stroke-dashoffset: 1835;
	}

	60% {
		stroke-dashoffset: 0;
	}

	70% {
		stroke-dashoffset: 0;
	}

	100% {
		stroke-dashoffset: 1835;
	}
}

@keyframes dash-chest {
	0% {
		stroke-dashoffset: 135;
	}

	15% {
		stroke-dashoffset: 135;
	}

	60% {
		stroke-dashoffset: 0;
	}

	70% {
		stroke-dashoffset: 0;
	}

	100% {
		stroke-dashoffset: 135;
	}
}

// U
@keyframes dash-jaw {
	0% {
		stroke-dashoffset: 480;
	}

	45% {
		stroke-dashoffset: 480;
	}

	70% {
		stroke-dashoffset: 0;
	}

	100% {
		stroke-dashoffset: 480;
	}
}