// Dependencies
@import './partials/functions';

// Partials
@import './partials/margin';
@import './partials/padding';

// Misc Utilities
$misc-values: (
	// .wsu-u-dn
	// display: none;
	dn: (
		property-name: 'display',
		value: 'none'
	),
	// .wsu-u-tac
	// text-align: center;
	tac: (
		property-name: 'text-align',
		value: 'center'
	)
);

@include generate-class-names($misc-values);