// Dependencies
@import './partials/functions';

// Partials
@import './partials/margin';
@import './partials/padding';
@import './partials/bleed';
@import './partials/em-utilities';
@import './partials/font';
@import './partials/indent';
@import './partials/position';
@import './partials/background-color';
@import './partials/borders';

// Misc Utilities
$misc-values: (
	dn: (
		property-name: 'display',
		value: 'none'
	),
	tac: (
		property-name: 'text-align',
		value: 'center'
	)
);

@include generate-class-names($misc-values);