@import '~@wsu/build-tools/scss/all-the-things';
@import url('https://cdn.web.wsu.edu/designsystem/1.x/wsu-icons/dist/wsu-icons.bundle.css');

.wsu-c-icon-container {
	max-width: 800px;
	margin: $unit-xl auto;
}

.wsu-icon {
	display: inline-block;

	padding: 20px;

	transition: color timing();

	&:hover {
		color: color(primary, light);
	}
}
