<html>

<head lang="en-US">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Content Icons | Component</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" href="content-icons.css">
	<script src="content-icons.js" defer></script>
</head>

<body>
	<!-- COMPONENT:START -->
	<div class="wsu-c-icon-container">
		<!-- TODO: list all icons -->

	</div>
	<!-- COMPONENT:END -->

	<script src="../../../node_modules/@wsu/build-tools/js/toolbar.js"></script>
</body>

</html>
