<html>

<head lang="en-US">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Content Icons | Component</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" href="content-icons.css">
	<script src="content-icons.js" defer></script>
</head>

<body>
	<!-- COMPONENT:START -->
	<div class="wsu-c-icon-container">
		<img class="wsu-c-icon" src="../../../assets/icons/icon-arrow-up.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-linkedin.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-instagram.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-calendar.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-time.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-cart.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-arrow-up-carrot.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-phone.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-link.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-arrow-left-carrot.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-location.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-arrow-right.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-info.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-edit-write.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-x.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-pause.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-attachment.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-plus.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-stop.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-bookmark.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-video-slideshow.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-instagram-colr.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-minus.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-alarm.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-previous.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-home.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-arrow-right-carrot.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-alert-notification.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-facebook-colr.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-feedback.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-search.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-favorite.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-play-circle.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-trash.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-youtube-colr.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-arrow-left.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-secure.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-settings.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-comment.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-rate.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-twitter.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-arrow-down.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-discussion.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-minus-circle.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-linkedin-colr.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-profile.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-map.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-document.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-basket.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-menu.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-email.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-arrow-down-carrot.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-check.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-send.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-play.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-photos.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-x-circle.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-plus-circle.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-twitter-colr.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-facebook.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-youtube.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-next.svg" markup-inline>
		<img class="wsu-c-icon" src="../../../assets/icons/icon-more.svg" markup-inline>

	</div>
	<!-- COMPONENT:END -->

	<script src="../../../node_modules/@wsu/build-tools/js/toolbar.js"></script>
</body>

</html>
