@mixin row-base {
	display: flex;
	flex-wrap: wrap;
	margin-left: -1em;
	margin-right: -1em;
}

.wsu-c-news {


	&__item {
		margin: 1em;
	}

	&--per-row-2 {
		
		@include row-base();

		.wsu-c-news__item {
			width: calc( 50% - 2em ); 
		}

		@media screen and (max-width: 700px) {
			.wsu-c-news__item {
				width: calc( 100% - 2em );
			}
		}
	}

	&--per-row-3 {
		@include row-base();

		.wsu-c-news__item {
			width: calc( 33.33% - 2em );
		}

		@media screen and (max-width: 800px) {
			.wsu-c-news__item {
				width: calc( 50% - 2em );
			}
		}

		@media screen and (max-width: 550px) {
			.wsu-c-news__item {
				width: calc( 100% - 2em );
			}
		}
	}

	&--per-row-4 {
		@include row-base();

		.wsu-c-news__item {
			width: calc( 25% - 2em );
		}

		@media screen and (max-width: 1000px) {
			.wsu-c-news__item {
				width: calc( 33.33% - 2em );
			}
		}

		@media screen and (max-width: 800px) {
			.wsu-c-news__item {
				width: calc( 50% - 2em );
			}
		}

		@media screen and (max-width: 550px) {
			.wsu-c-news__item {
				width: calc( 100% - 2em );
			}
		}
	}

}