@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

/* Set baseline styles for forms
 * This assumes you're unable to make any markup changes
======================= */
.wsu-c-content {
	button,
	input,
	optgroup,
	select,
	textarea {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;

		margin: 0;

		transition: border timing();

		border: 1px solid color(gray, 20);
		border-radius: $wsu-bt-base-border-radius-size;

		@include font-size(14px);
	}

	input,
	textarea,
	select {
		width: 100%;
		padding: $unit $unit;

		color: color(gray, 100);

		@include elevate(0);

		&:focus {
			border-color: color(gray, 40);
			outline: none;

			@include elevate(2);
		}

		&::input-placeholder {
			color: color(gray, 60);
		}
	}

	/* Input / Textarea Styles
	======================= */
	label {
		display: inline-block;

		margin: $unit $unit $unit-2xs;

		@include font-size(14px);
	}

	/* Fieldset Styles
	======================= */
	fieldset {
		margin: $unit-l 0 0;
		padding: 0 $unit-xl $unit-xl;

		border: 1px solid color(gray, 20);

		@include font-size(14px);
	}

	/* Select Styles
	======================= */
	select {
		position: relative;

		background-color: color(white, base);
		background-image:
			linear-gradient(-135deg, color(gray, 50) 50%, transparent 50%),
			linear-gradient(135deg, color(gray, 50) 50%, transparent 50%);
		background-repeat: no-repeat;
		background-position:
			calc(100% - calc(7px * 3)) 50%,
			calc(100% - calc(7px * 2)) 50%; // Background position multipliers control the horizontal offset from the right edge
		background-size:
			7px 7px,
			7px 7px; // Background size and position values control arrow size

		appearance: none;
	}

	/* Radio / Checkbox styles
	======================= */
	input[type="radio"],
	input[type="checkbox"] {
		width: initial;

		&:focus {
			box-shadow: 
				2px 2px 0px color(primary, light), 
				-2px -2px 0px color(primary, light),
				2px -2px 0px color(primary, light),
				-2px 2px 0px color(primary, light)
		}

		& + label {
			margin-top: $unit-2xs;
			margin-left: $unit-2xs;
		}
	}

	/* Button styles
	======================= */
	button[type="submit"],
	button[type="reset"] {
		@include button();
	}
}

/* Extend/Modify forms assuming we can affect markup
======================= */
.wsu-c-form__field-container,
.wsu-c-form__field-container--text,
.wsu-c-form__field-container--password,
.wsu-c-form__field-container--search,
.wsu-c-form__field-container--textarea,
.wsu-c-form__field-container--fieldset,
.wsu-c-form__field-container--select,
.wsu-c-form__field-container--select,
.wsu-c-form__field-container--radio,
.wsu-c-form__field-container--checkbox {
	// margin: $unit 0 $unit;
}

/* Checkbox containers
======================= */
.wsu-c-form__field-container--checkbox {
	margin: $unit 0;

	.wsu-c-form__input-item {
		position: relative;

		.wsu-c-form__input {
			z-index: z('content') - 1;
			left: 0;

			display: block;

			width: 20px;
			height: 20px;

			transition: background-color timing('eagle'), border-color timing('eagle');

			border: 1px solid color(gray, 20);
			border-radius: $wsu-bt-base-border-radius-size;
			background-color: color(white, base);

			@include is-vertically-centered();

			&::before {
				font-family: "wsu-icons";
				font-size: 0;

				content: "\F110";
				transition: font-size timing('eagle', 'ease');

				color: color(white, base);

				@include is-centered();
			}
		}

		& > input:checked ~ .wsu-c-form__input {
			border-color: color(primary, light);
			background-color: color(primary, light);

			&::before {
				font-size: 12px;
			}
		}

		& > input[type="checkbox"] {
			@include is-visually-hidden();

			& + label {
				position: relative;
				z-index: z('content');

				padding-right: $unit;
				padding-left: $unit-2xl;

				&:hover {
					cursor: pointer;
				}
			}

			&:focus ~ .wsu-c-form__input,
			&:hover ~ .wsu-c-form__input {
				border-color: color(primary, light);
			}

			&:focus:checked ~ .wsu-c-form__input {
				border-width: 2px;
				border-color: color(gray, 80);
			}
		}
	}
}

/* Radio button styles
======================= */
.wsu-c-form__field-container--radio {
	margin: $unit 0;

	.wsu-c-form__input-item {
		position: relative;

		.wsu-c-form__input {
			position: absolute;
			z-index: z('content') - 1;
			left: 0;

			display: block;

			width: 20px;
			height: 20px;

			transition: background-color timing('eagle');

			border: 1px solid color(gray, 20);
			border-radius: 100%;
			background-color: color(white, base);

			@include is-vertically-centered();

			&:before {
				width: 0%;
				height: 0%;

				content: "";
				transition: width timing('eagle', 'ease'), height timing('eagle', 'ease');
			}
		}
		
		& > input:focus:checked ~ .wsu-c-form__input {
			border-width: 2px;
			border-color: color(gray, 80);
		}

		& > input:checked ~ .wsu-c-form__input {
			border-color: color(primary, light);
			background-color: color(primary, light);

			&:before {
				display: block;

				width: 6.67px;
				height: 6.67px;

				border-radius: 6.67px;
				background-color: color(white, base);

				@include is-centered();
			}
		}

		& > input[type="radio"] {
			@include is-visually-hidden();

			& + label {
				position: relative;
				z-index: z('content');

				padding-right: $unit;
				padding-left: $unit-2xl;

				&:hover {
					cursor: pointer;
				}
			}

			
		}
	}
}
