@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.wsu-copy {
  /*--------------------------------------------------------------
  >>> FORMS TABLE OF CONTENTS:
  ----------------------------------------------------------------
  
  --------------------------------------------------------------*/ }
  .wsu-copy form {
    color: #404040;
    font-family: 'Montserrat', sans-serif; }
  .wsu-copy fieldset {
    margin: 0;
    padding: 0;
    border: none; }
  .wsu-copy label {
    display: block;
    margin: 0 0 8px 0;
    padding: 0;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase; }
  .wsu-copy legend {
    display: block;
    margin: 0 0 8px 0;
    padding: 0;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase; }
  .wsu-copy input[type=tel],
  .wsu-copy input[type=email],
  .wsu-copy input[type=text] {
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    height: 40px;
    padding: 0 8px;
    max-width: 100%;
    border: 1px solid #ccc;
    background: rgba(0, 0, 0, 0.01);
    outline: 0;
    border-radius: 2px; }
  .wsu-copy select {
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    height: 40px;
    padding: 0 8px;
    max-width: 100%;
    border: 1px solid #ccc;
    background: rgba(0, 0, 0, 0.01);
    outline: 0;
    border-radius: 2px;
    max-width: 100%; }
  .wsu-copy textarea {
    padding: 8px;
    max-width: 100%;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: rgba(0, 0, 0, 0.01);
    outline: 0;
    border-radius: 2px;
    max-width: 100%; }
  .wsu-copy input[type=radio] + label,
  .wsu-copy input[type=checkbox] + label {
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle; }
  .wsu-copy input[type="submit"] {
    background: none;
    border: 1px solid;
    border-radius: 4px;
    color: #ca1237;
    margin-top: 1.5rem;
    padding: .75rem 1.5rem;
    text-transform: uppercase;
    transition: all .3s ease;
    font-weight: 600; }
  .wsu-copy input:hover, .wsu-copy textarea:hover, .wsu-copy input[type=text]:hover, .wsu-copy select:hover {
    color: #4c4c4c;
    border: 1px solid #4c4c4c;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    background-color: #ffffff !important; }
  .wsu-copy input:focus, .wsu-copy textarea:focus, .wsu-copy input[type=text]:focus, .wsu-copy select:focus {
    color: #ca1237;
    border: 1px solid #ca1237;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out; }
