.wsu-content {
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
  /*--------------------------------------------------------------
  >>> CONTENT TABLE OF CONTENTS:
  ----------------------------------------------------------------
  
  
  --------------------------------------------------------------*/ }
