<nav class="wsu-vertical-navigation">
    <ul class="wsu-menu">
        <li class="wsu-nav-item has-children" aria-expanded="true">
            <a href="#">Link Title Here</a>
            <ul class="wsu-submenu">
                <li class="wsu-nav-item">
                    <a href="#">Link Title Here</a>
                </li>
                <li class="wsu-nav-item has-children" aria-expanded="true">
                    <a href="#">Link Title Here</a>
                    <ul class="wsu-submenu">
                        <li class="wsu-nav-item">
                            <a href="#">Link Title Here</a>
                        </li>
                        <li class="wsu-nav-item">
                            <a href="#">Link Title Here</a>
                        </li>
                        <li class="wsu-nav-item wsu-current-nav-item">
                            <a href="#">Link Title Here</a>
                        </li>
                    </ul>
                </li>
                <li class="wsu-nav-item">
                    <a href="#">Link Title Here</a>
                </li>
                <li class="wsu-nav-item">
                    <a href="#">Link Title Here</a>
                </li>
            </ul>
        </li>
        <li class="wsu-nav-item">
            <a href="#">Link Title Here</a>
        </li>
        <li class="wsu-nav-item has-children">
            <a href="#">Link Title Here</a>
        </li>
        <li class="wsu-nav-item">
            <a href="#">Link Title Here</a>
        </li>
    </ul>
</nav>