@import "../../../sass/variables/_colors";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.wsu-vertical-navigation {
    position: relative;
    border-right: 1px solid $wsu-gray-lighter;
    width: 260px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    .wsu-menu,
    .wsu-submenu {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .wsu-menu {

        & > .wsu-nav-item:first-child {
            padding-top: 1rem;
        }
    }

    .wsu-nav-item {

        padding: 0;
        margin: 0;
        list-style-type: none;

        &[aria-expanded="true"] {
            background-color: $wsu-gray-lightest;
            padding-bottom: 1rem;
        }

        a {
            text-decoration: none;
            font-size: 0.75rem;
            display: block;
            padding: 0.6rem 1.5rem;
            color: $wsu-gray-darker;
            position: relative;
            font-weight: 700;
            letter-spacing: 1px;
            line-height: 1.25rem;
        }

        &[aria-expanded="true"] > a {
            color: $wsu-crimson-bright;
        }

        &.has-children > a {
            padding-right: 40px;
        }

        &.has-children > a:after {
            content: "";
            width: 40px;
            top: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            background-image: url('/wsu-web-design-system/src/icons/nav-plus.png');
            background-size: 12px;
            background-position: center;
            background-repeat: no-repeat;
        }

        &[aria-expanded="true"].has-children > a:after {
            background-image: url('/wsu-web-design-system/src/icons/nav-minus-inactive.png');
        }

    }

    .wsu-submenu {

        & .wsu-nav-item a {
            padding-left: 3rem;
        }

        & .wsu-submenu .wsu-nav-item a {
            padding-left: 4.5rem;
        }
    }
}