<nav class="wsu-vertical-navigation">
    <ul class="nav-menu-group">
        <li class="nav-item expanded has-children">
            <a href="#">Link Title Here</a>
            <ul class="nav-menu-group submenu">
                <li class="nav-item"><a href="#">Link Title Here</a></li>
                <li class="nav-item expanded  has-children">
                    <a href="#">Link Title Here</a>
                    <ul class="nav-menu-group submenu">
                        <li class="nav-item"><a href="#">Link Title Here</a></li>
                        <li class="nav-item"><a href="#">Link Title Here</a></li>
                        <li class="nav-item"><a href="#">Link Title Here</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="#">Link Title Here</a></li>
                <li class="nav-item"><a href="#">Link Title Here</a></li>

            </ul>
        </li>
        <li class="nav-item"><a href="#">Link Title Here</a></li>
        <li class="nav-item has-children"><a href="#">Link Title Here</a></li>
        <li class="nav-item"><a href="#">Link Title Here</a></li>

    </ul>
</nav>