@import "/sass/variables/colors";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


.wsu-vertical-navigation {
    position: relative;
    border-right: 1px solid #e5e5e5;
    width: 260px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    .wsu-menu,
    .wsu-submenu {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .wsu-menu {
        padding-top: 1rem;
    }

    .wsu-nav-item {

        a {
            text-decoration: none;
            font-size: 0.75rem;
            display: block;
            padding: 0.6rem 1.5rem;
            color: $wsu-gray-darker;
            position: relative;
        }

        &.has-children > a:after {
            content: "";
            width: 30px;
            top: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            background: #eee;
        }

    }

    .wsu-submenu {

        & .wsu-nav-item a {
            padding-left: 3rem;
        }

        & .wsu-submenu .wsu-nav-item a {
            padding-left: 4.5rem;
        }
    }
}