@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.wsu-vertical-navigation {
  position: relative;
  border-right: 1px solid #e5e5e5;
  width: 260px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; }
  .wsu-vertical-navigation .nav-menu-group {
    margin: 0;
    padding: 0; }
  .wsu-vertical-navigation .nav-submenu {
    margin: 0;
    padding: 0; }
  .wsu-vertical-navigation .nav-item {
    list-style-type: none;
    position: relative; }
    .wsu-vertical-navigation .nav-item a {
      text-decoration: none;
      font-size: 0.75rem;
      display: block;
      padding: 0.6rem 1.5rem;
      color: #404040;
      position: relative; }
    .wsu-vertical-navigation .nav-item.has-children > a:after {
      content: "";
      display: block;
      width: 30px;
      background-color: #e5e5e5;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0; }
    .wsu-vertical-navigation .nav-item.expanded {
      background-color: #f8f8f8; }
    .wsu-vertical-navigation .nav-item.expanded > a {
      color: #ca1237; }
    .wsu-vertical-navigation .nav-item.expanded .nav-item {
      margin-left: 1.5rem; }
