@import '../../../assets/scss/component-reset';
@import '~@wsu/build-tools/scss/all-the-things';

/* Start Base Styles
======================= */
.wsu-s-footer__wrapper {
	position: relative;

	padding: $unit-3xl;

	background-color: color(grey, 0);

	.wsu-s-footer__overview-title {
		margin-bottom: $unit-xs;

		text-transform: uppercase;

		color: color(grey, 75);

		@include font-size(18px, 600);

	}

	.wsu-s-footer__overview-desc {
		margin-bottom: $unit-xl;

		@include font-size(16px, 300, $line-height: 1.3);
	}

	.wsu-s-footer__overview-container {
		max-width: 525px;
	}

	/* Footer Nav
	======================= */
	.wsu-s-footer__nav {
		margin-bottom: $wsu-bt-base-unit * 4;
	}

	.wsu-s-footer_nav-list {
		display: flex;

		& > .wsu-s-footer__nav-item {
			margin-right: $unit-3xl;
		}
	}

	.wsu-s-footer__nav-link {
		display: inline-block;

		padding: $unit-xs 0;

		text-decoration: none;

		color: color(grey, 75);

		@include font-size(ms(-1));
		@include border-bottom-hover(80%, 7px);
	}

	.wsu-s-footer__nav-item--has-children {
		width: 100%;
		max-width: 220px;

		@extend .wsu-s-footer__nav-item;

		& > .wsu-s-footer__nav-link {
			font-weight: 600;

			text-transform: uppercase;
		}
	}

	/* Contact Container
	======================= */
	.wsu-s-footer__contact-info {
		margin-bottom: $unit-xs;

		@include font-size(ms(0), $font-weight: 300);
	}

	.wsu-s-footer__name {
		font-weight: 600;
	}

	.wsu-s-footer__contact-phone,
	.wsu-s-footer__contact-fax {
		transition: color timing();
		text-decoration: none;

		color: inherit;

		&:hover {
			color: color(primary, light);
		}
	}

	.wsu-s-footer__social-list {
		display: flex;
	}

	.wsu-s-footer__social-item-link {
		display: block;

		margin-right: $unit;
	}

	.wsu-s-footer__social-icon {
		transition: fill timing();

		@include is-icon(25px);
		fill: color(grey, 40);

		&:hover {
			fill: color(grey, 70);
		}
	}

	.wsu-s-footer__coug-watermark {
		position: absolute;    right: $unit-3xl;
		bottom: $unit-3xl;
		}


	.wsu-s-footer__coug-head {
		opacity: .10;

		fill: color(grey, 50);
		@include is-icon(150px);

	}
}
/* == End Base Styles == */

/* Dark Theme
======================= */
.wsu-s-footer__wrapper--dark {
	color: white;
	background: color(grey, 90);

	@extend .wsu-s-footer__wrapper;

	.wsu-s-footer__overview-desc {
		color: white;
	}
}

/* Crimson Theme
======================= */
.wsu-s-footer__wrapper--crimson {
	color: white;
	background: color(grey, 90);

	@extend .wsu-s-footer__wrapper;

	.wsu-s-footer__overview-desc {
		color: white;
	}
}
