<html>

<head lang="en-US">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Site Footer | Component</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" href="site-footer.css">
	<script src="site-footer.js"></script>
</head>

<body>
	<!-- COMPONENT:START -->
	<div class="wsu-s-footer__wrapper">
		<footer class="wsu-s-footer__container">
			<div class="wsu-s-footer__overview-container">
				<h1 class="wsu-s-footer__overview-title">Lorem ipsum dolor sit amet</h1>
				<p class="wsu-s-footer__overview-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint provident reprehenderit assumenda, repellendus nihil officia iure iusto recusandae harum vitae veniam doloribus.</p>
			</div>
			<nav class="wsu-s-footer__nav">
				<ul class="wsu-s-footer_nav-list">
					<li class="wsu-s-footer__nav-item--has-children">
						<a href="#" class="wsu-s-footer__nav-link">Lorem Ipsum</a>
						<ul class="wsu-s-footer__sub-menu">
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Dolar sit amet</a>
							</li>
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Lorem ipsum dolor sit amet</a>
							</li>
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Elit fusce sed ipsum dolor</a>
							</li>
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Elit fusce sed</a>
							</li>
						</ul>
					</li>
					<li class="wsu-s-footer__nav-item--has-children">
						<a href="#" class="wsu-s-footer__nav-link">Ligula Elementum</a>
						<ul class="wsu-s-footer__sub-menu">
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Dolar sit amet</a>
							</li>
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Consectectur adipiscing</a>
							</li>
						</ul>
					</li>
					<li class="wsu-s-footer__nav-item--has-children">
						<a href="#" class="wsu-s-footer__nav-link">Sed Sodales Non</a>
						<ul class="wsu-s-footer__sub-menu">
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Dolar sit amet</a>
							</li>
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Consectectur adipiscing</a>
							</li>
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Elit fusce sed</a>
							</li>
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Elit fusce sed</a>
							</li>
						</ul>
					</li>
					<li class="wsu-s-footer__nav-item--has-children">
						<a href="#" class="wsu-s-footer__nav-link">Auctor Interdum</a>
						<ul class="wsu-s-footer__sub-menu">
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Dolar sit amet</a>
							</li>
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Consectectur adipiscing</a>
							</li>
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Elit fusce sed</a>
							</li>
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Elit fusce sed</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<div class="wsu-s-footer__contact-container">
				<p class="wsu-s-footer__contact-info"><span class="wsu-s-footer__name">Lorem ipsum dolor sit amet</span>, PO Box 123456, <a href="tel:#" class="wsu-s-footer__contact-phone">P 509-123-4567</a>, <a href="tel:#" class="wsu-s-footer__contact-fax">F 509-123-4567</a></p>
				<ul class="wsu-s-footer__social-list">
					<li class="wsu-s-footer__social-list-item">
						<a href="#" class="wsu-s-footer__social-item-link">
							<img class="wsu-s-footer__social-icon" src="../../../assets/icons/instagram.svg" alt="Instagram Icon" markup-inline>
						</a>
					</li>
					<li class="wsu-s-footer__social-list-item">
						<a href="#" class="wsu-s-footer__social-item-link">
							<img class="wsu-s-footer__social-icon" src="../../../assets/icons/twitter.svg" alt="Twitter Icon" markup-inline>
						</a>
					</li>
					<li class="wsu-s-footer__social-list-item">
						<a href="#" class="wsu-s-footer__social-item-link">
							<img class="wsu-s-footer__social-icon" src="../../../assets/icons/facebook-f.svg" alt="Facebook Icon" markup-inline>
						</a>
					</li>
				</ul>
			</div>

		</footer>
		<div class="wsu-s-footer__coug-watermark">
			<img class="wsu-s-footer__coug-head" src="../../../assets/icons/WSU-Coug-Head.svg" markup-inline>
		</div>
	</div>
	<!-- COMPONENT:END -->
	<!-- COMPONENT:START -->
	<div class="wsu-s-footer__wrapper--dark">
		<footer class="wsu-s-footer__container">
			<div class="wsu-s-footer__overview-container">
				<h1 class="wsu-s-footer__overview-title">Lorem ipsum dolor sit amet</h1>
				<p class="wsu-s-footer__overview-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint provident reprehenderit assumenda, repellendus nihil officia iure iusto recusandae harum vitae veniam doloribus.</p>
			</div>
			<nav class="wsu-s-footer__nav">
				<ul class="wsu-s-footer_nav-list">
					<li class="wsu-s-footer__nav-item--has-children">
						<a href="#" class="wsu-s-footer__nav-link">Lorem Ipsum</a>
						<ul class="wsu-s-footer__sub-menu">
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Dolar sit amet</a>
							</li>
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Lorem ipsum dolor sit amet</a>
							</li>
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Elit fusce sed ipsum dolor</a>
							</li>
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Elit fusce sed</a>
							</li>
						</ul>
					</li>
					<li class="wsu-s-footer__nav-item--has-children">
						<a href="#" class="wsu-s-footer__nav-link">Ligula Elementum</a>
						<ul class="wsu-s-footer__sub-menu">
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Dolar sit amet</a>
							</li>
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Consectectur adipiscing</a>
							</li>
						</ul>
					</li>
					<li class="wsu-s-footer__nav-item--has-children">
						<a href="#" class="wsu-s-footer__nav-link">Sed Sodales Non</a>
						<ul class="wsu-s-footer__sub-menu">
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Dolar sit amet</a>
							</li>
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Consectectur adipiscing</a>
							</li>
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Elit fusce sed</a>
							</li>
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Elit fusce sed</a>
							</li>
						</ul>
					</li>
					<li class="wsu-s-footer__nav-item--has-children">
						<a href="#" class="wsu-s-footer__nav-link">Auctor Interdum</a>
						<ul class="wsu-s-footer__sub-menu">
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Dolar sit amet</a>
							</li>
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Consectectur adipiscing</a>
							</li>
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Elit fusce sed</a>
							</li>
							<li class="wsu-s-footer__nav-item">
								<a href="#" class="wsu-s-footer__nav-link">Elit fusce sed</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<div class="wsu-s-footer__contact-container">
				<p class="wsu-s-footer__contact-info"><span class="wsu-s-footer__name">Lorem ipsum dolor sit amet</span>, PO Box 123456, <a href="tel:#" class="wsu-s-footer__contact-phone">P 509-123-4567</a>, <a href="tel:#" class="wsu-s-footer__contact-fax">F 509-123-4567</a></p>
				<ul class="wsu-s-footer__social-list">
					<li class="wsu-s-footer__social-list-item">
						<a href="#" class="wsu-s-footer__social-item-link">
							<img class="wsu-s-footer__social-icon" src="../../../assets/icons/instagram.svg" alt="Instagram Icon" markup-inline>
						</a>
					</li>
					<li class="wsu-s-footer__social-list-item">
						<a href="#" class="wsu-s-footer__social-item-link">
							<img class="wsu-s-footer__social-icon" src="../../../assets/icons/twitter.svg" alt="Twitter Icon" markup-inline>
						</a>
					</li>
					<li class="wsu-s-footer__social-list-item">
						<a href="#" class="wsu-s-footer__social-item-link">
							<img class="wsu-s-footer__social-icon" src="../../../assets/icons/facebook-f.svg" alt="Facebook Icon" markup-inline>
						</a>
					</li>
				</ul>
			</div>

		</footer>
		<div class="wsu-s-footer__coug-watermark">
			<img class="wsu-s-footer__coug-head" src="../../../assets/icons/WSU-Coug-Head.svg" markup-inline>
		</div>
	</div>
	<!-- COMPONENT:END -->
</body>

</html>
