@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.wsu-c-article-header {
	margin-bottom: space( 'component' );

	&__meta {
		margin: 0;
		padding: 0;

		list-style-type: none;

		&__item {
			font-size: $wsu-bt-font-xsmall;

			display: inline-block;

			padding-right: 1rem;

			vertical-align: bottom;

			&__date:before {
				font-family: wsu-icons;
				font-size: $wsu-bt-font-small;
				font-weight: 400;

				display: inline-block;

				padding-right: 5px;

				content: "\F14E";
			}

			&__author:before {
				font-family: wsu-icons;
				font-size: $wsu-bt-font-small;
				font-weight: 400;

				display: inline-block;

				padding-right: 5px;

				content: "\F13C";
			}
		}
	}

}