<html lang="en-US">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Buttons | WDS</title>
    <link rel='stylesheet' id='wsu_design_system_demo-css' href="../../../demo/demo.css" type='text/css' media='all' />
    <!-- COMPONENT DEPENDENCIES -->
    <link rel='stylesheet' id='wsu_design_system_normalize-css' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css?ver=0.0.2.9' type='text/css' media='all' />
    <link rel='stylesheet' id='wsu_design_system_icons-css' href="https://cdn.web.wsu.edu/designsystem/1.x/wsu-icons/dist/wsu-icons.bundle.css?ver=0.0.2.9" type='text/css' media='all' />
    <!-- CONTENT STYLE -->
    <link rel='stylesheet' id='wsu_design_system_content-css' href="../../../bundles/dist/wsu-design-system.content.bundle.dist.css" type='text/css' media='all' />
    <!-- COMPONENT STYLE -->
    <link rel='stylesheet' id='wsu_design_system_component-content-button-css' href="../../../components/dist/content-button/content-button.css" type='text/css' media='all' />
</head>

<body>
    <div class="wsu-c-content wsu-c-content__demo wsu-c-content__demo--xnarrow">
        <%= require('html-loader!../../../components/dist/content-button/content-button.html') %>
    </div>
    <script type="text/javascript" src="../../../components/dist/content-button/content-button.js"></script>
</body>

</html>
