@mixin wsu-c-title-size {

	.wsu-c-title--small .wsu-c-title,
	.wsu-c-title.wsu-c-title--xlarge {
		font-size: 3rem;
		line-height: 1.3;
		font-weight: 800;
	}

	.wsu-c-title--small .wsu-c-title,
	.wsu-c-title.wsu-c-title--large {
		font-size: 1.75rem;
		line-height: 1.3;
		font-weight: 600;
	}

	.wsu-c-title--small .wsu-c-title,
	.wsu-c-title.wsu-c-title--medium {
		font-size: 1rem;
		line-height: 1.3;
		font-weight: 500;
	}

	.wsu-c-title--small .wsu-c-title,
	.wsu-c-title.wsu-c-title--small {
		font-size: 0.875rem;
		line-height: 1.3;
	}

}