/*--------------------------------------------------------------
>>> DOCUMENT LAYOUT TABLE OF CONTENTS:
----------------------------------------------------------------

# wsu-container
--------------------------------------------------------------*/

.wsu-site-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wsu-container {
    max-width: 1180px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.wsu-container.narrow-container {
    max-width: 900px;
}

.wsu-container.wide-container {
    max-width: 1400px;
}

.wsu-container.full-container {
    max-width: none;
}