/*--------------------------------------------------------------
>>> WSU CONTAINER TABLE OF CONTENTS:
----------------------------------------------------------------

# wsu-container
--------------------------------------------------------------*/
.wsu-container {
    max-width: 1180px;
    margin-left: auto !important;
    margin-right: auto !important;

    &.narrow-container {
        max-width: 900px;
    }

    &.wide-container {
        max-width: 1400px;
    }
    
    &.full-container {
        max-width: none;
    }
}

