<html style="scroll-behavior: smooth;">

<head lang="en-US">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Content Form | Component</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" href="https://cdn.web.wsu.edu/designsystem/1.x/wsu-icons/dist/wsu-icons.bundle.css">
	<link rel="stylesheet" href="content-form.css">

</head>

<body>
	<div style="max-width: 1200px; margin: 0 auto;" class="wsu-c-content">
		<div class="wsu-u-toc">
			<p>Jump to:</p>
			<ul>
				<li><a href="#1">Content Form w/ Classes</a></li>
				<li><a href="#2">Content Form without Classes</a></li>
			</ul>
		</div>
		<div class="wsu-u-spacer" id="1">
			<h1 class="wsu-u-title">Content Form w/ Classes</h1>
		</div>

		<!-- COMPONENT:START -->
		<div class="wsu-c-form__wrapper">
			<form action="#" class="wsu-c-form__container">
				<div class="wsu-c-form__field-container--text">
					<label id="companyNameLabel" for="companyName">Company Name</label>
					<input type="text" name="companyName" id="companyName" aria-labelledby="companyNameLabel" placeholder="Type something...">
				</div>

				<div class="wsu-c-form__field-container--password">
					<label id="passwordLabel" for="password">Password</label>
					<input type="password" name="password" id="password" aria-labelledby="passwordLabel" placeholder="Type something...">
				</div>

				<div class="wsu-c-form__field-container--search">
					<label id="searchLabel" for="search">Search</label>
					<input type="search" name="search" id="search" aria-labelledby="searchLabel" placeholder="Type something...">
				</div>

				<div class="wsu-c-form__field-container--textarea">
					<label id="textAreaLabel" for="textArea">Text Area</label>
					<textarea id="textArea" aria-labelledby="textAreaLabel" rows="4" cols="50" placeholder="Type something..."></textarea>
				</div>

				<div class="wsu-c-form__field-container--fieldset">
					<fieldset>
						<legend>Fieldset legend:</legend>
						<div class="wsu-c-form__field-container">
							<label id="firstNameLabel" for="firstName">First Name</label>
							<input type="text" name="firstName" id="firstName" aria-labelledby="firstNameLabel" placeholder="Type something...">
						</div>
						<div class="wsu-c-form__field-container">
							<label id="lastNameLabel" for="lastName">Last Name</label>
							<input type="text" name="lastName" id="lastName" aria-labelledby="lastNameLabel" placeholder="Type something...">
						</div>
						<div class="wsu-c-form__field-container">
							<label id="phoneNumberLabel" for="phoneNumber">Phone Number</label>
							<input type="tel" name="phoneNumber" id="phoneNumber" aria-labelledby="phoneNumberLabel" placeholder="Type something...">
						</div>
						<div class="wsu-c-form__field-container">
							<label id="emailLabel" for="email">Email</label>
							<input type="email" name="email" id="email" aria-labelledby="emailLabel" placeholder="Type something...">
						</div>
					</fieldset>
				</div>

				<div class="wsu-c-form__field-container--select">
					<label id="selectwithoptgroupLabel" for="selectwithoptgroup">Select w/ optgroup</label>
					<select id="selectwithoptgroup" aria-labelledby="selectwithoptgroupLabel">
						<optgroup label="Swedish Cars">
							<option value="volvo">Volvo</option>
							<option value="saab">Saab</option>
						</optgroup>
						<optgroup label="German Cars">
							<option value="mercedes">Mercedes</option>
							<option value="audi">Audi</option>
						</optgroup>
					</select>
				</div>
				<div class="wsu-c-form__field-container--select">
					<label id="selectLabel" for="select">Email</label>
					<select id="select" aria-labelledby="selectLabel">
						<option value="volvo">Volvo</option>
						<option value="saab">Saab</option>
						<option value="mercedes">Mercedes</option>
						<option value="audi">Audi</option>
					</select>
				</div>
				<div class="wsu-c-form__field-container--radio">
					<div class="wsu-c-form__input-item">
						<input type="radio" id="pullmanRadio" name="city" value="pullmanRadio" checked>
						<label for="pullmanRadio">Pullman</label>
						<span class="wsu-c-form__input"></span>
					</div>

					<div class="wsu-c-form__input-item">
						<input type="radio" id="spokaneRadio" name="city" value="spokaneRadio">
						<label for="spokaneRadio">Spokane</label>
						<span class="wsu-c-form__input"></span>
					</div>

					<div class="wsu-c-form__input-item">
						<input type="radio" id="tricitiesRadio" name="city" value="tricitiesRadio">
						<label for="tricitiesRadio">Tri-Cities</label>
						<span class="wsu-c-form__input"></span>
					</div>
				</div>

				<div class="wsu-c-form__field-container--checkbox">
					<div class="wsu-c-form__input-item">
						<input type="checkbox" id="moscowCheckbox" name="moscowCheckbox">
						<label for="moscowCheckbox">Moscow</label>
						<span class="wsu-c-form__input"></span>
					</div>

					<div class="wsu-c-form__input-item">
						<input type="checkbox" id="pullmanCheckbox" name="pullmanCheckbox">
						<label for="pullmanCheckbox">Pullman</label>
						<span class="wsu-c-form__input"></span>
					</div>

					<div class="wsu-c-form__input-item">
						<input type="checkbox" id="colfaxCheckbox" name="colfaxCheckbox">
						<label for="colfaxCheckbox">Colfax</label>
						<span class="wsu-c-form__input"></span>
					</div>

					<div class="wsu-c-form__input-item">
						<input type="checkbox" id="albionCheckbox" name="albionCheckbox">
						<label for="albionCheckbox">Albion</label>
						<span class="wsu-c-form__input"></span>
					</div>

					<div class="wsu-c-form__input-item">
						<input type="checkbox" id="clarkstonCheckbox" name="clarkstonCheckbox">
						<label for="clarkstonCheckbox">Clarkston</label>
						<span class="wsu-c-form__input"></span>
					</div>

					<div class="wsu-c-form__input-item">
						<input type="checkbox" id="uniontownCheckbox" name="uniontownCheckbox">
						<label for="uniontownCheckbox">Uniontown</label>
						<span class="wsu-c-form__input"></span>
					</div>
				</div>

				<button type="submit">Submit</button>
				<button type="reset">Reset</button>
			</form>
		</div>
		<!-- COMPONENT:END -->

		<div class="wsu-u-spacer" id="2">
			<h1 class="wsu-u-title">Content Form Without Classes</h1>
		</div>

		<form action="">
			<div>
				<label id="companyNameLabel" for="companyName">Company Name</label>
				<input type="text" name="companyName" id="companyName" aria-labelledby="companyNameLabel" placeholder="Type something...">
			</div>

			<div>
				<label id="passwordLabel" for="password">Password</label>
				<input type="password" name="password" id="password" aria-labelledby="passwordLabel" placeholder="Type something...">
			</div>

			<div>
				<label id="searchLabel" for="search">Search</label>
				<input type="search" name="search" id="search" aria-labelledby="searchLabel" placeholder="Type something...">
			</div>

			<div>
				<label id="textAreaLabel" for="textArea">Text Area</label>
				<textarea id="textArea" aria-labelledby="textAreaLabel" rows="4" cols="50" placeholder="Type something..."></textarea>
			</div>

			<div>
				<fieldset>
					<legend>Fieldset legend:</legend>
					<div class="wsu-c-form__field-container">
						<label id="firstNameLabel" for="firstName">First Name</label>
						<input type="text" name="firstName" id="firstName" aria-labelledby="firstNameLabel" placeholder="Type something...">
					</div>
					<div class="wsu-c-form__field-container">
						<label id="lastNameLabel" for="lastName">Last Name</label>
						<input type="text" name="lastName" id="lastName" aria-labelledby="lastNameLabel" placeholder="Type something...">
					</div>
					<div class="wsu-c-form__field-container">
						<label id="phoneNumberLabel" for="phoneNumber">Phone Number</label>
						<input type="tel" name="phoneNumber" id="phoneNumber" aria-labelledby="phoneNumberLabel" placeholder="Type something...">
					</div>
					<div class="wsu-c-form__field-container">
						<label id="emailLabel" for="email">Email</label>
						<input type="email" name="email" id="email" aria-labelledby="emailLabel" placeholder="Type something...">
					</div>
				</fieldset>
			</div>

			<div>
				<label id="selectwithoptgroupLabel" for="selectwithoptgroup">Select w/ optgroup</label>
				<select id="selectwithoptgroup" aria-labelledby="selectwithoptgroupLabel">
					<optgroup label="Swedish Cars">
						<option value="volvo">Volvo</option>
						<option value="saab">Saab</option>
					</optgroup>
					<optgroup label="German Cars">
						<option value="mercedes">Mercedes</option>
						<option value="audi">Audi</option>
					</optgroup>
				</select>
			</div>
			<div>
				<label id="selectLabel" for="select">Email</label>
				<select id="select" aria-labelledby="selectLabel">
					<option value="volvo">Volvo</option>
					<option value="saab">Saab</option>
					<option value="mercedes">Mercedes</option>
					<option value="audi">Audi</option>
				</select>
			</div>
			<div style="margin: 20px 0;">
				<input type="radio" id="pullmanRadio2" name="city2" value="pullmanRadio2" checked>
				<label for="pullmanRadio2">Pullman</label>

				<input type="radio" id="spokaneRadio2" name="city2" value="spokaneRadio2">
				<label for="spokaneRadio2">Spokane</label>

				<input type="radio" id="tricitiesRadio2" name="city2" value="tricitiesRadio2">
				<label for="tricitiesRadio2">Tri-Cities</label>
			</div>

			<div style="margin: 20px 0;">
				<input type="checkbox" id="moscowCheckbox2" name="moscowCheckbox2" checked>
				<label for="moscowCheckbox2">Moscow</label>

				<input type="checkbox" id="pullmanCheckbox2" name="pullmanCheckbox2">
				<label for="pullmanCheckbox2">Pullman</label>

				<input type="checkbox" id="colfaxCheckbox2" name="colfaxCheckbox2">
				<label for="colfaxCheckbox2">Colfax</label>

				<input type="checkbox" id="albionCheckbox2" name="albionCheckbox2">
				<label for="albionCheckbox2">Albion</label>

				<input type="checkbox" id="clarkstonCheckbox2" name="clarkstonCheckbox2">
				<label for="clarkstonCheckbox2">Clarkston</label>

				<input type="checkbox" id="uniontownCheckbox2" name="uniontownCheckbox2">
				<label for="uniontownCheckbox2">Uniontown</label>
			</div>
			<button type="submit">Submit</button>
			<button type="reset">Reset</button>
		</form>
	</div>




	<script src="content-form.js" defer></script>
	<script src="../../../node_modules/@wsu/build-tools/js/wsu-bt-toolbar.js"></script>
</body>

</html>
