@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.wsu-storybook-component {

	&__wrapper {

		&--centered {
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	
		&--content {
			padding-right: .75rem;
			padding-left: .75rem;
			max-width: 1100px;
			margin: 0 auto;
		}
	}

	&__start,
	&__end {
		width: 50px;
		text-align: center;
		margin: 0 auto;
		padding: 4px 0;
	}

	&__start {
		border-bottom: 1px dashed #ccc;
	}

	&__end {
		border-top: 1px dashed #ccc;
	}

}

[class^="wsu-storybook-component__wrapper--"],
[class*=" wsu-storybook-component__wrapper--"] {

	&.wsu-u-width {
		
		&--narrow {
			max-width: 750px;
			margin-left: auto;
			margin-right: auto;

			@media screen and (max-width:850px) {
				margin-left: 50px;
				margin-right: 50px;
			}
		}

		&--wide {
			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;

			@media screen and (max-width:1300px) {
				margin-left: 50px;
				margin-right: 50px;
			}
		}

		&--xwide {
			max-width: 1400px;
			margin-left: auto;
			margin-right: auto;

			@media screen and (max-width:1500px) {
				margin-left: 50px;
				margin-right: 50px;
			}
		}
	}
}

// Types
.wsu-storybook-component__wrapper {

	&--notice,
	&--warning,
	&--error {
		margin-top: $unit-3xl;
		padding: $unit 4em $unit 10em;
		box-sizing: border-box;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			left: 42.5px;
			top: 50%;
			transform: translateY(-50%);
			font-family: 'wsu-icons';
			font-size: 80px;
			color: rgba(0, 0, 0, 0.2);
		}
	}

	&--notice {
		background: color(gray, 5);
		border: 1px solid color(gray, 10);

		&:after {
			content: "\F123";
		}
	}

	&--warning {
		background: #ffb99d;
		border: 1px solid color(gray, 10);

		&:after {
			content: "\F152";
		}
	}

	&--error {
		background: #f18b8b;
		border: 1px solid color(gray, 10);

		&:after {
			content: "\F153";
		}
	}
}
