@import "../../../sass/variables/_colors";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.wsu-vertical-navigation-split {
    position: relative;
    border-right: 1px solid $wsu-gray-lighter;
    width: 260px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    .wsu-menu,
    .wsu-submenu {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .wsu-submenu {
        display: none;
    }

    .wsu-menu {

        & > .wsu-nav-item:first-child {
            padding-top: 1rem;
        }
    }

    .wsu-nav-item {

        padding: 0;
        margin: 0;
        list-style-type: none;

        &[aria-expanded="true"] {
            background-color: $wsu-gray-lightest;
            padding-bottom: 1rem;
        }

        a {
            text-decoration: none;
            font-size: 0.75rem;
            display: block;
            padding: 0.6rem 1.5rem;
            color: $wsu-gray-darker;
            position: relative;
            font-weight: 700;
            letter-spacing: 1px;
            line-height: 1.25rem;
        }

        &[aria-expanded="true"] > a {
            color: $wsu-crimson-bright;
        }

        .wsu-split-button {
            width: 40px;
            font-size: 0;
            flex-grow: 0;
            border-left: 1px solid $wsu-gray-lighter;
            background-image: url('/wsu-web-design-system/src/icons/nav-minus-inactive.png');
            background-position: center;
            background-size: 10px auto;
            background-repeat: no-repeat;
            background-color: transparent;
            border-right: none;
            border-bottom: none;
            border-top: none;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .wsu-split-button:hover + .wsu-submenu {
            display: block;
        }

        &.has-children {
            display: flex;
            flex-wrap: wrap;

            & > a {
                flex-grow: 1;
            }

            & > .wsu-submenu {
                width: 100%;
            }
        }

        &[aria-expanded="true"].has-children > a:after {
            background-image: url('/wsu-web-design-system/src/icons/nav-minus-inactive.png');
        }

    }

    .wsu-submenu {

        & .wsu-nav-item a {
            padding-left: 3rem;
        }

        & .wsu-submenu .wsu-nav-item a {
            padding-left: 4.5rem;
        }
    }
}