@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.wsu-c-meta-author {

	@include font-base('primary', 0.8em );
	font-style: normal;

	display: inline-block;

	margin-right: 1em;

	&::before {
		font-family: wsu-icons;
		font-weight: 400;
		display: inline-block;
		padding-right: 5px;
		content: "\F13C";
	}

	&__link {
		color: color(gray, 55);
		border-bottom-color: color(gray, 55);

		&:hover,
		&:active {
			border-bottom-color: color(gray, 55);
		}
	}

}