/* -- Alert -------- */ 
$wsu-alert-red: #da1e00;

/* -- CRIMSON -------- */
$wsu-crimson: #a60f2d;
$wsu-crimson-bright: #ca1237;
$wsu-crimson-dark:#000; /* NS */

/* -- GRAY -------- */
$wsu-gray-darkest:#000; /* NS */
$wsu-gray-darker: #404040;
$wsu-gray-dark:#000; /* NS */
$wsu-gray:#000; /* NS */
$wsu-gray-light:#000; /* NS */
$wsu-gray-lighter: #e5e5e5;
$wsu-gray-lightest: #f8f8f8;