@import '~@wsu/build-tools/scss/all-the-things';
@import '../../../assets/scss/component-reset';

/* Nav wrapper
======================= */
.wsu-s-nav-vertical__wrapper {
	position: fixed;

	display: flex;

	height: 100%;

}

/* Menu open/close button
======================= */
.wsu-s-nav-vertical__control-container {
}

.wsu-s-nav-vertical__menu-icon-link {
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: center;

	width: $unit * 3;
	height: 100%;

	text-align: center;
	text-decoration: none;

	color: color(grey, 80);
	border-right: 1px solid color(grey, 10);
	background-color: color(grey, 0);

	&:hover,
	&:visited {
		color: color(grey, 80);
	}
}

.wsu-s-nav-vertical__menu-icon {
	@include is-icon($unit);
}

.wsu-s-nav-vertical__menu-label {
	padding: $unit-2xs 0;

	text-transform: uppercase;

	@include font-size(10px);
}

/* Navigation container
======================= */
.wsu-s-nav-vertical__nav-container {
	display: flex;
	align-items: flex-end;
	flex-flow: column nowrap;

	width: 260px;

	border-right: 1px solid color(grey, 10);
	background-color: color(grey, 0);
}

// Close button
.wsu-s-nav-vertical__nav-container-close-link {
	display: flex;
	align-items: center;
	flex-flow: column nowrap;

	padding: $unit;

	text-decoration: none;

	color: color(grey, 80);


	&:hover,
	&:visited {
		color: color(grey, 80);
	}
}

.wsu-s-nav-vertical__nav-container-close-icon {
	@include is-icon($unit);

}

.wsu-s-nav-vertical__nav-container-close-label {
	padding-top: $unit-2xs;

	text-transform: uppercase;

	@include font-size(10px);
}

// Nav list

.wsu-s-nav-vertical__nav-list {
	height: 100%;
}

.wsu-s-nav-vertical__nav-item {

	&--has-children {

		& > .wsu-s-nav-vertical__nav-link::after {
			content: " >";
		}
	}
}

.wsu-s-nav-vertical__nav-link {
	display: block;

	padding: $unit-xs $unit;

	text-decoration: none;

	&--active {
		padding-left: calc(#{$unit} - 5px);

		border-left: 5px solid color(primary, light);
		background-color: color(grey, 5);

		@extend .wsu-s-nav-vertical__nav-link;
	}
}
