<!-- COMPONENT:START -->
<div class="wsu-s-nav-vertical__wrapper wsu-u-no-js">
	<nav class="wsu-s-nav-vertical__nav-container" aria-label="Vertical Site Navigation">
		<a href="#" class="wsu-s-nav-vertical__nav-container-close-link">
			<span class="wsu-icon wsu-i-x-close"></span>
			<span class="wsu-s-nav-vertical__nav-container-close-label">Close</span>
		</a>
		<ul class="wsu-s-nav-vertical__nav-list-container" id="wsu-s-nav-vertical" role="menubar" aria-label="Vertical Site Navigation">
			<li class="wsu-s-nav-vertical__nav-item" role="none">
				<a href="/demo/dist/index.html" class="wsu-s-nav-vertical__nav-link wsu-s-nav-vertical__nav-link--active">Home</a>
			</li>
			<li class="wsu-s-nav-vertical__nav-item wsu-s-nav-vertical__nav-item--has-children" role="none">
				<a href="#" class="wsu-s-nav-vertical__nav-link " role="menuitem" aria-haspopup="true" aria-expanded="true">Components</a>
				<ul class="wsu-s-nav-vertical__nav-list" role="menu" aria-label="Replace Me w/ Link Name Submenu">
					<li class="wsu-s-nav-vertical__nav-item" role="none">
						<a href="#" class="wsu-s-nav-vertical__nav-link">All Components</a>
					</li>
					<li class="wsu-s-nav-vertical__nav-item wsu-s-nav-vertical__nav-item--has-children" role="none">
						<a href="#" class="wsu-s-nav-vertical__nav-link " role="menuitem" aria-haspopup="true" aria-expanded="true">Global Components</a>
						<ul class="wsu-s-nav-vertical__nav-list" role="menu" aria-label="Replace Me w/ Link Name Submenu">
							<li class="wsu-s-nav-vertical__nav-item" role="none">
								<a href="/demo/dist/component-global-footer.html" class="wsu-s-nav-vertical__nav-link">Global Footer</a>
							</li>
							<li class="wsu-s-nav-vertical__nav-item" role="none">
								<a href="/demo/dist/component-global-header.html" class="wsu-s-nav-vertical__nav-link">Global Header</a>
							</li>
						</ul>
					</li>
					<li class="wsu-s-nav-vertical__nav-item wsu-s-nav-vertical__nav-item--has-children" role="none">
						<a href="#" class="wsu-s-nav-vertical__nav-link " role="menuitem" aria-haspopup="true" aria-expanded="true">Site Components</a>
						<ul class="wsu-s-nav-vertical__nav-list" role="menu" aria-label="Replace Me w/ Link Name Submenu">
							<li class="wsu-s-nav-vertical__nav-item" role="none">
								<a href="/demo/dist/component-site-header.html" class="wsu-s-nav-vertical__nav-link">Site Header</a>
							</li>
							<li class="wsu-s-nav-vertical__nav-item" role="none">
								<a href="/demo/dist/component-site-footer.html" class="wsu-s-nav-vertical__nav-link">Site Footer</a>
							</li>
							<li class="wsu-s-nav-vertical__nav-item" role="none">
								<a href="/demo/dist/component-site-nav-vertical.html" class="wsu-s-nav-vertical__nav-link">Site Nav Vertical</a>
							</li>
						</ul>
					</li>
					<li class="wsu-s-nav-vertical__nav-item wsu-s-nav-vertical__nav-item--has-children" role="none">
						<a href="#" class="wsu-s-nav-vertical__nav-link " role="menuitem" aria-haspopup="true" aria-expanded="true">Content Components</a>
						<ul class="wsu-s-nav-vertical__nav-list" role="menu" aria-label="Replace Me w/ Link Name Submenu">
							<li class="wsu-s-nav-vertical__nav-item" role="none">
								<a href="/demo/dist/component-content-article-copy.html" class="wsu-s-nav-vertical__nav-link">Article Copy</a>
							</li>
							<li class="wsu-s-nav-vertical__nav-item" role="none">
								<a href="/demo/dist/component-content-article-footer.html" class="wsu-s-nav-vertical__nav-link">Article Footer</a>
							</li>
							<li class="wsu-s-nav-vertical__nav-item" role="none">
								<a href="/demo/dist/component-content-article-header.html" class="wsu-s-nav-vertical__nav-link">Article Header</a>
							</li>
							<li class="wsu-s-nav-vertical__nav-item" role="none">
								<a href="/demo/dist/component-content-button.html" class="wsu-s-nav-vertical__nav-link">Buttons</a>
							</li>
							<li class="wsu-s-nav-vertical__nav-item" role="none">
								<a href="/demo/dist/component-content-card.html" class="wsu-s-nav-vertical__nav-link">Cards</a>
							</li>
							<li class="wsu-s-nav-vertical__nav-item" role="none">
								<a href="/demo/dist/component-content-column.html" class="wsu-s-nav-vertical__nav-link">Columns</a>
							</li>
							<li class="wsu-s-nav-vertical__nav-item" role="none">
								<a href="/demo/dist/component-content-form.html" class="wsu-s-nav-vertical__nav-link">Forms</a>
							</li>
							<li class="wsu-s-nav-vertical__nav-item" role="none">
								<a href="/demo/dist/component-content-heading.html" class="wsu-s-nav-vertical__nav-link">Headings</a>
							</li>
							<li class="wsu-s-nav-vertical__nav-item" role="none">
								<a href="/demo/dist/component-content-hero.html" class="wsu-s-nav-vertical__nav-link">Hero Banner</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="wsu-s-nav-vertical__nav-item wsu-s-nav-vertical__nav-item--has-children" role="none">
				<a href="#" class="wsu-s-nav-vertical__nav-link" role="menuitem" aria-haspopup="true" aria-expanded="true">Page Types</a>
				<ul class="wsu-s-nav-vertical__nav-list" role="menu" aria-label="Replace Me w/ Link Name Submenu">
					<li class="wsu-s-nav-vertical__nav-item" role="none">
						<a href="/demo/dist/content-article-bundle.html" class="wsu-s-nav-vertical__nav-link">Article/Blog Post</a>
					</li>
					<li class="wsu-s-nav-vertical__nav-item" role="none">
						<a href="#" class="wsu-s-nav-vertical__nav-link">Dolor Sit Amet</a>
					</li>
					<li class="wsu-s-nav-vertical__nav-item--has-children" role="none">
						<a href="#" class="wsu-s-nav-vertical__nav-link">Second Level Nav Item</a>
						<ul class="wsu-s-nav-vertical__nav-list" role="menu" aria-label="Replace Me w/ Link Name Submenu">
							<li class="wsu-s-nav-vertical__nav-item" role="none">
								<a href="#" class="wsu-s-nav-vertical__nav-link">Third Level Nav Item 1</a>
							</li>
							<li class="wsu-s-nav-vertical__nav-item" role="none">
								<a href="#" class="wsu-s-nav-vertical__nav-link--active">Third Level Nav Item 2</a>
							</li>
							<li class="wsu-s-nav-vertical__nav-item" role="none">
								<a href="#" class="wsu-s-nav-vertical__nav-link">Third Level Nav Item 3</a>
							</li>
						</ul>
					</li>
					<li class="wsu-s-nav-vertical__nav-item" role="none">
						<a href="#" class="wsu-s-nav-vertical__nav-link">Adipiscing Elit</a>
					</li>
					<li class="wsu-s-nav-vertical__nav-item" role="none">
						<a href="#" class="wsu-s-nav-vertical__nav-link">Sed Mollis Ipsum</a>
					</li>
					<li class="wsu-s-nav-vertical__nav-item" role="none">
						<a href="#" class="wsu-s-nav-vertical__nav-link">Sed Mollis Ipsum</a>
					</li>
				</ul>
			</li>
			<li class="wsu-s-nav-vertical__nav-item" role="none">
				<a href="#" class="wsu-s-nav-vertical__nav-link" role="menuitem">Metus lorem</a>
			</li>
			<li class="wsu-s-nav-vertical__nav-item" role="none">
				<a href="#" class="wsu-s-nav-vertical__nav-link" role="menuitem">Egestas nulla</a>
			</li>
		</ul>
	</nav>
	<a class="wsu-s-nav-vertical__menu-icon-link" href="#" aria-haspopup="true" aria-expanded="true">
		<div class="wsu-s-nav-vertical__menu-icon-container">
			<div class="wsu-s-nav-vertical__menu-icon-bar"></div>
			<div class="wsu-s-nav-vertical__menu-icon-bar"></div>
			<div class="wsu-s-nav-vertical__menu-icon-bar"></div>
		</div>
		<span class="wsu-s-nav-vertical__menu-label"></span>
	</a>
</div>
<!-- COMPONENT:END -->
