<html>

<head lang="en-US">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Site Navigation Vertical | Component</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" href="site-nav-vertical.css">
	<script src="../../../assets/js/wsu-design-system-base.js" defer></script>
	<script src="site-nav-vertical.js" defer></script>
</head>

<body>
	<!-- COMPONENT:START -->
	<div class="wsu-s-nav-vertical__wrapper wsu-u-no-js">
		<nav class="wsu-s-nav-vertical__nav-container" aria-label="Vertical Site Navigation">
			<a href="#" class="wsu-s-nav-vertical__nav-container-close-link">
				<img src="../../../assets/icons/icon-search.svg" class="wsu-s-nav-vertical__nav-container-close-icon" markup-inline>
				<span class="wsu-s-nav-vertical__nav-container-close-label">Close</span>
			</a>
			<ul class="wsu-s-nav-vertical__nav-list" id="wsu-s-nav-vertical" role="menubar" aria-label="Vertical Site Navigation">
				<li class="wsu-s-nav-vertical__nav-item--has-children" role="none">
					<a href="#" class="wsu-s-nav-vertical__nav-link" role="menuitem" aria-haspopup="true" aria-expanded="true">Dolor</a>
					<ul class="wsu-s-nav-vertical__nav-list" role="menu" aria-label="Replace Me w/ Link Name Submenu">
						<li class="wsu-s-nav-vertical__nav-item" role="none">
							<a href="#" class="wsu-s-nav-vertical__nav-link">Lorem Ipsum</a>
						</li>
						<li class="wsu-s-nav-vertical__nav-item" role="none">
							<a href="#" class="wsu-s-nav-vertical__nav-link">Dolor Sit Amet</a>
						</li>
						<li class="wsu-s-nav-vertical__nav-item" role="none">
							<a href="#" class="wsu-s-nav-vertical__nav-link--active">Consectetur</a>
						</li>
						<li class="wsu-s-nav-vertical__nav-item" role="none">
							<a href="#" class="wsu-s-nav-vertical__nav-link">Adipiscing Elit</a>
						</li>
						<li class="wsu-s-nav-vertical__nav-item" role="none">
							<a href="#" class="wsu-s-nav-vertical__nav-link">Sed Mollis Ipsum</a>
						</li>
						<li class="wsu-s-nav-vertical__nav-item" role="none">
							<a href="#" class="wsu-s-nav-vertical__nav-link">Sed Mollis Ipsum</a>
						</li>
					</ul>
				</li>
				<li class="wsu-s-nav-vertical__nav-item" role="none">
					<a href="#" class="wsu-s-nav-vertical__nav-link" role="menuitem">Sit Amet</a>
				</li>
				<li class="wsu-s-nav-vertical__nav-item" role="none">
					<a href="#" class="wsu-s-nav-vertical__nav-link" role="menuitem">Consectetur Adipiscing Elit</a>
				</li>
				<li class="wsu-s-nav-vertical__nav-item" role="none">
					<a href="#" class="wsu-s-nav-vertical__nav-link" role="menuitem">Lorem Ipsum</a>
				</li>
				<li class="wsu-s-nav-vertical__nav-item" role="none">
					<a href="#" class="wsu-s-nav-vertical__nav-link" role="menuitem">Dolor</a>
				</li>
				<li class="wsu-s-nav-vertical__nav-item" role="none">
					<a href="#" class="wsu-s-nav-vertical__nav-link" role="menuitem">Sit Amet</a>
				</li>
				<li class="wsu-s-nav-vertical__nav-item" role="none">
					<a href="#" class="wsu-s-nav-vertical__nav-link" role="menuitem">Consectetur Adipiscing Elit</a>
				</li>
				<li class="wsu-s-nav-vertical__nav-item--has-children" role="none">
					<a href="#" class="wsu-s-nav-vertical__nav-link" role="menuitem" aria-haspopup="true" aria-expanded="true">Replace Me w/ Link Name</a>
					<ul class="wsu-s-nav-vertical__nav-list" role="menu" aria-label="Replace Me w/ Link Name Submenu">
						<li class="wsu-s-nav-vertical__nav-item" role="none">
							<a href="#" class="wsu-s-nav-vertical__nav-link">Lorem Ipsum</a>
						</li>
						<li class="wsu-s-nav-vertical__nav-item" role="none">
							<a href="#" class="wsu-s-nav-vertical__nav-link">Dolor Sit Amet</a>
						</li>
						<li class="wsu-s-nav-vertical__nav-item" role="none">
							<a href="#" class="wsu-s-nav-vertical__nav-link">Consectetur</a>
						</li>
						<li class="wsu-s-nav-vertical__nav-item" role="none">
							<a href="#" class="wsu-s-nav-vertical__nav-link">Adipiscing Elit</a>
						</li>
						<li class="wsu-s-nav-vertical__nav-item" role="none">
							<a href="#" class="wsu-s-nav-vertical__nav-link">Sed Mollis Ipsum</a>
						</li>
						<li class="wsu-s-nav-vertical__nav-item" role="none">
							<a href="#" class="wsu-s-nav-vertical__nav-link">Sed Mollis Ipsum</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		<a class="wsu-s-nav-vertical__menu-icon-link" href="#" aria-haspopup="true" aria-expanded="true">
			<div class="wsu-s-nav-vertical__menu-icon-container">
				<div class="wsu-s-nav-vertical__menu-icon-bar"></div>
				<div class="wsu-s-nav-vertical__menu-icon-bar"></div>
				<div class="wsu-s-nav-vertical__menu-icon-bar"></div>
			</div>
			<span class="wsu-s-nav-vertical__menu-label"></span>
		</a>
	</div>
	<!-- COMPONENT:END -->

	<div style="height: 5000px;"></div>

	<script src="../../../node_modules/@wsu/build-tools/js/wsu-bt-toolbar.js"></script>
</body>

</html>
