@import '../../../../wsu-build-tools/scss/all-the-things.scss';
@import '../../../assets/scss/component-reset';
@import url('https://wsu-design-system.s3-us-west-2.amazonaws.com/wsu-icons-master/dist/wsu-icons.bundle.css');


/* Nav wrapper
======================= */
.wsu-s-nav-vertical__wrapper {
	display: flex;

	height: 100%;

	transition: transform timing(husky, easy-does-it);
	transition-delay: 300ms;
	transform: translateX(-365px);
}

.wsu-s-nav-vertical__wrapper--open {
	transform: translateX(0);

	&::after {
		position: absolute;

		display: block;

		width: 200%;
		height: 100%;

		content: " ";

		background: rgba(0, 0, 0, 0.5);
	}
}

/* Menu open/close button
======================= */
.wsu-s-nav-vertical__control-container {
}

.wsu-s-nav-vertical__menu-icon-link {
	position: relative;
	z-index: z('page-wrapper');

	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: center;

	width: $unit * 3;
	height: 100%;

	text-align: center;
	text-decoration: none;

	border-right: 1px solid color(grey, 5);
	background-color: color(white, base);

	&:hover,
	&:visited {
		color: color(grey, 80);
	}

	&:hover .wsu-s-nav-vertical__menu-label::after {
		content: "Open"
	}
}
.wsu-s-nav-vertical__menu-icon-link[aria-expanded="true"] {
	margin-left: -61px;

	transition: margin-left timing();
}

.wsu-s-nav-vertical__menu-icon-link[aria-expanded="false"] {
	margin-left: 0;
}

/* == Start ==============
 * Menu Icon to Arrow Animation
========================== */
.wsu-s-nav-vertical__menu-icon-link:hover {
	& > .wsu-s-nav-vertical__menu-icon-container {
		& .wsu-s-nav-vertical__menu-icon-bar:nth-child(1) {
			top: 30%;
			right: 0;

			width: 10px;

			transform: rotate(45deg);
		}
		& .wsu-s-nav-vertical__menu-icon-bar:nth-child(2) {
			width: 100%;
		}

		& .wsu-s-nav-vertical__menu-icon-bar:nth-child(3) {
			top: 72%;
			right: 0;

			width: 10px;

			transform: rotate(-45deg);
		}
	}
}
/* == End ================ */

/* == Start ==============
 * Menu Icon Bars
========================== */
.wsu-s-nav-vertical__menu-icon-container {
	position: relative;

	width: 20px;
	height: 18px;
}

.wsu-s-nav-vertical__menu-icon-bar {
	position: absolute;

	width: 100%;
	height: 3px;

	transition: all timing(cougar, easy-does-it);
	animation-direction: alternate-reverse;

	border-radius: 2px;
	background-color: color(grey, 70);
}

.wsu-s-nav-vertical__menu-icon-bar:nth-child(1) {
	top: 0%;
	right: 0;
}

.wsu-s-nav-vertical__menu-icon-bar:nth-child(2) {
	top: 50%;
}

.wsu-s-nav-vertical__menu-icon-bar:nth-child(3) {
	top: 100%;
	right: 0;

	transform: scaleX(.65) translateX(-5px);
}
/* == End ================ */

.wsu-s-nav-vertical__menu-label {
	padding: $unit-2xs 0;

	text-transform: uppercase;

	color: color(grey, 30);

	@include font-size(10px);

	&:after {
		content: "Menu";
	}
}

/* Navigation container
======================= */
.wsu-s-nav-vertical__nav-container {
	position: relative;
	z-index: z('site-header');

	display: flex;
	align-items: flex-end;
	flex-flow: column nowrap;

	width: 364px;

	border-right: 1px solid color(grey, 5);
	background-color: color(white, base);
}

.wsu-s-nav-vertical__nav-container > .wsu-s-nav-vertical__nav-list {
	height: 100%;
}

// Close button
.wsu-s-nav-vertical__nav-container-close-link {
	display: flex;
	align-items: center;
	flex-flow: column nowrap;

	padding: $unit;

	text-decoration: none;

	@include font-size(24px);
	@include fade-in-down();

	&:hover,
	&:visited {
		color: color(grey, 80);
	}
}

.wsu-s-nav-vertical__wrapper--open .wsu-s-nav-vertical__nav-container-close-link {
	@include fade-in-down('end');
}

.wsu-s-nav-vertical__nav-container-close-icon {
	@include is-icon($unit);

}

.wsu-s-nav-vertical__nav-container-close-label {
	padding-top: $unit-2xs;

	text-transform: uppercase;

	color: color(grey, 30);

	@include font-size(10px);
}

/* == Start ==============
 * Main Vertical Nav
========================== */
.wsu-s-nav-vertical__nav-list-container {
	position: relative;

	overflow: hidden;

	width: inherit;

	transition: all timing();
}

.wsu-s-nav-vertical__nav-list-container > .wsu-s-nav-vertical__nav-item {
	@include fade-in-right();

	&--has-children {
		@include fade-in-right();
	}
}

// Submenu aka ul ul
.wsu-s-nav-vertical__nav-list .wsu-s-nav-vertical__nav-list {
	padding-left: $unit;
}

.wsu-s-nav-vertical__nav-list .wsu-s-nav-vertical__nav-list .wsu-s-nav-vertical__nav-link--active {
	position: relative;
	left: -$unit;

	width: calc(100% - 40px);
	padding-left: 36px;

}

.wsu-s-nav-vertical__nav-item--has-children > .wsu-s-nav-vertical__nav-link {
	position: relative;
}

.wsu-s-nav-vertical__nav-item--has-children > .wsu-s-nav-vertical__nav-link::after {
	font-family: wsu-icons !important;
	font-weight: normal !important;
	font-style: normal;
	line-height: 1;

	position: absolute;
	top: 50%;
	right: 0;

	content: "\F131";
	transform: translateY(-50%);
	vertical-align: top;

	color: color(grey, 40);
}

.wsu-s-nav-vertical__nav-item--has-children > .wsu-s-nav-vertical__nav-link[aria-expanded="true"]::after {
	content: "\F129";
}

.wsu-s-nav-vertical__nav-item--has-children .wsu-s-nav-vertical__nav-link[aria-expanded="true"],
.wsu-s-nav-vertical__nav-item--has-children .wsu-s-nav-vertical__nav-link[aria-expanded="true"] ~ .wsu-s-nav-vertical__nav-list {
	background-color: color(grey, 0);
}

.wsu-s-nav-vertical__nav-link {
	display: block;

	padding: $unit-xs $unit;

	transition: background-color timing(), border-left timing();
	text-decoration: none;

	color: color(grey, 90);

	@include font-size(17px, 600);

	&--active {
		padding-left: calc(#{$unit} - 5px);

		border-left: 3px solid color(primary, light);
		background-color: color(grey, 5);

		@extend .wsu-s-nav-vertical__nav-link;
	}

	&:visited {
		color: color(grey, 90);
	}

	&:hover {
		border-left: 3px solid color(grey, 30);
		background-color: color(grey, 5);
	}
}

// Submenu Links
.wsu-s-nav-vertical__nav-item--has-children .wsu-s-nav-vertical__nav-list .wsu-s-nav-vertical__nav-link{
	padding-left: $unit-2xl;

	@include font-size(16px);
}

/* ARIA-Expanded styles
======================= */
.wsu-s-nav-vertical__nav-link[aria-expanded="true"] ~ .wsu-s-nav-vertical__nav-list {
	visibility: visible;

	height: auto;

	opacity: 1;
}

.wsu-s-nav-vertical__nav-link[aria-expanded="false"] ~ .wsu-s-nav-vertical__nav-list {
	visibility: hidden;

	height: 0;

	opacity: 0;
}


.wsu-s-nav-vertical__nav-list {

}



// Not component related

.wsu-g-container {
	width: 100%;
	height: 100%;

}


.wsu-c-main__container {
	max-width: 800px;
	margin: 0 auto;
}
.wsu-content__wrapper {
	// min-width: 500px;

	// transition: min-width timing();
}
.wsu-s-nav-vertical__wrapper--open + .wsu-content__wrapper {
	// min-width: 1200px;
}
