@import '~@wsu/build-tools/scss/all-the-things';
@import url('https://cdn.web.wsu.edu/designsystem/1.x/wsu-icons/dist/wsu-icons.bundle.css');

/* Nav wrapper
======================= */
.wsu-s-nav-vertical__wrapper {
	height: 100%;
}

.wsu-s-nav-vertical__wrapper ~ [class*="wsu-s-wrapper"] {
	padding-left: 61px; 
}

// Overlay
.wsu-s-nav-vertical__wrapper::after {
	content: " ";
	transition: background-color timing();
}

.wsu-s-nav-vertical__wrapper--open::after {
	position: fixed;
	z-index: z('header');
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.5);
}

.wsu-s-nav-vertical__wrapper--open:hover::after {
	cursor: pointer;
}

.wsu-s-nav-vertical__wrapper--open + [class*="wsu-s-wrapper"] {
	padding-left: 365px;
}

/* Menu open/close button
======================= */
.wsu-s-nav-vertical__menu-icon-link {
	position: fixed;
	z-index: z('dropdown');
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: center;

	width: 60px;
	height: 100vh;

	transition: transform timing(husky, ease);
	transition-delay: 200ms;
	transform: translateX(0);
	text-align: center;
	text-decoration: none;

	border-right: 1px solid color(grey, 5);
	background-color: color(white, base);

	&:hover,
	&:visited {
		color: color(grey, 80);
	}

	&:hover .wsu-s-nav-vertical__menu-label::after {
		content: "Open"
	}

	&[aria-expanded="true"] {
		transform: translate(-100px);
	}
}

/* == Start ==============
 * Menu Icon to Arrow Animation
========================== */
.wsu-s-nav-vertical__menu-icon-link:hover {
	& > .wsu-s-nav-vertical__menu-icon-container {
		& .wsu-s-nav-vertical__menu-icon-bar:nth-child(1) {
			top: 30%;
			right: 0;

			width: 10px;

			transform: rotate(45deg);
		}
		& .wsu-s-nav-vertical__menu-icon-bar:nth-child(2) {
			width: 100%;
		}

		& .wsu-s-nav-vertical__menu-icon-bar:nth-child(3) {
			top: 72%;
			right: 0;

			width: 10px;

			transform: rotate(-45deg);
		}
	}
}
/* == End ================ */

/* == Start ==============
 * Menu Icon Bars
========================== */
.wsu-s-nav-vertical__menu-icon-container {
	position: relative;

	width: 20px;
	height: 18px;
}

.wsu-s-nav-vertical__menu-icon-bar {
	position: absolute;

	width: 100%;
	height: 3px;

	transition: all timing(cougar, easy-does-it);
	animation-direction: alternate-reverse;

	border-radius: 2px;
	background-color: color(grey, 70);
}

.wsu-s-nav-vertical__menu-icon-bar:nth-child(1) {
	top: 0%;
	right: 0;
}

.wsu-s-nav-vertical__menu-icon-bar:nth-child(2) {
	top: 50%;
}

.wsu-s-nav-vertical__menu-icon-bar:nth-child(3) {
	top: 100%;
	right: 0;

	transform: scaleX(.65) translateX(-5px);
}
/* == End ================ */

.wsu-s-nav-vertical__menu-label {
	padding: $unit-2xs 0;

	text-transform: uppercase;

	color: color(grey, 30);

	@include font-size(10px);

	&:after {
		content: "Menu";
	}
}

/* Navigation container
======================= */
.wsu-s-nav-vertical__nav-container {
	position: fixed;
	z-index: z('modal') - 1;
	top: 0;
	left: 0;

	display: flex;
	overflow: auto;
	align-items: flex-end;
	flex-flow: column nowrap;

	width: 365px;
	height: 100%;
	padding-top: 65px;

	transition: transform timing();
	transform: translateX(-365px);

	border-right: 1px solid color(grey, 5);
	background-color: color(white, base);
}

.wsu-s-nav-vertical__wrapper--open > .wsu-s-nav-vertical__nav-container {
	transform: translateX(0);
}

// Close button
.wsu-s-nav-vertical__nav-container-close-link {
	display: flex;
	align-items: center;
	flex-flow: column nowrap;

	margin-top: -20px;
	padding: $unit;

	transition: opacity timing(), margin-top timing();
	text-decoration: none;

	opacity: 0;

	@include font-size(24px);

	&:hover,
	&:visited {
		color: color(grey, 80);
		outline: none;
	}
}

.wsu-s-nav-vertical__nav-container-close-icon {
	@include is-icon($unit);
}

.wsu-s-nav-vertical__nav-container-close-label {
	padding-top: $unit-2xs;

	text-transform: uppercase;

	color: color(grey, 30);

	@include font-size(10px);
}

/* == Start ==============
 * Main Vertical Nav
========================== */
.wsu-s-nav-vertical__nav-list {
	padding: 0;
}

.wsu-s-nav-vertical__nav-list-container {
	width: 100%;
	margin: 0;
}

.wsu-s-nav-vertical__nav-item,
.wsu-s-nav-vertical__nav-item--has-children {
	list-style: none;
}

.wsu-s-nav-vertical__nav-list-container > .wsu-s-nav-vertical__nav-item {
	@include fade-in-right();

	&--has-children {
		@include fade-in-right();
	}
}

// Nav Links
.wsu-s-nav-vertical__nav-list > .wsu-s-nav-vertical__nav-item .wsu-s-nav-vertical__nav-link,
.wsu-s-nav-vertical__nav-list > .wsu-s-nav-vertical__nav-item--has-children .wsu-s-nav-vertical__nav-link {
	padding-left: $unit * 2;

	color: color(grey, 60);
}

.wsu-s-nav-vertical__nav-list .wsu-s-nav-vertical__nav-list > .wsu-s-nav-vertical__nav-item .wsu-s-nav-vertical__nav-link,
.wsu-s-nav-vertical__nav-list .wsu-s-nav-vertical__nav-list > .wsu-s-nav-vertical__nav-item .wsu-s-nav-vertical__nav-link--active {
	padding-left: $unit * 3;
}

.wsu-s-nav-vertical__nav-item--has-children > .wsu-s-nav-vertical__nav-link {
	position: relative;
}

.wsu-s-nav-vertical__nav-item--has-children > .wsu-s-nav-vertical__nav-link::after {
	font-family: "wsu-icons";

	position: absolute;
	top: 50%;
	right: $unit;

	content: "\F137";
	transform: translateY(-50%);
	vertical-align: top;

	color: color(grey, 40);
}

.wsu-s-nav-vertical__nav-item--has-children > .wsu-s-nav-vertical__nav-link[aria-expanded="true"]::after {
	content: "\F12C";
}

.wsu-s-nav-vertical__nav-item--has-children .wsu-s-nav-vertical__nav-link[aria-expanded="true"],
.wsu-s-nav-vertical__nav-item--has-children .wsu-s-nav-vertical__nav-link[aria-expanded="true"] ~ .wsu-s-nav-vertical__nav-list {
	background-color: color(grey, 0);
}

.wsu-s-nav-vertical__nav-link {
	display: block;

	padding: $unit-xs $unit;

	transition: background-color timing(), border-left timing();
	text-decoration: none;

	color: color(grey, 90);

	@include font-size(18px, 600);

	&:visited {
		color: color(grey, 90);
	}

	&:focus,
	&:hover {
		border-left: 3px solid color(grey, 30);
		background-color: color(grey, 5);
	}
}

.wsu-s-nav-vertical__nav-link--active {
	padding-left: calc(#{$unit} - 5px);

	border-left: 3px solid color(primary, light);
	background-color: color(grey, 5);

	@extend .wsu-s-nav-vertical__nav-link;
}

// Submenu Links
.wsu-s-nav-vertical__nav-item--has-children .wsu-s-nav-vertical__nav-list .wsu-s-nav-vertical__nav-link {
	@include font-size(16px);
}

/* ARIA-Expanded styles
======================= */
.wsu-s-nav-vertical__nav-link[aria-expanded="true"] ~ .wsu-s-nav-vertical__nav-list {
	visibility: visible;

	height: auto;

	opacity: 1;

	overflow: hidden;
}

.wsu-s-nav-vertical__nav-link[aria-expanded="false"] ~ .wsu-s-nav-vertical__nav-list {
	visibility: hidden;

	height: 0;

	opacity: 0;

	overflow: hidden;
}

body.wsu-s-nav-vertical__nav--is-open {
	overflow: hidden;

	height: 100vh;
}


/**
 *
 * No JS styles
 *
 */
 .wsu-u-no-js {
	.wsu-s-nav-vertical__nav-container {
		transform: translate(0);
	}

	.wsu-s-nav-vertical__nav-list-container > .wsu-s-nav-vertical__nav-item,
	.wsu-s-nav-vertical__nav-list-container > .wsu-s-nav-vertical__nav-item--has-children {
		margin-left: 0;

		opacity: 1;
	}

	.wsu-s-nav-vertical__nav-link::after {
		display: none;
	}

	.wsu-s-nav-vertical__nav-container {
		position: relative;
	}
}
