@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

table.font-weights {
	width: 100%;
	text-align: left;

	th {
		border-bottom: 2px solid color(primary, light);
	}
	
	th, td {
		padding: 1em 0;
	}
}

.font-weight--black {
	font-weight: 900;
}

.font-weight--extra-bold {
	font-weight: 800;
}

.font-weight--bold {
	font-weight: 700;
}

.font-weight--semi-bold {
	font-weight: 600;
}

.font-weight--medium {
	font-weight: 600;
}

.font-weight--regular {
	font-weight: 400;
}