// TODO: nav item links on hover don't go crimson

@import '~@wsu/build-tools/scss/all-the-things';

.wsu-g-footer-wrapper {
	background-color: color(grey, 90);
}

.wsu-g-footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.wsu-g-footer__copyright {
	padding: $unit;

	color: color(grey, 0);

	@include font-size(14px, 600);
}

.wsu-g-footer__nav-list {
	display: flex;

	padding: 0;
}

.wsu-g-footer__nav-item {
	position: relative;

	@include show-child-class-on-hover('.wsu-g-footer__social-list-container');

	&--show-more {
		@extend .wsu-g-footer__nav-item;
	}
}

.wsu-g-footer__nav-link {
	display: flex;
	align-items: center;

	margin-right: $unit;
	margin-left: $unit;
	padding: $unit 0;

	text-decoration: none;

	@include border-bottom-hover($top-percentage: 92%, $width: 100%);
	@include font-size(14px, 600);

	&:link,
	&:visited {
		color: color(grey, 0);
	}

	&:hover,
	&:active {
		color: color(grey, 30);
	}
}

.wsu-g-footer__nav-arrow {
	fill: white;
	@include is-icon(16px);
}

.wsu-g-footer__social-list-container {
	position: absolute;
	right: $unit;
	bottom: 100%;

	padding: $unit-s 0;
}

.wsu-g-footer__social-list {
	// TODO: Fix padding reset in _component-rest
	padding: $unit-s 0 !important;

	border-radius: 3px;
	background-color: color(grey, 90);
}

.wsu-g-footer__social-item {
	padding: $unit-xs $unit-l;
}

.wsu-g-footer__social-link {
	display: block;

	padding: $unit-xs $unit-l;

	&:hover .wsu-g-footer__social-icon {
		fill: color(grey, 0);
	}
}

.wsu-g-footer__social-icon {
	@include is-icon($unit);
	fill: color(grey, 30);
}
