<html>

<head lang="en-US">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Global Footer | Component</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" href="global-footer.css">
	<script src="global-footer.js"></script>
</head>

<body>
	<!-- START - Placeholder to Push to Bottom of Screen -->
	<div style="height: calc(45vh); background-color: whitesmoke;"></div>
	<!-- END - Placeholder -->

	<!-- COMPONENT:START -->
	<div class="wsu-g-footer-wrapper">
		<footer class="wsu-g-footer">
			<div class="wsu-g-footer__copyright">&copy; Washington State University 2019</div>
			<nav class="wsu-g-footer__nav">
				<ul class="wsu-g-footer__nav-list">
					<li class="wsu-g-footer__nav-item">
						<a class="wsu-g-footer__nav-link" href="#">Access</a>
					</li>
					<li class="wsu-g-footer__nav-item">
						<a class="wsu-g-footer__nav-link" href="#">Policies</a>
					</li>
					<li class="wsu-g-footer__nav-item">
						<a class="wsu-g-footer__nav-link" href="#">MyWSU</a>
					</li>
					<li class="wsu-g-footer__nav-item--show-more">
						<a class="wsu-g-footer__nav-link" href="#">
							Follow WSU
							<img class="wsu-g-footer__nav-arrow" src="../../../assets/icons/icon-arrow-down-carrot.svg" alt="Down Arrow Icon" markup-inline>
						</a>
						<div class="wsu-g-footer__social-list-container">
							<ul class="wsu-g-footer__social-list">
								<li class="wsu-g-footer__social-item">
									<a class="wsu-g-footer__social-link--instagram" href="#instagram" title="Follow WSU on Instagram">
										<img class="wsu-g-footer__social-icon" src="../../../assets/icons/icon-instagram.svg" alt="Instagram Icon" markup-inline>
									</a>
								</li>
								<li class="wsu-g-footer__social-item">
									<a class="wsu-g-footer__social-link--twitter" href="#twitter" title="Follow WSU on Twitter">
										<img class="wsu-g-footer__social-icon" src="../../../assets/icons/icon-twitter.svg" alt="Twitter Icon" markup-inline>
									</a>
								</li>
								<li class="wsu-g-footer__social-item">
									<a class="wsu-g-footer__social-link--facebook" href="#facebook" title="Follow WSU on Facebook">
										<img class="wsu-g-footer__social-icon" src="../../../assets/icons/icon-facebook.svg" alt="Facebook Icon" markup-inline>
									</a>
								</li>
								<li class="wsu-g-footer__social-item">
									<a class="wsu-g-footer__social-link--more-social" href="#all" title="See More Social Options">
										<img class="wsu-g-footer__social-icon" src="../../../assets/icons/icon-more.svg" alt="Horizontal Ellipsis Icon" markup-inline>
									</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</footer>
	</div>
	<!-- COMPONENT:END -->

	<script src="../../../node_modules/@wsu/build-tools/js/toolbar.js"></script>
</body>

</html>
