<html>

<head lang="en-US">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Global Footer | Component</title>
	<link rel="stylesheet" href="../../../assets/dist/reset.css">
	<link rel="stylesheet" href="global-footer.css">
	<script src="global-footer.js"></script>
</head>

<body>
	<!-- START - Placeholder to Push to Bottom of Screen -->
	<div style="height: calc(45vh); background-color: whitesmoke;"></div>
	<!-- END - Placeholder -->

	<!-- COMPONENT:START -->
	<div class="wsu-g-footer-wrapper">
		<footer class="wsu-g-footer">
			<div class="wsu-g-footer__copyright">&copy; Washington State University 2019</div>
			<nav class="wsu-g-footer__nav">
				<ul class="wsu-g-footer__nav-list">
					<li class="wsu-g-footer__nav-item">
						<a class="wsu-g-footer__nav-link" href="#">Access</a>
					</li>
					<li class="wsu-g-footer__nav-item">
						<a class="wsu-g-footer__nav-link" href="#">Policies</a>
					</li>
					<li class="wsu-g-footer__nav-item">
						<a class="wsu-g-footer__nav-link" href="#">MyWSU</a>
					</li>
					<li class="wsu-g-footer__nav-item">
						<a class="wsu-g-footer__nav-link" href="#">Follow WSU</a>
					</li>
				</ul>
			</nav>
		</footer>
	</div>
	<!-- COMPONENT:END -->
</body>

</html>
