/* Striping tables
======================= */
.wsu-c-table--striped {
	tbody tr:nth-child(even) {
		background: color(gray, 5);
	}
}

/* Spacing tables
======================= */
.wsu-c-table--spacingCompressed {
	td,
	th {
		padding: calc(#{$unit-2xs} + 2px) $unit-xs $unit-2xs;
	}
}

.wsu-c-table--spacingExpanded {
	td,
	th {
		padding: calc(#{$unit} + 2px) $unit-xs $unit;
	}
}

/* Bordered cells 
======================= */
.wsu-c-table--borders {
	thead,
	tfoot {
		td, th {
			border-right: none;

			&:last-child {
				border-right: 1px solid color(gray, 10);
			}
		}
	}
	td, th {
		border-right: 1px solid color(gray, 10);
	}

	tr td:first-child,
	tr th:first-child {
		border-left: 1px solid color(gray, 10);
	}
}

/* Alignment
======================= */
.wsu-c-table--alignleft {
	td, th {
		text-align: left;
	}
}

.wsu-c-table--alignCenter {
	td, th {
		text-align: center;
	}
}

.wsu-c-table--alignRight {
	td, th {
		text-align: right;
	}
}