// Striping tables
.wsu-c-table--striped {
	tbody tr:nth-child(even) {
		background: color(gray, 5);
	}
}

// Spacing tables
.wsu-c-table--spacingIsCompressed {
	td,
	th {
		padding: calc(#{$unit-2xs} + 2px) $unit-xs $unit-2xs;
	}
}

.wsu-c-table--spacingIsExpanded {
	td,
	th {
		padding: calc(#{$unit} + 2px) $unit-xs $unit;
	}
}