<html>

<head lang="en-US">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Components | WSU Design System</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>

	<style>
		ul li a {
			text-transform: capitalize;
		}

		body {
			max-width: 800px;
			margin: 0 auto;
		}

		.tile {
			justify-content: space-between;
		}

		.dev-only {
			font-family: monospace;
			font-size: 12px;

			padding: 0 20px;

			text-transform: uppercase;
		}

		.quick-links {
			display: flex;
		}

		.quick-links a {
			margin-right: 10px;
			padding: 12px 20px;

			background: whitesmoke;
		}

		.quick-links a:last-child {
			margin-right: 0;
		}
	</style>
</head>

<body>
	<div class="container is-fluid">
		<h1 class="is-size-1">WSU Design System</h1>
		<h2 class="is-size-2">Components</h2>
		<ul id="links"></ul>
		<h2 class="is-size-2">Quick Links</h2>
		<div class="quick-links">
			<a href="dist" class="dist-folder">Dist Folder (for local development)</a>
			<a href="https://washingtonstateuniversity.github.io/wsu-web-design-system/demo/" class="demo-page">Demo Page (multiple components together)</a>
		</div>
	</div>

	<script>
		const container = document.querySelector("#links");

		// Get SHA https://gist.github.com/scottwb/374977
		// 99e490eeae291b8ab6476e6cadda0370a3b82134
		// f453f23220657d0cd09b2d9bc59c9e833f607195
		axios
			.get(
				"https://api.github.com/repos/washingtonstateuniversity/wsu-web-design-system/git/trees/f453f23220657d0cd09b2d9bc59c9e833f607195"
			)
			.then(function (response) {
				let data = response.data.tree;
				let item = "";
				let itemText = "";
				let itemSlug = "";
				let itemNameNoDashes = "";
				let itemLink = "";

				data.forEach(function (item) {
					itemSlug = item.path;
					itemNameNoDashes = itemSlug.replace(/-/g, " ");
					item = document.createElement("li");
					item.classList.add('tile');

					itemLink = document.createElement("a");
					itemText = document.createTextNode(itemNameNoDashes);
					itemLink.setAttribute('href', 'https://washingtonstateuniversity.github.io/wsu-web-design-system/components/dist/' + itemSlug + '/' + itemSlug + '.html')
					itemLink.appendChild(itemText);
					item.appendChild(itemLink);

					itemLinkDist = document.createElement("a");
					itemTextDist = document.createTextNode("[Local]");
					itemLinkDist.setAttribute('href', 'dist/' + itemSlug + '/' + itemSlug + '.html');
					itemLinkDist.classList.add('dev-only');
					itemLinkDist.appendChild(itemTextDist);
					item.appendChild(itemLinkDist);

					// Append list item to container
					container.appendChild(item); // Container
				});
			})
			.catch(function (err) {
				console.log(err);

				item = document.createElement("div");
				item.style.color = "red";
				item.style.fontStyle = "italic";
				item.style.fontWeight = "bolder";
				itemText = document.createTextNode(err.response.data.message);

				item.appendChild(itemText); // List item
				container.appendChild(item); // Container
			});
	</script>
</body>

</html>
