@import '~@wsu/build-tools/scss/all-the-things.scss';

.wsu-c-content {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		padding-top: space( 'component' );
		margin-top: 0;
		margin-bottom: 0;
		transition: font-size timing(cougar, standard);
		color: color(gray, 75);
		font-family: $wsu-bt-primary-font-family;

		& + p,
		& + .wsu-c-column__wrapper,
		& + blockquote,
		& + ul,
		& + img,
		& + figure {
			margin-top: 0;
		}

		& > a {
			color: inherit;
			transition: 300ms ease all;
			text-decoration: none;

			border-bottom-style: solid;
			border-bottom-color: color(primary, light); 
			border-bottom-width: 0;

			// Handles icon
			&::after {
				font-family: "wsu-icons";

				left: calc(100% + 5px);

				display: inline-block;

				padding-left: 5px;

				content: "\F126";
				transition: 300ms ease all;
				transform: scale(.85);
				text-decoration: none;

				@include font-size(16px);
			}

			// Handles hover, focus state
			&:hover,
			&:focus {

				color: inherit;
				outline: none;

				border-bottom-width: 3px;

			}

			&:focus {
				text-decoration: none;

				outline: 1px solid color(primary, light);
			}
		}
	}

	h1 {
		font-size: 3rem;
		line-height: 1.25em;
		font-weight: $wsu-bt-font-extra-bold;
		margin-bottom: space( 'medium' );
		padding-bottom: space( 'small' );
		position: relative;

		@include mq('medium','max') {
			font-size: 2.5rem;
		}
		@include mq('small','max') {
			font-size: 2rem;
		}

		&::before {
			content: "";
			display: block;
			position: absolute;
			bottom: -4px;
			left: 0;
			width: 124px;
			height: 3px;
			background-color: color('primary','light');
		}

	}

	h2 {
		font-size: 2.25rem;
		line-height: 1.3em;
		font-weight: $wsu-bt-font-bold;
		margin-bottom: space( 'small' );

		@include mq('medium','max') {
			font-size: 1.75rem;
		}
	}

	h3 {
		font-size: 2rem;
		line-height: 1.35em;
		font-weight: $wsu-bt-font-semi-bold;
		margin-bottom: space( 'xsmall' );

		@include mq('medium','max') {
			font-size: 1.5rem;
		}
	}

	h4 {
		font-size: 1.5rem;
		line-height: 1.4em;
		font-weight: $wsu-bt-font-semi-bold;
		margin-bottom: space( 'tight' );

		@include mq('medium','max') {
			font-size: 1.25rem;
		}
	}

	h5 {
		font-size: 1.25rem;
		line-height: 1.5em;
		font-weight: $wsu-bt-font-medium;
		margin-bottom: space( 'tight' );

		@include mq('medium','max') {
			font-size: 1.1rem;
		}
	}

	h6 {
		font-size: 1rem;
		line-height: 1.5em;
		font-weight: $wsu-bt-font-medium;
		margin-bottom: space( 'tight' );

	}


}
