<html>

<head lang="en-US">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Content Heading | Component</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" href="https://cdn.web.wsu.edu/designsystem/1.x/wsu-icons/dist/wsu-icons.bundle.css">
	<link rel="stylesheet" href="content-heading.css">
	<link rel="stylesheet" href="../../dist/containers/containers.css">
	<link rel="stylesheet" href="../../dist/content-column/content-column.css">
	<script src="content-heading.js"></script>
</head>

<body>
	<div class="wsu-g-container">
		<div class="wsu-s-wrapper">
			<div class="wsu-s-main-container">
				<div class="wsu-c-container wsu-c-content">
					<!-- COMPONENT:START -->
					<h1>The quick crimson cougar jumps over the lazy husky</h1>
					<h2>The quick crimson cougar jumps over the lazy husky</h2>
					<h3>The quick crimson cougar jumps over the lazy husky</h3>
					<h4>The quick crimson cougar jumps over the lazy husky</h4>
					<h5>The quick crimson cougar jumps over the lazy husky</h5>
					<h6>The quick crimson cougar jumps over the lazy husky</h6>
					<!-- COMPONENT:END -->
					<div class="wsu-c-column__wrapper wsu-c-columns--thirds">
						<div class="wsu-c-column">
							<h2>Cimson cougar</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin est vitae 
								dolor vehicula, convallis posuere sem rhoncus. Mauris ut consequat nisi, non efficitur 
								velit. Nunc condimentum nisi nec blandit varius. Nam sit amet varius elit. Aliquam 
								lectus lorem, dapibus et facilisis vel, interdum et purus.
							</p>
						</div>
						<div class="wsu-c-column">
							<h2>Jumps over</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin est vitae 
								dolor vehicula, convallis posuere sem rhoncus. Mauris ut consequat nisi, non efficitur 
								velit. Nunc condimentum nisi nec blandit varius. Nam sit amet varius elit. Aliquam 
								lectus lorem, dapibus et facilisis vel, interdum et purus.
							</p>
						</div>
						<div class="wsu-c-column">
							<h2>Lazy husky</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin est vitae 
								dolor vehicula, convallis posuere sem rhoncus. Mauris ut consequat nisi, non efficitur 
								velit. Nunc condimentum nisi nec blandit varius. Nam sit amet varius elit. Aliquam 
								lectus lorem, dapibus et facilisis vel, interdum et purus.
							</p>
						</div>
					</div>
					<div class="wsu-c-column__wrapper wsu-c-columns--sidebar-right">
						<div class="wsu-c-column">
							<h2><a href="">The quick crimson cougar</a></h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin est vitae 
								dolor vehicula, convallis posuere sem rhoncus. Mauris ut consequat nisi, non efficitur 
								velit. Nunc condimentum nisi nec blandit varius. Nam sit amet varius elit. Aliquam 
								lectus lorem, dapibus et facilisis vel, interdum et purus.
							</p>
							<h3><a href="">Jumps over</a></h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin est vitae 
								dolor vehicula, convallis posuere sem rhoncus. Mauris ut consequat nisi, non efficitur 
								velit. Nunc condimentum nisi nec blandit varius. Nam sit amet varius elit. Aliquam 
								lectus lorem, dapibus et facilisis vel, interdum et purus.
							</p>
							<h4><a href="">The lazy husky</a></h4>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin est vitae 
								dolor vehicula, convallis posuere sem rhoncus. Mauris ut consequat nisi, non efficitur 
								velit. Nunc condimentum nisi nec blandit varius. Nam sit amet varius elit. Aliquam 
								lectus lorem, dapibus et facilisis vel, interdum et purus.
							</p>
						</div>
						<div class="wsu-c-column">
							<h2>Lazy husky</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin est vitae 
								dolor vehicula, convallis posuere sem rhoncus. Mauris ut consequat nisi, non efficitur 
								velit. Nunc condimentum nisi nec blandit varius. Nam sit amet varius elit. Aliquam 
								lectus lorem, dapibus et facilisis vel, interdum et purus.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
