@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

$list-indent: 1.3em;
$list-item-padding: 0.75em;
$bullet-size: 0.375em;

/* Common list styling
 ================================= */
 .wsu-c-list,
 .wsu-c-content ol:not([class^="wsu-c-"]):not([class*=" wsu-c-"]),
 .wsu-c-content ul:not([class^="wsu-c-"]):not([class*=" wsu-c-"]) {

	font-family: $wsu-bt-primary-font-family;
	line-height: 1.5;
	margin: 0;
	margin-left: $list-indent;
	padding-left: $list-indent;
	margin-bottom: 1.5em;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;

	list-style: none;

	.wsu-c-list,
	ul,
	ol {
		margin-top: 0.75em;
		padding-left: $list-indent;
		margin-left: $list-indent;
		margin-bottom: 1em;
	}

	li {
		font-family: $wsu-bt-primary-font-family;

		position: relative;
		margin-bottom: 0.75em;
	}

 }


 /* Unordered list styling
 ================================= */
 ul.wsu-c-list,
 .wsu-c-content ul:not([class^="wsu-c-"]):not([class*=" wsu-c-"]) {

	& > li {
	
		&::before {
			content: "";
			display: inline-block;
	
			width: $bullet-size;
			height: $bullet-size;
	
			border-radius: 50%;
	
			background-color: color(primary, light);
			position: absolute;
			left: -1.2em;
			top: 0.5em;
			
		}
	
		/* Sub-ordered lists are hollow circle
		======================= */
		ul > li::before {
			background-color: color(white, base);
			border: 1px solid color(primary, light);
		}
	}

 }


/* Ordered list styling
================================= */
ol.wsu-c-list,
.wsu-c-content ol:not([class^="wsu-c-"]):not([class*=" wsu-c-"]) {

	counter-reset: wsu-ordered-list;

	& > li {

		counter-increment: wsu-ordered-list;

		&::before {
			font-weight: 600;

			position: absolute;
			top: 0;
			left: -1.5em;

			height: auto;
			margin-right: 0;

			content: counter(wsu-ordered-list) ".";
			text-align: right;

			color: color(primary, light);
			background-color: unset;
			border: none;
		}
	}

	/* Sub-ordered lists are letters
	======================= */
	ol > li::before {
		content: counter(wsu-ordered-list, lower-alpha) ". ";
	}

}

@for $i from 1 through 100 {
	ol.wsu-c-list[start="#{$i}"],
	.wsu-c-content ol[start="#{$i}"]:not([class^="wsu-c-"]):not([class*=" wsu-c-"]) {
	  counter-reset: wsu-ordered-list $i ;
	}
}

/* Modifiers
================================= */
.wsu-m-list {

	&--separated {

		li {

			border-top: 1px solid color( gray, 20 );

			padding-bottom: 1.1em;
			padding-top: 1.1em;
			margin-bottom: 0 !important;

			&:last-child {
				border-bottom: 1px solid color( gray, 20 );
			}

			&::before {
				display: none !important;
			}
		}

		ol,
		ul {

			margin-bottom: 0 !important;

			li:last-child {
				padding-bottom: 0;
			}

		}

		li:last-child {
			border-bottom: none;
		}
	}

	&--no-indent {

		margin-left: 0 !important;
		padding-left: 0 !important;
	}
}

/**
 *
 * Create counter reset helper classes 1 - 99
 *
 */
@for $i from 1 through 99 {
	.wsu-c-list__ordered-reset--#{$i} {
		counter-reset: wsu-ordered-list #{$i};
	}
}

@import './styles/separators';