/* TODO: Cleanup/organize styles
======================= */
.wsu-g-container {
	display: flex;

	width: 100%;
	height: 100%;
}

.wsu-content__wrapper {
	transition: all timing();
}

.wsu-c-main__container {
	max-width: 1440px;
	margin-right: $unit;
	margin-left: $unit;

	@include mq('large') {
		margin-right: $unit-3xl;
		margin-left: $unit-3xl;
	}
}

.wsu-icon {
	width: 24px;
}


.wsu-g-content {
	max-width: 1440px;
	margin: 0 auto;
}
