<html lang="en-US">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Design System Demo</title>
	<link rel='stylesheet' id='wsu_design_system_normalize-css'  href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css?ver=0.0.2.9' type='text/css' media='all' />
	<link rel='stylesheet' id='wsu_design_system_icons-css' href="https://cdn.web.wsu.edu/designsystem/1.x/wsu-icons/dist/wsu-icons.bundle.css?ver=0.0.2.9" type='text/css' media='all' />
	<link rel='stylesheet' id='wsu_design_system_normalize-css' href="../build/dist/wsu-design-system.bundle.dist.css" type='text/css' media='all' />
</head>

<body>
	<%= require('html-loader!../components/dist/global-header/global-header.html') %>
	<div class="wsu-g-container">
		<%= require('html-loader!../components/dist/site-nav-vertical/site-nav-vertical.html') %>
		<div class="wsu-s-wrapper">
			<%= require('html-loader!../components/dist/site-header/site-header.html') %>
			<div class="wsu-s-main-container">
				<div class="wsu-c-container wsu-c-content">
					<%= require('html-loader!../components/dist/content-hero/content-hero.html') %>
					<%= require('html-loader!../components/dist/content-article-header/content-article-header.html') %>
					<%= require('html-loader!../components/dist/content-article-copy/content-article-copy.html') %>
					<%= require('html-loader!../components/dist/content-article-footer/content-article-footer.html') %>
				</div>
			</div>
			<%= require('html-loader!../components/dist/site-footer/site-footer.html') %>
			<%= require('html-loader!../components/dist/global-footer/global-footer.html') %>
		</div>
	</div>
<script type="text/javascript" src="../build/dist/wsu-design-system.bundle.dist.js"></script>
</body>
</html>