@import '../../../assets/scss/component-reset';
@import '~@wsu/build-tools/scss/all-the-things';

/* Start Base Styles
======================= */
.wsu-s-nav-horizontal__wrapper {
	white-space: nowrap;

	background-color: color(grey, 0);

	.wsu-s-nav-horizontal__nav-list {
		display: inline-block;

		@include font-size(16px, 600, 1);
	}

	.wsu-s-nav-horizontal__nav-item {
		display: inline-block;

		// Is a submenu
		&--has-children {
			position: relative;

			@extend .wsu-s-nav-horizontal__nav-item;

			& .wsu-s-nav-horizontal__nav-list {
				transition: 300ms timing(cougar, standard);
			}
		}

		// Is in priority nav
		&--more {
			@extend .wsu-s-nav-horizontal__nav-item;
		}
	}

	.wsu-s-nav-horizontal__nav-link {
		display: block;

		padding: $unit;

		text-decoration: none;

		color: color(grey, 100);

		&:hover {
			color: color(primary, base);
		}

		&[aria-expanded="true"] ~ .wsu-s-nav-horizontal__nav-list {
			display: block;

			opacity: 1;
		}

		&[aria-expanded="false"] ~ .wsu-s-nav-horizontal__nav-list {
			display: none;

			opacity: 0;

		}

	}
}
/* == End Base Styles == */

/* Dark Theme
======================= */
.wsu-s-nav-horizontal__wrapper--dark {
	color: color(grey, 0);
	background: color(grey, 90);

	@extend .wsu-s-nav-horizontal__wrapper;
}



.wsu-s-nav-horizontal__nav-item--more {
	.wsu-s-nav-horizontal__nav-list--has-children {
		display: none;
	}
}

/* No js
======================= */
.wsu-u-no-js {
	.wsu-s-nav-horizontal__nav-container {
		white-space: initial;
	}
}
