
@import '~@wsu/build-tools/scss/all-the-things';

/* Start Base Styles
======================= */
.wsu-s-nav-horizontal__wrapper {
	white-space: nowrap;

	background-color: color(grey, 0);
}

.wsu-s-nav-horizontal__nav-container {
	position: relative;
}

.wsu-s-nav-horizontal__nav-list {
	display: inline-block;

	@include font-size(16px, 600, 1);
}

.wsu-s-nav-horizontal__nav-item,
.wsu-s-nav-horizontal__nav-item--has-children,
.wsu-s-nav-horizontal__nav-item--more {
	display: inline-block;
}

.wsu-s-nav-horizontal__nav-link {
	@include font-size(14px, 600, 1);
}

// Is a submenu
.wsu-s-nav-horizontal__nav-item--has-children {
	position: relative;

	& > .wsu-s-nav-horizontal__nav-link:after {
		padding-left: $unit-2xs;

		@include is-psuedo-element($content: ">", $display: inline-block);
	}

	& > .wsu-s-nav-horizontal__nav-list {
		position: absolute;
		top: calc(100% + #{$unit});
		left: $unit;

		display: block;

		width: 200px;
		padding: $unit-xs 0;

		transition: color timing(cougar, standard);
		white-space: normal;

		border-radius: $wsu-bt-base-border-radius-size;
		background: color(grey, 0);

		& .wsu-s-nav-horizontal__nav-link,
		& .wsu-s-nav-horizontal__nav-link--active {
			padding: $unit-xs $unit;

			transition: padding-left timing(husky);

			color: color(grey, 60);

			@include font-size(13px, 600, 1);
		}

		& .wsu-s-nav-horizontal__nav-link:hover {
			padding-left: $unit + $unit-xs;
		}

		& .wsu-s-nav-horizontal__nav-link--active {
			padding-left: $unit + $unit-xs;

			border-left: 5px solid color(primary, light);
		}

	}

	& .wsu-s-nav-horizontal__nav-item {
		display: block;
	}
}

.wsu-s-nav-horizontal__nav-link,
.wsu-s-nav-horizontal__nav-link--active {
	display: block;

	padding: $unit;

	transition: color timing();
	text-decoration: none;

	color: color(grey, 100);

	&:visited {
		color: color(grey, 100);
	}

	&:hover,
	&:active {
		color: color(grey, 100);
	}


	&[aria-expanded="true"] ~ .wsu-s-nav-horizontal__nav-list,
	&[aria-expanded="true"] ~ .wsu-s-nav-horizontal__nav-list--has-more-items {
		display: block;

		opacity: 1;
	}

	&[aria-expanded="false"] ~ .wsu-s-nav-horizontal__nav-list,
	&[aria-expanded="false"] ~ .wsu-s-nav-horizontal__nav-list--has-more-items {
		display: none;

		opacity: 0;

	}
}

// .wsu-s-nav-horizontal__more-button {
// 	@include is-icon(16px);
// 	fill: color(grey, 40);
// }

// More menu styles
.wsu-s-nav-horizontal__nav-item--more {
	position: relative;

	& > .wsu-s-nav-horizontal__nav-link:after {
		padding-left: $unit-2xs;

		@include is-psuedo-element($content: ">", $display: inline-block);
	}


	& > .wsu-s-nav-horizontal__nav-list,
	& > .wsu-s-nav-horizontal__nav-list--has-more-items {
		position: absolute;
		top: calc(100% + #{$unit});
		right: $unit;

		display: block;

		width: 200px;
		padding: $unit-xs 0;

		transition: color timing(cougar, standard);
		white-space: normal;

		border-radius: $wsu-bt-base-border-radius-size;
		background: color(grey, 0);

		.wsu-s-nav-horizontal__nav-link,
		.wsu-s-nav-horizontal__nav-link--active {
			padding: $unit-xs $unit;

			transition: padding-left timing(husky);

			color: color(grey, 60);

			@include font-size(13px, 600, 1);
		}

		.wsu-s-nav-horizontal__nav-link:hover {
			padding-left: $unit + $unit-xs; // TODO: move over 5px using relative positioning instead of padding
		}

		.wsu-s-nav-horizontal__nav-link--active {
			padding-left: $unit + $unit-xs;

			border-left: 5px solid color(primary, light);
		}
	}

	.wsu-s-nav-horizontal__nav-item {
		display: block;
	}
}

// Submenus in the Priority Navigation
.wsu-s-nav-horizontal__nav-list--has-more-items > .wsu-s-nav-horizontal__nav-item--has-children .wsu-s-nav-horizontal__nav-list {
	position: relative;
	left: 0;

	background-color: transparent;
}
/* == End Base Styles == */

/* Dark Theme
======================= */
.wsu-s-nav-horizontal__wrapper--dark {
	color: color(grey, 0);
	background: color(grey, 90);

	@extend .wsu-s-nav-horizontal__wrapper;
}

/* No js
======================= */
.wsu-u-no-js {
	.wsu-s-nav-horizontal__nav-container {
		white-space: initial;
	}
}
