<header class="wsu-global-header" role="banner">
    <div class="wsu-global-header-inner">
        <a href="https://wsu.edu" class="wsu-wordmark" role="logo" aria-label="Visit WSU Homepage"></a>
        <div class="wsu-header-title">
            <span>Washingtion State University</span>
        </div>
        <nav class="wsu-global-nav">
            <a class="nav-item" href="#">Lorem Ipsum</a>
            <a class="nav-item" href="#">Dolor</a>
            <a class="nav-item" href="#">Sit Amet</a>
            <a class="nav-item" href="#">Consectetur</a>
        </nav>
    </div>
</header>