/* NS */
/* NS */
/* NS */
/* NS */
/* NS */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.wsu-global-header {
  color: #404040;
  background-color: #e5e5e5;
  font-family: 'Montserrat', sans-serif; }
  .wsu-global-header:before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: 5px;
    background-color: #a60f2d;
    z-index: 1; }
  .wsu-global-header .wsu-global-header-inner {
    display: flex;
    position: relative;
    z-index: 2; }
  .wsu-global-header .wsu-wordmark {
    display: block;
    width: 80px;
    height: 60px;
    background-color: #ca1237;
    background-image: url("/wsu-web-design-system/src/logos/cougar-head-temp.png");
    background-size: 30px auto;
    background-position: center center;
    background-repeat: no-repeat; }
  .wsu-global-header .wsu-header-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75rem; }
    .wsu-global-header .wsu-header-title a {
      color: #404040;
      text-decoration: none; }
  .wsu-global-header .wsu-global-nav {
    padding-right: 1rem;
    display: flex; }
    .wsu-global-header .wsu-global-nav .wsu-menu {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex; }
    .wsu-global-header .wsu-global-nav .wsu-nav-item {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex; }
      .wsu-global-header .wsu-global-nav .wsu-nav-item a {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        color: #404040;
        font-size: 0.75rem;
        text-decoration: none;
        font-weight: 600; }
      .wsu-global-header .wsu-global-nav .wsu-nav-item.wsu-search a {
        background-image: url("/wsu-web-design-system/src/icons/search.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 22px auto;
        font-size: 0;
        min-width: 30px; }
