@import "../../../sass/variables/_colors";
@import "../../../sass/mixins/_content_formating";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.wsu-global-header {

    $header-title-font-size: 0.75rem;
    $text-color: $wsu-gray-darker;

    color: $text-color;
    background-color: $wsu-gray-lighter;
    font-family: 'Montserrat', sans-serif;

    &:before {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        left: 0; 
        height: 5px;
        background-color: $wsu-crimson;
        z-index: 1;
    }

    .wsu-global-header-inner {
        display: flex;
        position: relative;
        z-index: 2;
    }

    .wsu-wordmark {
        display: block;
        width: 80px;
        height: 60px;
        background-color: $wsu-crimson-bright;
        background-image: url('/wsu-web-design-system/src/logos/cougar-head-temp.png');
        background-size: 30px auto;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .wsu-header-title {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 1;
        @include content-left-right-padding; 
        text-transform: uppercase;
        font-weight: 600;
        font-size: $header-title-font-size;

        a {
            color: $wsu-gray-darker;
            text-decoration: none;
        }
    }

    .wsu-global-nav {
        padding-right: 1rem;
        display: flex;

        .wsu-menu {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
        }

        .wsu-nav-item {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;

            a {
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                color: $wsu-gray-darker;
                font-size: 0.75rem;
                text-decoration: none;
                font-weight: 600;
            }

            &.wsu-search a {
                background-image: url('/wsu-web-design-system/src/icons/search.png');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 22px auto;
                font-size: 0;
                min-width: 30px;
            }
        }
    }
}