/* Highly Accessible Link Style
======================= */
.wsu-c-content a.wsu-c-link_a11y {
	color: color(primary, base);

	&:visited {
		@extend a;
	}

	&:hover,
	&:focus {
		border-top: 1px solid color(primary, base);
		border-bottom: 1px solid color(primary, base);
		border-radius: 4px;
		background-color: color(grey, 10);
	}
}
