/* Content link styles 
======================= */
.wsu-c-content a {
	transition: border-bottom-width timing( 100 );

	color: color(primary, base);

	text-decoration: none;

	border-bottom-color: color(primary, light); 

	border-bottom-width: 1px; 

	border-bottom-style: solid; 

	&:visited {
		@extend a;
	}

	&:hover {

		border-bottom-width: 3px; 
	}

	&:focus {
		text-decoration: none;

		outline: 1px solid color(primary, base);
	}
}
