.wsu-c-list--separators {
	li {
		border-bottom: 1px solid color(gray, 10);
		padding: .7rem 0 .7rem 1.1rem;
		line-height: 1.6;

		&:last-child {
			border-bottom: none;
		}

		&:before {
			display: none;
		}
	}
}