@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.wsu-c-button a,
.wsu-c-content button,
.wsu-c-button {

	display: inline;

	margin-top: 1.5rem;
	margin-bottom: 2em;

	border-radius: 8px;
	border: none;

	color: color(white, base );
	background-color: color(primary, light);

	@include font-size(1rem, 600);

	padding: 1em 3em;

	transition: box-shadow timing(cougar, standard);

	cursor: pointer;

	&:hover {
		color: color(white, base);
		background-color: color(primary, base);
		box-shadow: 0 5px 18px rgba(0, 0, 0, 0.4);
	}

}

.wsu-c-button a {
	display: block;
	text-decoration: none;
}

.wsu-c-button--white {
	background-color: color( white, base );
	color: #7F7F7F;
	border: 1px solid #E5E5E5;

	&:hover {
		color: color(primary, light );
		background-color: color( white, base );
		border-color: color(primary, light );
	}
}

.wsu-c-button--small {
	@include font-size(0.8rem, 600);
}

.wsu-c-button--large {
	@include font-size(1.25rem, 600);
}

.wsu-c-button--round {

	border-radius: 25px;

}

