@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.wsu-c-content blockquote,
.wsu-c-blockquote {
	@include font();
	
	position: relative;
	padding-top: 2.1em;
	margin: 0 3em 2em;

	&::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52.884' height='41.652' viewBox='0 0 52.884 41.652'%3E%3Cpath d='M22.776-96.1a10.877,10.877,0,0,1,5.148,9.828,11.834,11.834,0,0,1-3.432,8.736,11.641,11.641,0,0,1-8.58,3.432,11.545,11.545,0,0,1-8.268-3.276,11.711,11.711,0,0,1-3.432-8.892,13.153,13.153,0,0,1,.78-4.6,44.321,44.321,0,0,1,2.34-5.07l11.076-19.812h11.7Zm26.988,0a10.877,10.877,0,0,1,5.148,9.828,11.834,11.834,0,0,1-3.432,8.736A11.641,11.641,0,0,1,42.9-74.1a11.545,11.545,0,0,1-8.268-3.276A11.711,11.711,0,0,1,31.2-86.268a13.153,13.153,0,0,1,.78-4.6,44.32,44.32,0,0,1,2.34-5.07L45.4-115.752H57.1Z' transform='translate(-4.212 115.752)' fill='%23ca1237'/%3E%3C/svg%3E");
		content:"";
		background-size: contain;
		display: block;
		position: absolute;
		width: 2em;
		height: 2em;
		background-repeat: no-repeat;
		top: 0;
		left: 0;
	}

	cite {
		display: block;
		font-size: 0.8em;
		font-style: normal;
		font-weight: 500;
		position: relative;
		margin-top: 0.65em;

		&::before {
			content: '\2014';
			display: inline-block;
			top: 0;
			left: 0;
			margin-right: 0.3em;
		}
	}

	&--text-size {

		&-xsmall {
			font-size: 0.8.5rem;
		}

		&-small {
			font-size: 0.9rem;
		}

		&-medium {
			font-size: 1rem;
		}

		&-medium-large {
			font-size: 1.25rem;
		}

		&-large {
			font-size: 1.75rem;
		}
	}

	&--width {

		&-small {
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;
		}

		&-medium {
			max-width: 550px;
			margin-left: auto;
			margin-right: auto;
		}

		&-medium-large {
			max-width: 700px;
			margin-left: auto;
			margin-right: auto;
		}

		&-large {
			max-width: 850px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
