/* Cards Container / Wrapper / Helpers
======================= */
.wsu-c-cards__wrapper {
	display: flex;
	flex-flow: row wrap;

	padding: 0 $unit-xs;

	&.wsu-c-cards__items-per-row {
		&--1 .wsu-c-card__container,
		&--2 .wsu-c-card__container,
		&--3 .wsu-c-card__container,
		&--4 .wsu-c-card__container,
		&--5 .wsu-c-card__container {
			padding: $unit-xs $unit;
		}

		&--1 .wsu-c-card__wrapper {
			width: 100%;
		}

		&--2 .wsu-c-card__wrapper {
			width: 100%;
		}

		&--3 .wsu-c-card__wrapper {
			width: 100%;
		}

		&--4 .wsu-c-card__wrapper {
			width: 100%;
		}

		&--5 .wsu-c-card__wrapper {
			width: 100%;
		}
	}
}

/* Media Queries
======================= */
@include mq('xsmall') {
	.wsu-c-cards__wrapper {
		&.wsu-c-cards__items-per-row {
			&--1 .wsu-c-card__container,
			&--2 .wsu-c-card__container,
			&--3 .wsu-c-card__container,
			&--4 .wsu-c-card__container,
			&--5 .wsu-c-card__container {
				padding: $unit-xs;
			}

			&--2 .wsu-c-card__wrapper {
				width: 50%;
			}

			&--3 .wsu-c-card__wrapper,
			&--4 .wsu-c-card__wrapper,
			&--5 .wsu-c-card__wrapper {
				width: 50%;
			}
		}
	}
}

@include mq('small') {
	.wsu-c-cards__wrapper.wsu-c-cards__items-per-row {
		&--3 .wsu-c-card__wrapper,
		&--4 .wsu-c-card__wrapper,
		&--5 .wsu-c-card__wrapper {
			width: 33.33%;
		}
	}
}

@include mq('medium') {
	.wsu-c-cards__wrapper {
		padding: 0;
		& .wsu-c-cards__items-per-row {
			&--4 .wsu-c-card__wrapper {
				width: 25%;
			}

			&--5 .wsu-c-card__wrapper {
				width: 20%;
			}
		}
	}
}

@include mq('large') {
	.wsu-c-cards__wrapper {
		padding: 0;
	}
}
