@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

@mixin link-icon( $icon ) {
	content: $icon;
	font-family: 'wsu-icons';
	display: inline;
	margin-right: 0.5em;
	font-size: 0.8em;
}

/* Cards Container / Wrapper / Helpers
======================= */
.wsu-c-cards__wrapper {
	@include font();
	
	display: flex;
	flex-flow: row wrap;

	padding: 0 $unit-xs;

	&.wsu-c-cards__items-per-row {
		&--1 .wsu-c-card__container,
		&--2 .wsu-c-card__container,
		&--3 .wsu-c-card__container,
		&--4 .wsu-c-card__container,
		&--5 .wsu-c-card__container {
			padding: $unit-xs $unit;
		}

		&--1 .wsu-c-card {
			width: 100%;
		}

		&--2 .wsu-c-card {
			width: 100%;
		}

		&--3 .wsu-c-card {
			width: 100%;
		}

		&--4 .wsu-c-card {
			width: 100%;
		}

		&--5 .wsu-c-card {
			width: 100%;
		}
	}
}

/* WSU Card Styles
======================= */
.wsu-c-card {

	&__wrapper {
		display: flex;
		@include font-base();
	}

	&__container {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
	}

	&__content {
		overflow: hidden;
	
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		padding: 0;
	
		transition: box-shadow timing();
	
		color: color(gray, 75);
		border-radius: $wsu-bt-base-border-radius-size;
	
		-webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.125);
-moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.125);
box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.125);
	
		&:hover {
			
			-webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
			-moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
			box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
	
			// TODO: Only change the bg color if the whole card is clickable
			& .wsu-c-card__byline-container {
				// background-color: color(gray, 0);
	
				&::after {
					// color: color(gray, 40);
				}
			}
		}
	
		& > *:last-child {
			margin-bottom: $unit-xs;
		}
	}

	&__photo-frame {
		width: 100%;
		padding-bottom: 56.25%;
		position: relative;
	}

	&__photo-wrapper {
		width: auto;
		height: auto;
		margin: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	&__photo {
		width: 100%;
		height: 100% !important;
		object-fit: cover;
		object-position: center;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	&__copy {
		margin-left: 1.3em;
		margin-right: 1.3em;
		margin-top: 1em;
		margin-bottom: 0.5em;
	}

	&__content-footer {
		border-top: 2px solid color(gray, 0);
		@include font-size(12px, 400);
		margin-top: 1.5em;
		& > *:last-child {
			margin-bottom: $unit-s;
		}
	}

	&__categories {
		margin: $unit-xs 0 $unit-xs 0;
	}

	&__categories-label {
		text-transform: uppercase;
		// @include font-size(12px, 400);
		transform: scale(.85) translate(-5px, 1px);
		display: inline-block;
	
	}

	&__tags {
		line-height: 1;
		vertical-align: bottom;
		margin: $unit-xs 0 $unit-xs 0;
	}
	
	&__tags-label .wsu-icon {
		margin-right: $unit-xs;
	}

	&__tags-more {
		color: inherit;
		text-decoration: none;
		padding-left: 5px;
		padding-right: 5px;
	
		& .wsu-icon::before {
			display: inline-block;
			margin-top: 4px;
		}
	}

	&__byline-container {
		background-color: color(white, primary);
		margin: 1em 0 1em 0;
		position: relative;
		transition: timing() background-color;
	}

	&__byline-meta {
		margin: 0;

		&::before {
			@include link-icon( "\F10E" );
		}
	}

	&__author {
		margin: 0;

		&::before {
			@include link-icon( "\F13C" );
		}
	}

	&__description {
		margin: 0 $unit;
		padding: 0;
	}

	&__heading {
		font-size: 1em;
		font-weight: 600;
		margin-top: 0;
		margin-bottom: 0.5em;
		line-height: 1.3;
	
		&-link:visited,
		&-link {
			color: color( gray, 85 );
			text-decoration: none;
	
			&::after {
				font-family: "wsu-icons";
				display: inline-block;
				padding-left: 5px;
				content: "\F126";
				transition: 300ms ease all;
				text-decoration: none;
				font-size: 0.7em;
				font-weight: 400;
			}
		}
	
		&-link:hover {
			border-bottom: 3px solid color(primary, light);
			transition: border-width 100ms ease-in;
		}
	}

	&__subtitle {
		padding: 0 $unit;
	}
	
	&__position-title {
		padding: 0 $unit;
	}
	
	
	&__caption {
		font-size: 0.8em;
		line-height: 1.3;
		color: color( gray, 60 );
	}
	
	&__address {
		position: relative;
	
		margin: 0 $unit-xs;
		padding: $unit-xs $unit-2xl;
	
		@include font-size(13px, 300);
	
		&::before {
			position: absolute;
			left: $unit-xs;
	
			color: color(primary, light); // TODO play around with gray, red sort of implies linkage
	
			@include wsu-icon("\F127");
		}
	}
	
	&__address-line-1,
	&__address-line-2 {
		display: block;
	}
	
	/* Links
	======================= */
	&__phone-link,
	&__email-link,
	&__website-link {
		position: relative;
	
		display: block;
	
		margin: 0 $unit-xs;
		padding: $unit-xs $unit-l $unit-xs $unit-2xl;
	
		transition: background-color timing('husky', 'ease');
		text-decoration: none;
	
		color: color(primary, light);
	
		@include font-size(13px, 300);
	
		&:hover {
			border-radius: $wsu-bt-base-border-radius-size;
			background-color: color(gray, 0);
	
			@include font-size(13px, 400);
		}
	
		&:active,
		&:visited {
			color: color(primary, light);
		}
	
		&::before {
			position: absolute;
			left: $unit-xs;
		}
	}
	
	/* Phone
	======================= */
	&__phone-link::before {
		@include wsu-icon("\F133");
	}
	
	/* Email
	======================= */
	&__email-link {
		word-break: break-word;
	
		&::before {
			@include wsu-icon("\F11A");
		}
	}
	
	/* Website
	======================= */
	&__website-link::before {
		@include wsu-icon("\F10D");
	}

}



/* Media Queries
======================= */
@include mq('xsmall') {
	.wsu-c-cards__wrapper {
		&.wsu-c-cards__items-per-row {
			&--1 .wsu-c-card__container,
			&--2 .wsu-c-card__container,
			&--3 .wsu-c-card__container,
			&--4 .wsu-c-card__container,
			&--5 .wsu-c-card__container {
				padding: $unit-xs;
			}

			&--2 .wsu-c-card {
				width: 50%;
			}

			&--3 .wsu-c-card,
			&--4 .wsu-c-card,
			&--5 .wsu-c-card {
				width: 50%;
			}
		}
	}
}

@include mq('small') {
	.wsu-c-cards__wrapper.wsu-c-cards__items-per-row {
		&--3 .wsu-c-card,
		&--4 .wsu-c-card,
		&--5 .wsu-c-card {
			width: 33.33%;
		}
	}
}

@include mq('medium') {
	.wsu-c-cards__wrapper {
		padding: 0;
		& .wsu-c-cards__items-per-row {
			&--4 .wsu-c-card {
				width: 25%;
			}

			&--5 .wsu-c-card {
				width: 20%;
			}
		}
	}
}

@include mq('large') {
	.wsu-c-cards__wrapper {
		padding: 0;
	}
}
