<html>

<head lang="en-US">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Content Accordion | Component</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" href="content-accordion.css">
	<script src="content-accordion.js"></script>
</head>

<body>
	<div class="content">
		<div class="accordion-container">
			<h2 class="accordion-title">
				<button class="accordion-button" aria-expanded="true">
					Personal Info
				</button>
			</h2>
			<div class="accordion-panel" hidden>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad et magni
					consequatur quos rerum soluta obcaecati? Numquam officia totam
					ipsam, labore amet, repudiandae odio cum blanditiis aliquid, quo id
					ea?
				</p>
				<input type="text" />
			</div>

			<h2 class="accordion-title">
				<button class="accordion-button" aria-expanded="true">
					Billing Address
				</button>
			</h2>
			<div class="accordion-panel" hidden>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad et magni
					consequatur quos rerum soluta obcaecati? Numquam officia totam
					ipsam, labore amet, repudiandae odio cum blanditiis aliquid, quo id
					ea?
				</p>
				<input type="text" />
			</div>

			<h2 class="accordion-title">
				<button class="accordion-button" aria-expanded="true">
					Shipping Address
				</button>
			</h2>
			<div class="accordion-panel" hidden>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad et magni
					consequatur quos rerum soluta obcaecati? Numquam officia totam
					ipsam, labore amet, repudiandae odio cum blanditiis aliquid, quo id
					ea?
				</p>
				<input type="text" />
			</div>
		</div>
	</div>
</body>

</html>
