@import '~@wsu/build-tools/scss/all-the-things';
@import '../../../assets/scss/component-reset';

.wsu-g-header {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	border-top: 5px solid color(primary, base);
}

/* Logo
======================= */
.wsu-g-header__logo-link {
	display: flex;
	align-items: center;
	flex: 1 1 auto;

	text-decoration: none;

	color: color(grey, 70);

	@include font-size(15px, 600);
	@include mq('small') {
		padding-right: $unit-xl;
	}

	&:hover .wsu-g-header__logo-svg {
		width: 42px;
		height: 42px;
	}

	&:visited {
		color: color(grey, 70);
	}
}

.wsu-g-header__logo-icon {
	position: relative;
	z-index: z('site-header');

	justify-content: center;

	margin-right: $unit-xl;

	transition: width timing(), height timing();

	background-color: color(primary, light);

	@include is-icon--boxed($icon-size: 38px);
}

.wsu-g-header__logo-svg {
	fill: white;
}

.wsu-g-header__logo-text {
	display: none;

	text-transform: uppercase;

	@include mq('xsmall') {
		display: block;
	}
}

/* Navigation
======================= */
.wsu-g-header__nav {
	@include mq('medium') {
		flex: 1 1 auto;
	}
}

.wsu-g-header__more-icon-link {
	@include is-icon--boxed($icon-size: $unit);
	@include mq('medium') {
		display: none;
	}

}

.wsu-g-header__nav-list {
	display: none;

	@include mq('medium') {
		display: flex;
		justify-content: flex-end;
	}
}

.wsu-g-header__nav-link {
	position: relative;

	display: block;

	margin: 0 $unit-xs;
	padding: $unit-xs 0;

	text-decoration: none;

	color: color(grey, 70);

	@include font-size(15px, 600);
	@include border-bottom-hover(100%);

	&:visited {
		color: color(grey, 70);
	}
}

/* Search
======================= */
.wsu-g-header__search-icon-link {
	color: color(grey, 70);

	@include is-icon--boxed($icon-size: $unit);


	&:hover .wsu-g-header__search-icon {
		// TODO: Fix once new icons are available
		fill: color(primary, light);
	}
}

.wsu-g-header__search-icon {
	fill: color(grey, 70);
}

/* Menu Icon
======================= */
.wsu-g-header__menu-icon-link {
	@include is-icon--boxed($icon-size: $unit);
	@include mq('small') {
		display: none;
	}
}
