<html>

<head lang="en-US">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Global Header | Component</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" href="global-header.css">
	<script src="global-header.js"></script>
</head>

<body>
	<!-- COMPONENT:START -->
	<div class="wsu-g-header__wrapper">
		<header class="wsu-g-header">
			<a class="wsu-g-header__logo-link" href="#">
				<span class="wsu-g-header__logo-icon">
					<img src="../../../assets/icons/WSU-Coug-Head.svg" class="wsu-g-header__logo-svg" markup-inline>
				</span>
				<span class="wsu-g-header__logo-text">Washington State University</span>
			</a>
			<nav class="wsu-g-header__nav">
				<ul class="wsu-g-header__nav-list">
					<li class="wsu-g-header__nav-item">
						<a class="wsu-g-header__nav-link" href="#">Lorem Ipsum</a>
					</li>
					<li class="wsu-g-header__nav-item">
						<a class="wsu-g-header__nav-link" href="#">Dolar</a>
					</li>
					<li class="wsu-g-header__nav-item">
						<a class="wsu-g-header__nav-link" href="#">Sit Amet</a>
					</li>
					<li class="wsu-g-header__nav-item">
						<a class="wsu-g-header__nav-link" href="#">Consectetur</a>
					</li>
					<li class="wsu-g-header__nav-item">
						<a class="wsu-g-header__nav-link" href="#">Adipiscing Elit</a>
					</li>
				</ul>
			</nav>
			<div class="wsu-g-header__search-icon-container">
				<a class="wsu-g-header__search-icon-link" href="#">
					<img src="../../../assets/icons/icon-search.svg" class="wsu-g-header__search-icon" markup-inline>
				</a>
			</div>
		</header>
	</div>
	<!-- COMPONENT:END -->
</body>

</html>
