@import '~@wsu/build-tools/scss/all-the-things';

.wsu-g-header {
	font-family: $wsu-bt-primary-font-family;
	font-weight: 700;

	display: flex;
	align-items: center;

	border-top: 5px solid color(primary, base);
}

/* Logo
======================= */
.wsu-g-header__logo-link {
	display: flex;
	align-items: center;

	padding-right: $unit-xl;

	text-decoration: none;

	color: color(grey, 70);

	&:hover .wsu-g-header__logo-svg {
		width: 46px;
	}
}

.wsu-g-header__logo-icon {
	position: relative;

	justify-content: center;

	width: 60px;
	height: 60px;
	margin-right: $unit-xl;

	background-color: color(primary, light);
}

.wsu-g-header__logo-svg {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 38px;

	transition: 500ms ease width;
	transform: translate(-50%, -50%);

	fill: white;
}

.wsu-g-header__logo-text {
	text-transform: uppercase;
}

/* Navigation
======================= */
.wsu-g-header__nav {
	flex: 1 1 auto;
}

.nav {

}

.wsu-g-header__nav-list {
	display: flex;
	justify-content: flex-end;
}

.wsu-g-header__nav-link {
	position: relative;

	display: block;

	padding: 10px;

	transition: 300ms ease top, 300ms ease opacity;
	text-decoration: none;

	color: color(grey, 70);

	@include border-bottom-hover(100%);
}

/* Search
======================= */
.wsu-g-header__search-icon-container {

}

.wsu-g-header__search-icon-link {
	color: color(grey, 70);

	@include icon-container();

	&:hover .wsu-g-header__search-icon {
		fill: color(primary, light);
	}
}

.wsu-g-header__search-icon {
	fill: color(gray, 70);
	@include icon($unit-xl);
}
