@import '../../../../wsu-build-tools/scss/all-the-things.scss';

/* Start Base Styles
======================= */
.wsu-s-footer-condensed__wrapper {
	position: relative;

	padding: $unit-2xl $unit-3xl;

	background-color: color(gray, 0);

	/* Contact Container
	======================= */
	.wsu-s-footer-condensed__contact-info {
		margin-bottom: $unit-xs;

		color: color(gray, 75);

		@include font-size(14px, $font-weight: 300);
	}

	.wsu-s-footer-condensed__name {
		font-weight: 500;
	}

	.wsu-s-footer-condensed__contact-phone,
	.wsu-s-footer-condensed__contact-fax {
		transition: color timing();
		text-decoration: none;

		color: inherit;

		&:hover {
			color: color(primary, light);
		}
	}

	.wsu-s-footer-condensed__social-list {
		display: flex;

		margin: 0;
		padding: 0;

		list-style: none;
	}

	.wsu-s-footer-condensed__social-item-link {
		display: block;

		margin-right: $unit;

		transition: color timing();
		text-decoration: none;

		color: color(gray, 30);

		@include font-size(24px)

		&:hover {
			color: color(gray, 50);
		}
	}

	.wsu-s-footer-condensed__coug-watermark {
		position: absolute;
		top: calc(50% - 3px);
		right: $unit;

		width: 100px;

		transform: translateY(-50%);
	}

	.wsu-s-footer-condensed__logo-svg {
		fill: color(gray, 10);
	}
}
/* == End Base Styles == */

/* Dark Theme
======================= */
.wsu-s-footer-condensed__wrapper--dark {
	color: color(gray, 20);
	background: color(gray, 90);

	@extend .wsu-s-footer-condensed__wrapper;

	.wsu-s-footer-condensed__social-item-link {

		&:hover .wsu-s-footer-condensed__social-icon {
			fill: color(gray, 0);
		}
	}
}
