@import '../../../assets/scss/component-reset';
@import '~@wsu/build-tools/scss/all-the-things';

/* Start Base Styles
======================= */
.wsu-s-footer__wrapper {
	position: relative;

	padding: $unit-2xl $unit-3xl;

	background-color: color(grey, 0);

	.wsu-s-footer__overview-title {
		margin-bottom: $unit-xs;

		text-transform: uppercase;

		color: color(grey, 75);

		@include font-size(18px, 600);

	}

	.wsu-s-footer__overview-desc {
		margin-bottom: $unit-xl;

		@include font-size(16px, 300, 1.5);
	}

	.wsu-s-footer__overview-container {
		max-width: 525px;
	}

	/* Footer Nav
	======================= */
	.wsu-s-footer__nav {
		margin-bottom: $wsu-bt-base-unit * 4;
	}

	.wsu-s-footer_nav-list {
		display: flex;
		flex-direction: column;

		@include mq('small') {
			flex-flow: row wrap;
		}
		@include mq('large') {
			max-width: $wsu-bt-breakpoint--large;
		}

		& > .wsu-s-footer__nav-item {
			@include mq('small') {
				width: 50%;
			}
			@include mq('medium') {
				width: 25%;
			}
		}
	}

	.wsu-s-footer__nav-link {
		font-weight: 300;

		display: inline-block;

		padding: $unit-xs 0;

		text-decoration: none;

		color: color(grey, 75);

		@include border-bottom-hover(80%, 7px);
	}

	.wsu-s-footer__nav-item--has-children {
		width: 100%;

		@extend .wsu-s-footer__nav-item;

		& > .wsu-s-footer__nav-link {
			font-weight: 600;

			text-transform: uppercase;
		}
	}

	/* Contact Container
	======================= */
	.wsu-s-footer__contact-info {
		margin-bottom: $unit-xs;

		@include font-size(12px, $font-weight: 300);
	}

	.wsu-s-footer__name {
		font-weight: 600;
	}

	.wsu-s-footer__contact-phone,
	.wsu-s-footer__contact-fax {
		transition: color timing();
		text-decoration: none;

		color: inherit;

		&:hover {
			color: color(primary, light);
		}
	}

	.wsu-s-footer__social-list {
		display: flex;
	}

	.wsu-s-footer__social-item-link {
		display: block;

		margin-right: $unit;
	}

	.wsu-s-footer__social-icon {
		transition: fill timing();

		@include is-icon(14px);
		fill: color(grey, 40);

		&:hover {
			fill: color(grey, 70);
		}
	}

	.wsu-s-footer__coug-watermark {
		position: absolute;    
		right: $unit-3xl;

		@include is-vertically-centered;
	}


	.wsu-s-footer__coug-head {
		opacity: .10;

		fill: color(grey, 50);
		@include is-icon(85px);
	}
}
/* == End Base Styles == */

/* Dark Theme
======================= */
.wsu-s-footer__wrapper--dark {
	color: color(grey, 20);
	background: color(grey, 90);

	@extend .wsu-s-footer__wrapper;

	.wsu-s-footer__overview-title {
		color: color(grey, 0);
	}

	.wsu-s-footer__nav-item--has-children {
		@extend .wsu-s-footer__nav-item;

		& > .wsu-s-footer__nav-link {
			color: color(grey, 0);
		}
	}

	.wsu-s-footer__nav-link {
		color: color(grey, 20);
	}

	.wsu-s-footer__name {
		color: color(grey, 0);
	}

	.wsu-s-footer__social-item-link {

		&:hover .wsu-s-footer__social-icon {
			fill: color(grey, 0);
		}
	}
}
