<html>

<head lang="en-US">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Site Footer Condensed | Component</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" href="site-footer-condensed.css">
	<script src="site-footer-condensed.js" defer></script>
</head>

<body>
	<!-- COMPONENT:START -->
	<div class="wsu-s-footer-condensed__wrapper">
		<footer class="wsu-s-footer-condensed__container">

			<div class="wsu-s-footer-condensed__contact-container">
				<p class="wsu-s-footer-condensed__contact-info"><span class="wsu-s-footer-condensed__name">Lorem ipsum dolor sit amet</span>, PO Box 123456, <a href="tel:#" class="wsu-s-footer-condensed__contact-phone">P 509-123-4567</a>, <a href="tel:#" class="wsu-s-footer-condensed__contact-fax">F 509-123-4567</a></p>
				<ul class="wsu-s-footer-condensed__social-list">
					<li class="wsu-s-footer-condensed__social-list-item">
						<a href="#" class="wsu-s-footer-condensed__social-item-link">
							<img class="wsu-s-footer-condensed__social-icon" src="../../../assets/icons/instagram.svg" alt="Instagram Icon" markup-inline>
						</a>
					</li>
					<li class="wsu-s-footer-condensed__social-list-item">
						<a href="#" class="wsu-s-footer-condensed__social-item-link">
							<img class="wsu-s-footer-condensed__social-icon" src="../../../assets/icons/twitter.svg" alt="Twitter Icon" markup-inline>
						</a>
					</li>
					<li class="wsu-s-footer-condensed__social-list-item">
						<a href="#" class="wsu-s-footer-condensed__social-item-link">
							<img class="wsu-s-footer-condensed__social-icon" src="../../../assets/icons/facebook-f.svg" alt="Facebook Icon" markup-inline>
						</a>
					</li>
				</ul>
			</div>

		</footer>
		<div class="wsu-s-footer-condensed__coug-watermark">
			<img class="wsu-s-footer-condensed__coug-head" src="../../../assets/icons/WSU-Coug-Head.svg" markup-inline>
		</div>
	</div>
	<!-- COMPONENT:END -->
	<!-- COMPONENT:START -->
	<div class="wsu-s-footer-condensed__wrapper--dark">
		<footer class="wsu-s-footer-condensed__container">

			<div class="wsu-s-footer-condensed__contact-container">
				<p class="wsu-s-footer-condensed__contact-info"><span class="wsu-s-footer-condensed__name">Lorem ipsum dolor sit amet</span>, PO Box 123456, <a href="tel:#" class="wsu-s-footer-condensed__contact-phone">P 509-123-4567</a>, <a href="tel:#" class="wsu-s-footer-condensed__contact-fax">F 509-123-4567</a></p>
				<ul class="wsu-s-footer-condensed__social-list">
					<li class="wsu-s-footer-condensed__social-list-item">
						<a href="#" class="wsu-s-footer-condensed__social-item-link">
							<img class="wsu-s-footer-condensed__social-icon" src="../../../assets/icons/instagram.svg" alt="Instagram Icon" markup-inline>
						</a>
					</li>
					<li class="wsu-s-footer-condensed__social-list-item">
						<a href="#" class="wsu-s-footer-condensed__social-item-link">
							<img class="wsu-s-footer-condensed__social-icon" src="../../../assets/icons/twitter.svg" alt="Twitter Icon" markup-inline>
						</a>
					</li>
					<li class="wsu-s-footer-condensed__social-list-item">
						<a href="#" class="wsu-s-footer-condensed__social-item-link">
							<img class="wsu-s-footer-condensed__social-icon" src="../../../assets/icons/facebook-f.svg" alt="Facebook Icon" markup-inline>
						</a>
					</li>
				</ul>
			</div>

		</footer>
		<div class="wsu-s-footer-condensed__coug-watermark">
			<img class="wsu-s-footer-condensed__coug-head" src="../../../assets/icons/WSU-Coug-Head.svg" markup-inline>
		</div>
	</div>
	<!-- COMPONENT:END -->
	<script src="../../../node_modules/@wsu/build-tools/js/toolbar.js"></script>
</body>

</html>
