@import '~@wsu/build-tools/scss/all-the-things.scss';

$grid-columns: 12;

@mixin columns-props {
	padding-right: $wsu-bt-spacing-content;
	padding-left: $wsu-bt-spacing-content;
	box-sizing: border-box;
}

.wsu-c-column__wrapper {
	display: flex;
	flex-wrap: wrap;

	margin-right: auto;
	margin-left: auto;

	&--xsmall {
		max-width: 600px;

		@extend .wsu-c-column__wrapper;
	}

	&--small {
		max-width: 800px;

		@extend .wsu-c-column__wrapper;
	}

	&--medium {
		max-width: 1000px;

		@extend .wsu-c-column__wrapper;
	}

	&--large {
		max-width: 1200px;

		@extend .wsu-c-column__wrapper;
	}

	&--xlarge {
		max-width: 1400px;

		@extend .wsu-c-column__wrapper;
	}

	&--full {
		max-width: auto;

		@extend .wsu-c-column__wrapper;
	}

	&[class*="wsu-u-background-"] {
		margin-top: space('medium');
		margin-bottom: space('medium');
		padding-top: space('small');
		padding-bottom: space('small');
	}

}

.wsu-c-columns {

	&--single {

		& > .wsu-c-column {
			width: 100%;
		}

	}

	&--halves {

		& > .wsu-c-column {
			width: 50%;

			@include mq('small', 'max' ) {
				width: 100%;
			}
		}
	
	}

	&--thirds {

		& > .wsu-c-column {
			width: 33.33%;

			@include mq('small', 'max' ) {
				width: 100%;
			}
		}
	
	}

	&--quarters {

		& > .wsu-c-column {
			width: 25%;

			@include mq('medium', 'max' ) {
				width: 50%;
			}

			@include mq('xsmall', 'max' ) {
				width: 100%;

			}
		}

	}

	&--sidebar-right {

		& > .wsu-c-column:first-child {
			width: 66.66%;

			@include mq('medium', 'max' ) {
				width: 60%;
			}

			@include mq('small', 'max' ) {
				width: 100%;
			}
		}

		& > .wsu-c-column:last-child {
			width: 33.33%;

			@include mq('medium', 'max' ) {
				width: 40%;
			}

			@include mq('small', 'max' ) {
				width: 100%;
			}
		}

	}

	&--sidebar-left {

		& > .wsu-c-column:first-child {
			width: 33.33%;

			@include mq('medium', 'max' ) {
				width: 40%;
			}

			@include mq('small', 'max' ) {
				width: 100%;
			}
		}

		& > .wsu-c-column:last-child {
			width: 66.66%;

			@include mq('medium', 'max' ) {
				width: 60%;
			}

			@include mq('small', 'max' ) {
				width: 100%;
			}
		}

	}

}

.wsu-c-column {
	@include columns-props;

	@for $i from 1 through $grid-columns {
		&__grid--#{$i} {
			width: calc( ( 100% / #{$grid-columns} ) * #{$i} );
			@include columns-props;
		}
	}

	@for $i from 1 through $grid-columns {

		&__break--xl-#{$i} {
			@include mq('xlarge', 'max' ) {
				width: calc( ( 100% / #{$grid-columns} ) * #{$i} );
			}
		}
	}

	@for $i from 1 through $grid-columns {

		&__break--l-#{$i} {
			@include mq('large', 'max' ) {
				width: calc( ( 100% / #{$grid-columns} ) * #{$i} );
			}
		}

	}

	@for $i from 1 through $grid-columns {

		&__break--m-#{$i} {
			@include mq('medium', 'max' ) {
				width: calc( ( 100% / #{$grid-columns} ) * #{$i} );
			}
		}
	}

	@for $i from 1 through $grid-columns {

		&__break--s-#{$i} {
			@include mq('small', 'max' ) {
				width: calc( ( 100% / #{$grid-columns} ) * #{$i} );
			}
		}
	}

	@for $i from 1 through $grid-columns {

		&__break--xs-#{$i} {
			@include mq('xsmall', 'max' ) {
				width: calc( ( 100% / #{$grid-columns} ) * #{$i} );
			}
		}
	}

	&__break--first-xs {
		@include mq('xsmall', 'max' ) {
			order: -1;
		}
	}

	&__break--first-s {
		@include mq('small', 'max' ) {
			order: -1;
		}
	}

	&__break--first-m {
		@include mq('medium', 'max' ) {
			order: -1;
		}
	}

	&__break--first-l {
		@include mq('large', 'max' ) {
			order: -1;
		}
	}

	&__break--first-xl {
		@include mq('xlarge', 'max' ) {
			order: -1;
		}
	}	

}
