@import './variables';
@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.#{$class-base} {

	&__menu-bar {

		position: fixed;
		top: 0;
		bottom: 0;
		transform: translateX(-#{$nav-width});
		z-index: 3;

		width: $nav-width;
		display: block;
		overflow: hidden;
		opacity: 0;

		transition: opacity 300ms ease-in, width 300ms ease-in, transform 100ms ease-in 500ms;
		
		background-color: #fff;
		border-left: none;
		border-right: 1px solid color(gray,10);
		border-top: none;
		border-bottom: none;
		outline: 0;
		cursor: pointer;

		@include mq('mobile', 'max') {

			display: none;
			
		}


	}

	&__menu-bar-icon-container {
		display: block;
		position: relative;
	
		width: 20px;
		height: 18px;
		margin: 0 auto;
	}
	
	&__menu-icon-bar {
		display: block;
		position: absolute;
	
		width: 100%;
		height: 3px;
	
		transition: all timing(cougar, easy-does-it);
		animation-direction: alternate-reverse;
	
		border-radius: 2px;
		background-color: color(gray, 70);
	}

	&__menu-icon-bar:nth-child(1) {
		top: 30%;
		right: 0;

		width: 60%;

		transform: rotate(45deg);
	}

	&__menu-icon-bar:nth-child(2) {
		top: 50%;
		width: 100%;
		transform: translateY(1px);
	}

	&__menu-icon-bar:nth-child(3) {
		top: 72%;
		right: 0;

		width: 60%;

		transform: rotate(-45deg);
	}

	&__menu-bar-label::after {
		content:"Open";
		display: block;
		margin-top: 1em;
		text-transform: uppercase;
		color: color(gray,40);
		font-weight: 400;
		font-size: 0.7rem;
	}

}

.#{$class-base}--closed {

	.#{$class-base} {

		&__menu-bar {
			width: $nav-width-closed;
			transform: translateX(0);
			transition: transform 200ms ease-in;
			opacity: 1;
			outline: 1;

			&:not(:hover) {

				.#{$class-base}__menu-item-wrapper {
					animation: none !important;
				}
		
				.#{$class-base}__menu-icon-bar:nth-child(1) {
					top: 0%;
					right: 0;
					width: 100%;

					transform: rotate(0deg);
				}
				
				.#{$class-base}__menu-icon-bar:nth-child(2) {
					top: 50%;
				}
				
				.#{$class-base}__menu-icon-bar:nth-child(3) {
					top: 100%;
					right: 40%;
				
					transform: rotate(0deg);
				}

				.#{$class-base}__menu-bar-label::after {
					content:"Menu";
				}

			}
		}

		
	}

}
