@import './variables';
@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.#{$class-base} {

	&__menu {
		list-style-type: none;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		display: block;
		flex-grow: 1;
	}

	&__menu-item-wrapper {
		list-style-type: none;
		margin: 0;
		padding: 0;
		line-height: 1;

		.#{$class-base}__menu-item-wrapper {
			animation-name: none;
		}

		&[aria-expanded="true"] > .#{$class-base}__menu {
			max-height: 500px;
			display:block;
			visibility: visible;
			transition: max-height 300ms ease-in;
		}

		&[aria-expanded="false"] > .#{$class-base}__menu {
			max-height: 0;
			visibility: hidden;
			transition: max-height 300ms ease-out, visibility 0ms linear 1s;
		}

		&:first-child {
			margin-top: 1rem;
		}

		&:last-child {
			margin-bottom: 1rem;
		}
	}

	&__menu-item {
		display: block;
		position: relative;
	}

	&__menu-item-link {
		
		display: block;
		flex-grow: 1;
		position: relative;
		z-index: 1;
		
		margin: 0;
		padding: 12px 45px 12px 20px;
		box-sizing: border-box;

		font-family: $menu-font;
		font-size: 0.9rem;
		color: color(gray, 75);
		font-weight: 600;
		text-decoration: none;
		border-left: 4px solid transparent;
		

		&:hover {
			outline: none;
			border-left: 4px solid color( gray, 50 );
			background-color: color( gray, 5 );

			&::after {
				width: calc( 100% - 65px );
			}
		}

	}

	&__menu-item--current {

		& > .#{$class-base}__menu-item {
		
			.#{$class-base}__menu-item-link {

				border-left: 4px solid color( primary, base );
				color: #000;
				font-weight: 800;
				
			}

		}
	}

	&__menu-toggle {
		position: absolute;
		top: 0;
		bottom: 0;
		height: auto;
		width: 40px;
		right: 0;
		z-index: 2;

		border: none;
		cursor: pointer;
		outline: none;
		background-color: #fff;

		&:hover,
		&:focus {
			background-color: color( gray, 10 );
		}

		&::after {
			content: "\F103";
			display: block;
			font-family: wsu-icons !important;
			font-size: 0.8rem;
			font-weight: 500;
			color: color( gray, 60 );
			transform: rotate( 0deg);
			transition: transform 200ms ease-in;
		}

	}

	&__menu-item-wrapper[aria-expanded="true"] > .#{$class-base}__menu-item {
		.#{$class-base}__menu-toggle {
			background-color: color( gray, 10);

			&::after {
				transform: rotate( 180deg);
			}
		}
	}

}