@import './variables';
@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.#{$class-base}__menu .#{$class-base}__menu .#{$class-base}__menu {

	background-color: color( gray, 50 );

	.#{$class-base} {

		&__menu-item-link {
			padding-left: 50px;
			color: color( gray, 5 );

			&:hover {
				background-color: color( gray, 40);
			}
		}

		&__menu-item--current {

			& > .#{$class-base}__menu-item {
			
				.#{$class-base}__menu-item-link {
	
					&::after {
						width: calc( 100% - 95px );
					}
					
				}
	
			}
		}

	}

}