@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';
@import '../../../../assets/src/scss/all_the_things';

.wsu-s-nav-vertical-split__menu-bar {

	position: fixed;
	width: $wds-menu-width-closed;
	top: 0;
	bottom: 0;
	left: calc( #{$wds-menu-width-closed} * -1);
	border: none;
	background-color: #fff;
	outline: 0;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 10100;

	&__icon {

		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 20px;
		width: 20px;
		position: relative;
		
		&-bar {

			display: block;
			width: 20px;
			height: 3px;
			position: absolute;
			right: 0;

			background-color: color( gray, 75 );
			border-radius: 2px;
			
			transition: transform 150ms ease-in, top 150ms ease-in, right 150ms ease-in, width 150ms ease-in, height 150ms ease-in, bottom 150ms ease-in;

			&:nth-child(2) {
				top: 0;
			}

			&:nth-child(2) {
				top: 50%;
				transform: translateY(-2px);
			}

			&:nth-child(3) {
				width: 14px;
				bottom: 0;
				right: 6px;
			}
		}

	}

	&__label {
		margin-top: 4px;
		font-size: 0.6rem;
		font-weight: 500;
		text-transform: uppercase;
		text-align: center;
		display: block;
		width: 100%;
		color: color( gray, 30 );

		&::before {
			content: "Menu";
		}
	}

	&__overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: auto;
		width: auto;
		display: block;
	}

	/* Hover Effects
	============================= */
	&:hover {

		background-color: #F8F8F8;

		.wsu-s-nav-vertical-split__menu-bar {

			&__icon {
			
				&-bar {

					&:nth-child(1) {
						transform: rotate( 45deg ) ;
						width: 12px;
						top: 5px;
						height: 2px;
						right: -3px;
					}
		
					&:nth-child(3) {
						transform: rotate( -45deg ) ;
						width: 12px;
						height: 2px;
						bottom: 5px;
						right: -3px;
					}
				}

			}

			&__label {
		
				&::before {
					content: "Open";
				}
			}

		}

	}

}

.wsu-s-nav-vertical--closed .wsu-s-nav-vertical-split__menu-bar {
	left: 0;
}