.wsu-s-nav-vertical-split__menu .wsu-s-nav-vertical-split__menu {
	
	border-left: 5px solid color( primary, light );
	overflow: hidden;

	.wsu-s-nav-vertical-split__menu-item {

		&::before {
			display: none;
		}

		&-wrapper {
			display: none;

			&:first-child {
				margin-top: 0.5rem;
			}

			&:last-child {
				margin-bottom: 0.5rem;
			}

		}

		&-link {
			font-size: 0.75rem;
			color: color(gray, 55 );
			font-weight: 500;
			padding-top: 0.6rem;
			padding-bottom: 0.6rem;
			padding-left: 1.5rem;

			&:hover {
				color: color( primary, light );
			}

			&::before {
				display: none;
			}
		}

	}

	.wsu-s-nav-vertical-split__menu-toggle {

		&::before {
			content: "";
				display: none;
		}
	}
}

.wsu-s-nav-vertical-split__menu--open > .wsu-s-nav-vertical-split__menu {

	& > .wsu-s-nav-vertical-split__menu-item-wrapper {
		display: block;
	}
	
}