@import './variables';
@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.#{$class-base} {

	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 6999;
		background-color: rgba(0,0,0,0.7);
		filter: blur(4px);
		transition: opacity 300ms ease-in;
		opacity: 0;
		cursor: pointer;
	}

	

	&--open {

		@include mq('tablet', 'max') {

			.#{$class-base}__overlay {
				display: block;
				opacity: 1;
				bottom: 0;
				right: 0;
			}

		}
	}
}