/*--------------------------------------------------------------
>>> COMPONENTS TABLE OF CONTENTS:
----------------------------------------------------------------

# wsu-global-header
# wsu-vertical-navigation
--------------------------------------------------------------*/
/* NS */
/* NS */
/* NS */
/* NS */
/* NS */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.wsu-global-header {
  color: #404040;
  background-color: #e5e5e5;
  font-family: 'Montserrat', sans-serif; }
  .wsu-global-header:before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: 5px;
    background-color: #a60f2d;
    z-index: 1; }
  .wsu-global-header .wsu-global-header-inner {
    display: flex;
    position: relative;
    z-index: 2; }
  .wsu-global-header .wsu-wordmark {
    display: block;
    width: 80px;
    height: 60px;
    background-color: #ca1237;
    background-image: url("/wsu-web-design-system/src/logos/cougar-head-temp.png");
    background-size: 30px auto;
    background-position: center center;
    background-repeat: no-repeat; }
  .wsu-global-header .wsu-header-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75rem; }
    .wsu-global-header .wsu-header-title a {
      color: #404040;
      text-decoration: none; }
  .wsu-global-header .wsu-global-nav {
    padding-right: 1rem;
    display: flex; }
    .wsu-global-header .wsu-global-nav .wsu-menu {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex; }
    .wsu-global-header .wsu-global-nav .wsu-nav-item {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex; }
      .wsu-global-header .wsu-global-nav .wsu-nav-item a {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        color: #404040;
        font-size: 0.75rem;
        text-decoration: none;
        font-weight: 600; }
      .wsu-global-header .wsu-global-nav .wsu-nav-item.wsu-search a {
        background-image: url("/wsu-web-design-system/src/icons/search.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 22px auto;
        font-size: 0;
        min-width: 30px; }

/* NS */
/* NS */
/* NS */
/* NS */
/* NS */
.wsu-vertical-navigation {
  position: relative;
  border-right: 1px solid #e5e5e5;
  width: 260px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; }
  .wsu-vertical-navigation .wsu-menu,
  .wsu-vertical-navigation .wsu-submenu {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .wsu-vertical-navigation .wsu-menu > .wsu-nav-item:first-child {
    padding-top: 1rem; }
  .wsu-vertical-navigation .wsu-nav-item {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    .wsu-vertical-navigation .wsu-nav-item[aria-expanded="true"] {
      background-color: #f8f8f8;
      padding-bottom: 1rem; }
    .wsu-vertical-navigation .wsu-nav-item a {
      text-decoration: none;
      font-size: 0.75rem;
      display: block;
      padding: 0.6rem 1.5rem;
      color: #404040;
      position: relative;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 1.25rem; }
    .wsu-vertical-navigation .wsu-nav-item[aria-expanded="true"] > a {
      color: #ca1237; }
    .wsu-vertical-navigation .wsu-nav-item.has-children > a {
      padding-right: 40px; }
    .wsu-vertical-navigation .wsu-nav-item.has-children > a:after {
      content: "";
      width: 40px;
      top: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      background-image: url("/wsu-web-design-system/src/icons/nav-plus.png");
      background-size: 12px;
      background-position: center;
      background-repeat: no-repeat; }
    .wsu-vertical-navigation .wsu-nav-item[aria-expanded="true"].has-children > a:after {
      background-image: url("/wsu-web-design-system/src/icons/nav-minus-inactive.png"); }
  .wsu-vertical-navigation .wsu-submenu .wsu-nav-item a {
    padding-left: 3rem; }
  .wsu-vertical-navigation .wsu-submenu .wsu-submenu .wsu-nav-item a {
    padding-left: 4.5rem; }

/* NS */
/* NS */
/* NS */
/* NS */
/* NS */
.wsu-global-footer {
  background-color: #404040; }
