/*--------------------------------------------------------------
>>> COMPONENTS TABLE OF CONTENTS:
----------------------------------------------------------------

# wsu-global-header
# wsu-vertical-navigation
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.wsu-global-header {
  color: #404040;
  background-color: #e5e5e5;
  font-family: 'Montserrat', sans-serif; }
  .wsu-global-header:before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: 5px;
    background-color: #A60E2D;
    z-index: 1; }
  .wsu-global-header .wsu-global-header-inner {
    display: flex;
    position: relative;
    z-index: 2; }
  .wsu-global-header .wsu-wordmark {
    display: block;
    width: 80px;
    height: 60px;
    background-color: #CA1237;
    background-image: url("/wsu-web-design-system/images/logos/cougar-head-temp.png");
    background-size: 30px auto;
    background-position: center center;
    background-repeat: no-repeat; }
  .wsu-global-header .wsu-header-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75rem; }
  .wsu-global-header .wsu-global-nav {
    padding-right: 1rem;
    list-style-type: none;
    display: flex; }
  .wsu-global-header .nav-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    color: #404040;
    font-size: 0.75rem;
    font-weight: 600;
    position: relative; }
    .wsu-global-header .nav-item:hover:after {
      content: "";
      display: block;
      position: absolute;
      right: 0.5rem;
      left: 0.5rem;
      bottom: 0;
      height: 4px;
      background-color: #A60E2D; }

.wsu-vertical-navigation {
  position: relative;
  border-right: 1px solid #e5e5e5;
  width: 260px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; }
  .wsu-vertical-navigation .wsu-menu,
  .wsu-vertical-navigation .wsu-submenu {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .wsu-vertical-navigation .wsu-menu {
    padding-top: 1rem; }
  .wsu-vertical-navigation .wsu-nav-item a {
    text-decoration: none;
    font-size: 0.75rem;
    display: block;
    padding: 0.6rem 1.5rem;
    color: #404040;
    position: relative; }
  .wsu-vertical-navigation .wsu-nav-item.has-children > a:after {
    content: "";
    width: 30px;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: #eee; }
  .wsu-vertical-navigation .wsu-submenu .wsu-nav-item a {
    padding-left: 3rem; }
  .wsu-vertical-navigation .wsu-submenu .wsu-submenu .wsu-nav-item a {
    padding-left: 4.5rem; }
