/*--------------------------------------------------------------
>>> DOCUMENT TABLE OF CONTENTS:
----------------------------------------------------------------

# html
# body
--------------------------------------------------------------*/
html {
  font-size: 16px; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111;
  /*font-family: */
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8;
  margin: 0;
  text-rendering: optimizeLegibility;
  overflow-x: hidden; }
