/* NS */
/* NS */
/* NS */
/* NS */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.wsu-global-footer {
  flex-grow: 0;
  background-color: #333333;
  color: #fff;
  font-family: 'Montserrat', sans-serif; }
  .wsu-global-footer a {
    color: #fff;
    text-decoration: none; }
    .wsu-global-footer a:hover {
      border-bottom: 1px solid #ccc; }
  .wsu-global-footer .wsu-global-footer-inner {
    padding-left: 20px;
    padding-right: 20px; }
  .wsu-global-footer .wsu-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; }
  .wsu-global-footer .wsu-menu-item {
    margin: 0;
    padding: 0 12px;
    font-size: 0.7rem;
    min-height: 50px;
    line-height: 50px; }
    .wsu-global-footer .wsu-menu-item:first-child {
      padding-left: 0; }
