@import "../../../sass/variables/_colors";
@import "../../../sass/mixins/_content_formating";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.wsu-global-footer {
    flex-grow: 0;
    background-color: $wsu-gray-darkest;
    color: #fff;
    font-family: 'Montserrat', sans-serif;

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            border-bottom: 1px solid #ccc;
        }
    }

    .wsu-global-footer-inner {
        @include content-left-right-padding; 
    }

    .wsu-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .wsu-menu-item {
        margin: 0;
        padding: 0 12px;
        font-size: 0.7rem;
        min-height: 50px;
        line-height: 50px;

        &:first-child {
            padding-left: 0;
        }
    }
}