<html>

<head lang="en-US">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Content List | Component</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> -->
	<link rel="stylesheet" href="content-list.css">
	<script src="content-list.js"></script>
</head>

<body>
	<!-- COMPONENT:START -->
	<ul class="wsu-c-list">
		<li class="wsu-c-list-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			<ul class="wsu-c-list">
				<li class="wsu-c-list-item">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					<ul class="wsu-c-list">
						<li class="wsu-c-list-item">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
						<li class="wsu-c-list-item">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
						<li class="wsu-c-list-item">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
					</ul>
				</li>
				<li class="wsu-c-list-item">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
				<li class="wsu-c-list-item">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
			</ul>
		</li>
		<li class="wsu-c-list-item">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
		<li class="wsu-c-list-item">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
		<li class="wsu-c-list-item">Excepteur sint occaecat cupidatat non proident</li>
	</ul>

	<ol class="wsu-c-list__ordered">
		<li class="wsu-c-list-item">Lorem ipsum dolor sit amet, consectetur adipiscin
			<ol class="wsu-c-list__ordered">
				<li class="wsu-c-list-item">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
				<li class="wsu-c-list-item">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
				<li class="wsu-c-list-item">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
			</ol>
		</li>
		<li class="wsu-c-list-item">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
		<li class="wsu-c-list-item">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
		<li class="wsu-c-list-item">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
	</ol>

	<ol class="wsu-c-list__ordered wsu-c-list__ordered-reset--50">
		<li class="wsu-c-list-item">I am an ordered list</li>
		<li class="wsu-c-list-item">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
		<li class="wsu-c-list-item">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
		<li class="wsu-c-list-item">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
	</ol>
	<!-- COMPONENT:END -->
</body>

</html>
