/* Secondary link style for links
======================= */
.wsu-c-content a.wsu-c-link.wsu-c-link--is-secondary,
a.wsu-c-link.wsu-c-link--is-secondary {
	color: color(gray, 55);
	border-bottom-color: color(gray, 55);

	&:hover,
	&:active {
		border-bottom-color: color(gray, 55);
	}
}