@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.wsu-c-pattern {
	position: absolute;
	z-index: 1;

	&--angled-lines {
		@include pattern('angled');
	}

	&--angled-lines-gray {
		@include pattern('angled', 'gray');
	}

	&--angled-lines-crimson {
		@include pattern('angled', 'crimson');
	}

	&--plus {
		@include pattern('plus');
	}

	&--plus-gray {
		@include pattern('plus', 'gray');
	}

	&--plus-crimson {
		@include pattern('plus', 'crimson');
	}

	// Position Defined
	&--angled-lines-crimson-top-left {
		@include pattern('angled', 'crimson');
		height: 60%;
		width: 12%;
		max-width: 50px;
		top: 26px;
		left: -2.5%;
	}

	&--plus-crimson-top-right {
		@include pattern('plus', 'crimson');
		height: 80%;
		width: 50%;
		top: -40%;
		left: 75%;
	}

	&--plus-crimson-bottom-right {
		@include pattern('plus', 'crimson');
		height: 80%;
		width: 50%;
		top: 50%;
		left: 75%;
	}

	&--plus-crimson-bottom-left {
		@include pattern('plus', 'crimson');
		height: 50%;
		max-height: 326px;
		width: 50%;
		top: calc(100% - 25%);
		left: -15%;
	}

	&--solid-crimson-bottom-left {
		background-color: color(primary, light);
		height: 3%;
		max-height: 35px;
		width: 47%;
		left: 0;
		top: 100%;
	}

	&--solid-crimson-top-right {
		background-color: color(primary, light);
		height: 7%;
		max-height: 35px;
		width: 33%;
		left: calc(100% - 33%);
		top: 0;
	}
}