@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.wsu-g-footer-wrapper {
	@include font();
	background-color: color(gray, 80);
	width: 100%;
}

.wsu-g-footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	text-align: center;

	@include mq('small') {
		flex-direction: row;
		text-align: initial;
	}
}

.wsu-g-footer__copyright {
	padding: $unit;
	padding-top: $unit-2xs;
	width: 100%;
	color: color(gray, 0);

	@include font-size(14px);

	@include mq('small') {
		width: initial;
		padding-top: $unit;
	}
}

.wsu-g-footer__nav {
	order: -1;

	@include mq('small') {
		margin-right: $unit;
		order: initial;
	}
}

.wsu-g-footer__nav-list {
	display: flex;

	margin: 0;
	padding: 0;

	list-style: none;
	width: 100%;
}

.wsu-g-footer__nav-item {
	position: relative;

	@include show-child-class-on-hover('.wsu-g-footer__social-list-container');
}

.wsu-g-footer__nav-item--show-more {
	@extend .wsu-g-footer__nav-item;
}

.wsu-g-footer__nav-item--show-more .wsu-g-footer__nav-link::before {
	font-family: "wsu-icons";

	position: absolute;
	right: -$unit;

	content: '\F109';
	transition: transform timing();
}

.wsu-g-footer__nav-item--show-more:hover .wsu-g-footer__nav-link::before {
	transform: rotate(180deg);
}

.wsu-g-footer__nav-link {
	display: flex;
	align-items: center;

	padding: $unit $unit-xs;

	text-decoration: none;

	@include border-bottom-hover($top-percentage: 92%, $width: 100%);
	@include font-size(13px);

	&:link,
	&:visited {
		color: color(gray, 0);
	}

	@include mq('small') {
		@include font-size(14px);
		padding: $unit $unit-s;
	}
}

.wsu-g-footer__nav-arrow {
	fill: white;
	@include is-icon(16px);
}

.wsu-g-footer__social-list-container {
	position: absolute;
	right: $unit;
	bottom: 100%;

	padding: $unit-xs 0;
}

.wsu-g-footer__social-list {
	margin: 0;
	padding: $unit-s 0;

	list-style: none;

	border-radius: 3px;
	background-color: color(gray, 75);
}

.wsu-g-footer__social-item {
	@include font-size(24px);
}

.wsu-g-footer__social-link {
	display: block;

	padding: $unit-xs $unit;

	transition: color timing();
	text-decoration: none;

	color: color(gray, 30);

	&:hover {
		color: color(white, base);
	}
}
