@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.wsu-c-content pre,
.wsu-c-pre {
	display: block;

	margin: 3px 0;
	padding: $unit-xs;

	color: #D4D4A5;
	border-radius: $wsu-bt-base-border-radius-size;
	background-color: color(gray, 80);

	@include elevate(0);

	&:hover {
		@include elevate(3);
	}
}