@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

/* Default content link styles
======================= */
.wsu-c-content a,
a.wsu-c-link {
	transition: border-bottom-width timing( 100 );
	text-decoration: none;

	color: color(primary, base);
	border-bottom-width: .05em;
	border-bottom-style: solid;
	border-bottom-color: color(primary, light);

	&:visited {
		@extend a;
	}

	&:hover,
	&:focus {
		border-bottom-width: .2em;
	}

	&:focus {
		text-decoration: none;

		border-bottom: 2px solid #ca1237;
		outline: 1px solid color(primary, base);
		outline-width: 3px;
		outline-style: solid;
		outline-color: #797979;
	}
}
