/* Heading is also a link styles 
======================= */
.wsu-c-content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		& > a {
			color: color(gray, 90 );
			transition: 300ms ease all;
			text-decoration: none;

			border-bottom-style: solid;
			border-bottom-color: color(primary, light); 
			border-bottom-width: 0;

			// Handles icon
			&::after {
				font-family: "wsu-icons";

				left: calc(100% + 5px);

				display: inline-block;

				padding-left: 5px;

				content: "\F126";
				transition: 300ms ease all;
				transform: scale(.85);
				text-decoration: none;

				@include font-size(16px);
			}

			// Handles hover, focus state
			&:hover,
			&:focus {

				color: inherit;
				outline: none;

				border-bottom-width: 3px;

			}

			&:focus {
				text-decoration: none;

				outline: 1px solid color(primary, light);
			}
		}
	}
}
