@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';
@import '~@wsuwebteam/wsu-icons/dist/wsu-icons.bundle.css';

.wsu-c-accordion {
	@include font();
	
	border-bottom: 1px solid #E5E5E5;
	margin-bottom: 2em;

	& + .wsu-c-accordion {
		margin-top: -2em;
	}

	&:last-child {
		margin-bottom: 2.1em;
	}
 
	&__title {
		position: relative;
		text-transform: inherit;
		font-weight: 100;
		font-size: 1.6em;
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0.7em;
    	padding-bottom: 0.7em;
		cursor: pointer;
		transition: 250ms ease-in-out all;
		line-height: 1.3em;
		padding-right: 3em;
		padding-left:0.4em;
		

		&:focus,
		&:hover {
			background-color: whitesmoke;
		}

		&:focus {
			outline: 1px solid color(gray,50);
		} 

		&::after {
			content: "\F137";
			font-family: "wsu-icons";
			position: absolute;
			top: 50%;
			right: 2em;
			transform: translatey(-50%);
			font-size: 0.6em;
		}
	}

	&--open .wsu-c-accordion__title {
		background-color: whitesmoke;
	}

	&__content {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}

	&__content-inner {
		padding-top: 1.5em;
		padding-left: 1rem;
		padding-right: 1rem;
		box-sizing: border-box;
	}

	&.wsu-c-accordion--open:not(.wsu-wsu-c-accordion--animated) .wsu-c-accordion__content {
		max-height: none !important;
		overflow: auto !important;
	}

	&--active {

		.wsu-c-accordion__content {
			height: auto;
			overflow: hidden;
			padding-bottom: 2rem;
		}

		.wsu-c-accordion__title::after {
			content: "\F12C" !important;
		}

	}
}