.wsu-c-content__demo {
	padding-left: 2.25rem;
	padding-right: 2.25rem;
	width: 1200px;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width:1300px) {
	.wsu-c-content__demo {
		width: auto;
	}
}

.wsu-c-content__demo--full {
	width: auto;
	padding-left: 0;
	padding-right: 0;
}

.wsu-c-content__demo--narrow {
	max-width: 900px;
}

@media screen and (max-width:1000px) {
	.wsu-c-content__demo--narrow {
		width: auto;
	}
}

.wsu-c-content__demo--xnarrow {
	max-width: 750px;
}

@media screen and (max-width:800px) {
	.wsu-c-content__demo {
		width: auto;
	}
}