@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.wsu-c-em-content-ordered-list,
.wsu-c-content ol.wsu-c-em-content-ordered-list {
	@include font;
	
	list-style: none;
	margin-bottom: 2rem;
	
	& li {
		padding: 1em;
		padding-left: 0;
		margin-left: 1em;
		position: relative;
		counter-increment: wsu-em-ordered-list;
		border-bottom: 1px solid color(gray, 10);

		&:last-child {
			border-bottom: none;
		}

		&::before {
			content: counter(wsu-em-ordered-list);
			background-color: color(primary, light);
			position: absolute;
			height: 30px;
			width: 30px;
			left: -3.2em;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 100%;
			z-index: -1;
			color: white;
			text-align: center;
			font-weight: 900;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	/* Create start resets 
	======================= */
	@for $i from 1 through 99 {
		&[start="#{$i}"] li::before {
			content: counter(wsu-em-ordered-list);
			counter-reset: wsu-em-ordered-list #{$i};
		}
	}

	&--bolder *,
	&--labelled * {
		font-weight: 700;
		font-size: 18px;
	}

	&--collapse-vertical-spacing {
		margin-top: 0;
		margin-bottom: 0;
	}

	/* Create Labeled List Items 
	======================= */

	$labels: (
		1: "One",
		2: "Two",
		3: "Three",
		4: "Four",
		5: "Five",
		6: "Six",
		7: "Seven",
		8: "Eight",
		9: "Nine",
		10: "Ten",
		11: "Eleven",
		12: "Twelve",
	);

	&.wsu-c-em-content-ordered-list--labelled {
		position: relative;
		margin-top: 60px !important;

		&::before {
			content: "";
			font-weight: 900;
			color: transparent;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: #dcdcdc;
			
			position: absolute;
			left: -90px;
			top: 30%;
			transform: translatey(-50%);
			
			font-style: italic;
			font-size: 100px;
			z-index: -1;
			text-transform: uppercase;
		}
	}

	@each $key, $name in $labels {
		&.wsu-c-em-content-ordered-list--labelled[start="#{$key}"]::before {
			content: "#{$name}";
		}
	}
}
