@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.wsu-c-em-content-ordered-list,
.wsu-c-content ol,
.wsu-c-content ol.wsu-c-em-content-ordered-list {
	list-style: none;
	margin-bottom: 2rem;
	
	& li {
		padding: 1em;
		padding-left: 0;
		margin-left: 1em;
		position: relative;
		counter-increment: wsu-em-ordered-list;
		border-bottom: 1px solid color(gray, 10);

		&:last-child {
			border-bottom: none;
		}

		&::before {
			content: counter(wsu-em-ordered-list);
			background-color: color(primary, light);
			position: absolute;
			height: 30px;
			width: 30px;
			left: -3.2em;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 100%;
			z-index: -1;
			color: white;
			text-align: center;
			font-weight: 900;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}