<html>

<head lang="en-US">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Content Card | Component</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" href="https://cdn.web.wsu.edu/designsystem/1.x/wsu-icons/dist/wsu-icons.bundle.css">
	<link rel="stylesheet" href="content-card.css">

</head>

<body style="max-width: 1200px; margin: 50px auto;">
	<div class="wsu-u-spacer">
		<h1 class="wsu-u-title">Content Card</h1>
	</div>
	<div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-column-gap: 40px;">
		<!-- COMPONENT:START -->
		<div class="wsu-c-card">
			<div class="wsu-c-card__photo-frame">
				<img class="wsu-c-card__photo" src="https://source.unsplash.com/collection/895539" alt="#" data-object-fit>
			</div>
			<h3 class="wsu-c-card__heading">Pellentesque Habitant</h3>
			<p class="wsu-c-card__description">Morbi tristique senectus et netus et malesuada.</p>
			<div class="wsu-c-card__address">
				<span class="wsu-c-card__address-line-1">12345 Etiam rutrum lectus</span>
				<span class="wsu-c-card__city-state-zip">Pullman, WA 99163</span>
			</div>
			<div class="wsu-c-card__phone">
				<a href="tel:123-456-7890" class="wsu-c-card__phone-link">123-456-7890</a>
			</div>
			<div class="wsu-c-card__email">
				<a href="mailto:info@wsu.edu" class="wsu-c-card__email-link">info@wsu.edu</a>
			</div>
			<div class="wsu-c-card__website">
				<a href="#" class="wsu-c-card__website-link">Website</a>
			</div>
		</div>
		<!-- COMPONENT:END -->
		<!-- COMPONENT:START -->
		<div class="wsu-c-card">
			<div class="wsu-c-card__photo-frame">
				<img class="wsu-c-card__photo" src="https://source.unsplash.com/collection/895539" alt="#" data-object-fit>
			</div>
			<h3 class="wsu-c-card__heading">Pellentesque Habitant</h3>
			<p class="wsu-c-card__description">Morbi tristique senectus et netus et malesuada.</p>
			<div class="wsu-c-card__address">
				<span class="wsu-c-card__address-line-1">12345 Etiam rutrum lectus</span>
				<span class="wsu-c-card__city-state-zip">Pullman, WA 99163</span>
			</div>
			<div class="wsu-c-card__phone">
				<a href="tel:123-456-7890" class="wsu-c-card__phone-link">123-456-7890</a>
			</div>
			<div class="wsu-c-card__email">
				<a href="mailto:info@wsu.edu" class="wsu-c-card__email-link">info@wsu.edu</a>
			</div>
			<div class="wsu-c-card__website">
				<a href="#" class="wsu-c-card__website-link">Website</a>
			</div>
		</div>
		<!-- COMPONENT:END -->
		<!-- COMPONENT:START -->
		<div class="wsu-c-card">
			<div class="wsu-c-card__photo-frame">
				<img class="wsu-c-card__photo" src="https://source.unsplash.com/collection/895539" alt="#" data-object-fit>
			</div>
			<h3 class="wsu-c-card__heading">Pellentesque Habitant</h3>
			<p class="wsu-c-card__description">Morbi tristique senectus et netus et malesuada.</p>
			<div class="wsu-c-card__address">
				<span class="wsu-c-card__address-line-1">12345 Etiam rutrum lectus</span>
				<span class="wsu-c-card__city-state-zip">Pullman, WA 99163</span>
			</div>
			<div class="wsu-c-card__phone">
				<a href="tel:123-456-7890" class="wsu-c-card__phone-link">123-456-7890</a>
			</div>
			<div class="wsu-c-card__email">
				<a href="mailto:info@wsu.edu" class="wsu-c-card__email-link">info@wsu.edu</a>
			</div>
			<div class="wsu-c-card__website">
				<a href="#" class="wsu-c-card__website-link">Website</a>
			</div>
		</div>
		<!-- COMPONENT:END -->
		<!-- COMPONENT:START -->
		<div class="wsu-c-card">
			<div class="wsu-c-card__photo-frame">
				<img class="wsu-c-card__photo" src="https://source.unsplash.com/collection/895539" alt="#" data-object-fit>
			</div>
			<h3 class="wsu-c-card__heading">Pellentesque Habitant</h3>
			<p class="wsu-c-card__description">Morbi tristique senectus et netus et malesuada.</p>
			<div class="wsu-c-card__address">
				<span class="wsu-c-card__address-line-1">12345 Etiam rutrum lectus</span>
				<span class="wsu-c-card__city-state-zip">Pullman, WA 99163</span>
			</div>
			<div class="wsu-c-card__phone">
				<a href="tel:123-456-7890" class="wsu-c-card__phone-link">123-456-7890</a>
			</div>
			<div class="wsu-c-card__email">
				<a href="mailto:info@wsu.edu" class="wsu-c-card__email-link">info@wsu.edu</a>
			</div>
			<div class="wsu-c-card__website">
				<a href="#" class="wsu-c-card__website-link">Website</a>
			</div>
		</div>
		<!-- COMPONENT:END -->
	</div>

	<div class="wsu-u-spacer">
		<p>What do you think about link hover states on this? Any other feedback? Font sizes/line-height/weights? </p>
		<div class="wsu-u-title">- Nic</div>
	</div>

	<script src="content-card.js" defer></script>
</body>

</html>
