<html>

<head lang="en-US">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Content Card | Component</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" href="https://cdn.web.wsu.edu/designsystem/1.x/wsu-icons/dist/wsu-icons.bundle.css">
	<link rel="stylesheet" href="content-card.css">
</head>

<body style="max-width: 200px; margin: 50px auto;">
	<!-- COMPONENT:START -->
	<div class="wsu-c-card">
		<img class="wsu-c-card__photo" src="https://source.unsplash.com/collection/1424240/" alt="#">
		<h3 class="wsu-c-card__heading">Pellentesque Habitant</h3>
		<p class="wsu-c-card__description">Morbi tristique senectus et netus et malesuada.</p>
		<div class="wsu-c-card__address">
			<span class="wsu-c-card__address-line-1">12345 Etiam rutrum lectus</span>
			<span class="wsu-c-card__city-state-zip">Pullman, WA 99163</span>
		</div>
		<div class="wsu-c-card__phone">
			509-335-1234
		</div>
		<div class="wsu-c-card__email">
			<a href="mailto:info@wsu.edu">info@wsu.edu</a>
		</div>
		<div class="wsu-c-card__website">
			<a href="#">Website</a>
		</div>
	</div>
	<!-- COMPONENT:END -->
</body>

</html>
