@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

@mixin decoratorBase {
	position: absolute;
	display: block;
}

.wsu-c-has-decorators {
	position: relative;

	/* Set all children to position relative */
	& > * {
		position: relative;
	}
}

.wsu-c-em-decorator {

	&--crimson-bar {
		@include decoratorBase();
		background-color: color( primary, base );
	}

	&--crimson-bar-light {
		@include decoratorBase();
		background-color: color( primary, light );
	}

	&--angled-lines {
		@include pattern('angled');
		@include decoratorBase();
	}

	&--angled-lines-gray {
		@include pattern('angled', 'gray');
		@include decoratorBase();
	}

	&--angled-lines-crimson {
		@include pattern('angled', 'crimson');
		@include decoratorBase();
	}

	&--plus {
		@include pattern('plus');
		@include decoratorBase();
	}

	&--plus-gray {
		@include pattern('plus', 'gray');
		@include decoratorBase();
	}

	&--plus-crimson {
		@include pattern('plus', 'crimson');
		@include decoratorBase();
	}

	&--text-white {
		@include decoratorBase();
		color: #fff;
		font-family: $wsu-bt-primary-font-family;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-weight: 800;
		font-size: 2rem;
	}

	&--text-outline-gray {

		@include decoratorBase();

		font-family: $wsu-bt-primary-font-family;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		line-height: 1.4;
		font-style: italic;
		font-weight: 800;
		color: transparent;
		font-size: 2rem;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: color( gray, 30 );
	}

	&--text-outline-crimson {

		@include decoratorBase();

		font-family: $wsu-bt-primary-font-family;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		line-height: 1.4;
		font-style: italic;
		font-weight: 800;
		color: transparent;
		font-size: 2rem;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: color( primary, base );
	}

	&--cougar-head-white {

		@include decoratorBase();

		svg {
			fill: #fff;
		}

	}

	&--cougar-head-crimson {

		@include decoratorBase();

		svg {
			fill: color( primary, base );
		}

	}

	&--overlay-crimson {

		@include decoratorBase();
		background-color: color( primary, base );
		opacity: 0.7;
		top: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		right: 0 !important;
		width: auto !important;
		height: auto !important;

	}

	&--overlay-gray {

		@include decoratorBase();
		background-color: color( gray, 80 );
		opacity: 0.8;
		top: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		right: 0 !important;
		width: auto !important;
		height: auto !important;

	}

	&--wsu-watermark-vertical-white {

		@include decoratorBase();

		path {
			stroke: #fff;
		}

	}

	&--wsu-watermark-vertical-crimson {

		@include decoratorBase();

		path {
			stroke: color( primary, base );
		}

	}
}