/* Checkbox styles
======================= */
@mixin wsu-c-form__checkbox {
	@include wsu-c-form__reset;

	position: relative;
	display: block;
	border: 1px solid color(gray, 20);
	border-radius: $wsu-bt-base-border-radius-size;
	margin: 0;
	padding: 0;
	background-color: color(white, base);
	height: 22px !important;
	width: 22px !important;
	transition: background-color timing('eagle'), border-color timing('eagle');
	appearance: none;

	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		content: "\F110";
		transform: translate(-50%, -50%);
		font-family: "wsu-icons";
		font-size: 0;
		color: color(white, base);
		transition: font-size timing('eagle', 'ease');
	}

	&:checked {
		background-color: color(primary, light);
		border-color: transparent;
		border-width: 2px;
	
		&::before {
			font-size: 10px;
		}
	}

	&:hover,
	&:focus {
		@include elevate(2);
		outline: none;
		cursor: pointer;
		border-color: color(gray, 80);
	}
}

/* Applied to structure
======================= */
.wsu-c-content input[type="checkbox"],
.wsu-c-form__checkbox {
	@include wsu-c-form__checkbox;
}