/* Checkbox styles
======================= */
@mixin checkbox_input_container_styles {
	display: flex;
	align-items: center;
	padding: 0;
	padding-bottom: $unit-s;
}

@mixin checkbox_input_styles {
	position: relative;
	display: block;
	border: 1px solid color(gray, 20);
	border-radius: $wsu-bt-base-border-radius-size;
	margin: 0;
	padding: 0;
	background-color: color(white, base);
	height: 22px !important;
	width: 22px !important;
	transition: background-color timing('eagle'), border-color timing('eagle');
	appearance: none;

	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		content: "\F110";
		transform: translate(-50%, -50%);
		font-family: "wsu-icons";
		font-size: 0;
		color: color(white, base);
		transition: font-size timing('eagle', 'ease');
	}

	&:checked {
		background-color: color(primary, light);
		border-color: transparent;
		border-width: 2px;
	
		&::before {
			font-size: 10px;
		}
	}

	&:hover,
	&:focus {
		cursor: pointer;
		border-color: color(gray, 80);
	}

	&:focus {
		@include elevate(2);
	}
}

/* Applied to structure
======================= */

// /* Namespaced 
.wsu-c-form__field-container--checkbox {
	margin: $unit 0;

	.wsu-c-form__input-item {
		@include checkbox_input_container_styles;

		.wsu-c-form__input {
			@include checkbox_input_styles;
		}
	}
}

// /* Gravity Forms Structure
.gform_wrapper ul.gfield_checkbox {
	margin: $unit 0;

	li {
		@include checkbox_input_container_styles;

		input[type="checkbox"] {
			@include checkbox_input_styles;
		}
	}
}

// /* Gravity Forms Consent Field
.gform_wrapper .ginput_container.ginput_container_consent {
	@include checkbox_input_container_styles;

	& input[type="checkbox"] {
		@include checkbox_input_styles;
	}
}

