/* Styles
======================= */
@mixin wsu-c-form__input {
	@include wsu-c-form__reset;

	padding: $unit $unit;
	width: 100%;

	color: color(gray, 100);

	@include elevate(0);

	&:focus {
		border-color: color(gray, 40);
		outline: none;

		@include elevate(2);
	}

	&::input-placeholder {
		color: color(gray, 60);
	}
}

/* Selectors
======================= */
.wsu-c-content input,
.wsu-c-form__input {
	@include wsu-c-form__input;
}