/* Styles
======================= */
@mixin wsu-c-form__label {
	@include font-size(14px, 400);

	display: inline-block;

	margin: $unit $unit $unit-2xs;
	width: 100%;

	cursor: pointer;
}

/* Selectors
======================= */
.wsu-c-content label,
.wsu-c-form__label {
	@include wsu-c-form__label;
}

/* Overrides
======================= */
.wsu-c-content input[type="radio"],
.wsu-c-content input[type="checkbox"],
.wsu-c-form__checkbox,
.wsu-c-form__radio {
	& + label {
		margin: 0;
		margin-left: $unit-xs;
	}

	&:checked + label {
		font-weight: 400;
	}
}