/* Selectors
======================= */
.wsu-c-content label,
.wsu-c-form__label {
	@include wsu-c-form__label;
}

/* Overrides
======================= */
.wsu-c-content input[type="radio"],
.wsu-c-content input[type="checkbox"],
.wsu-c-form__checkbox,
.wsu-c-form__radio {
	& + label {
		margin: 0 0 0 $unit-xs;
		font-weight: 400;
	}

	&:checked + label {
		font-weight: 400;
	}
}