/* Button
======================= */
@mixin wsu-c-form__button {
	// Add styles here
}

/* Reset
======================= */
@mixin wsu-c-form__reset {
	@include font-size(14px);

	border: 1px solid color(gray, 20);
	border-radius: $wsu-bt-base-border-radius-size;

	margin: 0;
	box-sizing: border-box;
	
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;

	transition: border timing();
}

/* Containers
======================= */
@mixin wsu-c-form__container--item {
	// Add styles here
}

@mixin wsu-c-form__container--input-item {
	display: flex;
	align-items: center;
	padding: 0;
	margin-bottom: $unit-s;
}

/* Checkbox
======================= */
@mixin wsu-c-form__checkbox {
	@include wsu-c-form__reset;

	position: relative;
	display: block;
	border: 1px solid color(gray, 20);
	border-radius: $wsu-bt-base-border-radius-size;
	margin: 0;
	padding: 0;
	background-color: color(white, base);
	height: 22px !important;
	width: 22px !important;
	transition: background-color timing('eagle'), border-color timing('eagle');
	appearance: none;

	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		content: "\F110";
		transform: translate(-50%, -50%);
		font-family: "wsu-icons";
		font-size: 0;
		color: color(white, base);
		transition: font-size timing('eagle', 'ease');
	}

	&:checked {
		background-color: color(primary, light);
		border-color: transparent;
		border-width: 2px;
	
		&::before {
			font-size: 10px;
		}
	}

	&:hover,
	&:focus {
		@include elevate(2);
		outline: none;
		cursor: pointer;
		border-color: color(gray, 80);
	}
}

/* Inputs
======================= */
@mixin wsu-c-form__input {
	@include wsu-c-form__reset;

	padding: $unit;
	width: 100%;

	color: color(gray, 100);

	@include elevate(0);

	&:focus {
		border-color: color(gray, 40);
		outline: none;

		@include elevate(2);
	}

	&::input-placeholder {
		color: color(gray, 60);
	}
}

/* Labels
======================= */
@mixin wsu-c-form__label {
	@include font-size(14px, 500);

	display: inline-block;

	margin: $unit 0 $unit-2xs;
	width: 100%;

	cursor: pointer;
}

/* Radio
======================= */
@mixin wsu-c-form__radio {
	@include wsu-c-form__reset;

	position: relative;
	border: 1px solid color(gray, 20);
	border-radius: 20px;
	margin: 0;
	padding: 0;
	background-color: color(white, base);
	height: 22px !important;
	width: 22px !important;
	font-size: 20px;
	appearance: none;

	&:checked {
		background-color: color(primary, light);
		border-color: transparent;
		border-width: 2px;

		&::after {
			height: 8px;
			width: 8px;
		}
	}

	&::after {
		position: absolute;
		top: 50%;
		left: 50%;
		content: '';
		transform: translate(-50%, -50%);
		display: block;
		border-radius: 100%;
		background-color: color(white, base);
		height: 0px;
		width: 0px;
		transition: 120ms ease all;
	}

	&:hover,
	&:focus {
		@include elevate(2);
		outline: none;
		cursor: pointer;
		border-color: color(gray, 80);
	}
}

/* Select
======================= */
@mixin wsu-c-form__select {
	padding: $unit $unit;
	width: 100%;
	min-height: 75px;

	&:focus {
		@include elevate(2);
		outline: none;
		border-color: color(gray, 40);
	}

	&::input-placeholder {
		color: color(gray, 60);
	}
}

/* Textarea
======================= */
@mixin wsu-c-form__textarea {
	// Add styles here
}