/* Radio styles
======================= */
@mixin wsu-c-form__radio {
	@include wsu-c-form__reset;

	position: relative;
	border: 1px solid color(gray, 20);
	border-radius: 20px;
	margin: 0;
	padding: 0;
	background-color: color(white, base);
	height: 22px !important;
	width: 22px !important;
	font-size: 20px;
	appearance: none;

	&:checked {
		background-color: color(primary, light);
		border-color: transparent;
		border-width: 2px;

		&::after {
			height: 8px;
			width: 8px;
		}
	}

	&::after {
		position: absolute;
		top: 50%;
		left: 50%;
		content: '';
		transform: translate(-50%, -50%);
		display: block;
		border-radius: 100%;
		background-color: color(white, base);
		height: 0px;
		width: 0px;
		transition: 120ms ease all;
	}

	&:hover,
	&:focus {
		@include elevate(2);
		outline: none;
		cursor: pointer;
		border-color: color(gray, 80);
	}
}

/* Radio selectors
======================= */
.wsu-c-content input[type="radio"],
.wsu-c-form__radio {
	@include wsu-c-form__radio;
}