button,
input,
optgroup,
select,
textarea {
	@include font-size(14px);

	border: 1px solid color(gray, 20);
	border-radius: $wsu-bt-base-border-radius-size;

	margin: 0;
	box-sizing: border-box;
	
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;

	transition: border timing();
}