/* Select Styles
======================= */
select,
.gform_wrapper.gf_browser_chrome select {
	padding: $unit $unit;

	&:focus {
		@include elevate(2);
		outline: none;
		border-color: color(gray, 40);
	}

	&::input-placeholder {
		color: color(gray, 60);
	}
}