
/* Container selectors
======================= */
.wsu-c-form__container--item {
	@include wsu-c-form__container--item;
}

.wsu-c-form__container--input-item {
	@include wsu-c-form__container--input-item;
}

/* Required field
======================= */
input[required] {
	border-left-width: 2px;
	border-left-color: color(primary, base);

	&:focus {
		border-left-color: color(primary, base);
	}
}