@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.wsu-c-stat__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: $unit-xl;

	&--is-dark {
		background-color: color(gray, 80);
		color: color(white, base);
	}
}

.wsu-c-stat__label {
	text-transform: uppercase;
	font-size: .8em;
	background: color(primary, light);
	color: color(white, base);

	font-weight: 600;
	padding: .4em 1.6em;
}

.wsu-c-stat__value {
	font-size: 3em;
	font-weight: 500;
	display: block;
	text-transform: uppercase;

	& .wsu-c-stat__prefix,
	& .wsu-c-stat__suffix {
		color: color(primary, light);
		@include font-size(.7em, 900);
		position: relative;
	}

	& .wsu-c-stat__prefix {
		vertical-align: super;
		right: $unit-s;
		margin-left: 14px;
	}

	& .wsu-c-stat__suffix {
		left: $unit-xs;
		top: -3px;
		margin-right: 8px;
	}
}

.wsu-c-stat__description {
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}

@include mq('xsmall') {
	.wsu-c-stat__wrapper {
		&--align-left {
			align-items: start;
			justify-content: start;
		}
	
		&--align-right {
			align-items: flex-end;
			justify-content: flex-end;
		}
	}
}