@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.wsu-c-em-hero__wrapper {
	margin-left: calc( ( ( 100vw - 100% ) / 2 ) * -1);
	margin-right: calc( ( ( 100vw - 100% ) / 2 ) * -1);
}

#editor .wsu-c-em-hero__wrapper {
	margin-left: calc( ( ( 100vw - 100% - 456px ) / 2 ) * -1);
	margin-right: calc( ( ( 100vw - 100% - 456px ) / 2 ) * -1);
}

.wsu-c-em-hero__container,
#editor .wsu-c-em-hero__container {
	@include font();

	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 75px 7vw;

	background-color: color(gray, 90);
	background-position: 50% 50%;  background-size: cover;
	background-repeat: no-repeat;
	min-height: 938px;
	box-sizing: border-box;

	&::after {
		z-index: z('contentbackground');
		position: absolute;
		top: 0;
		left: 0;

		content: "";
		opacity: 60%;

		background: linear-gradient(15deg, color(primary, base), rgba(color(primary, base), 0));
		height: 100%;

		width: 100%;

		mix-blend-mode: darken;
	}

	&::before {
		z-index: z('contentbackground') - 1;
		position: absolute;
		top: 0;
		left: 0;

		content: "";
		opacity: 60%;

		background: linear-gradient(45deg, color(primary, base), color(primary, light));
		height: 100%;
		width: 100%;
	}
}

.wsu-c-em-hero__content,
#editor .wsu-c-em-hero__content {
	z-index: z('content');
	position: relative;

	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
}

.wsu-c-em-hero__title,
#editor .wsu-c-em-hero__title {

	@include font-size(3.5rem, 900, .9);

	margin: 0;
	margin-bottom: $unit-l;

	color: color(white, base);

	.wsu-c-typewriter-text {
		font-size: 150%;
		font-style: italic;
	}

	.third-line {
		margin-left: 300px;
	}
}

.wsu-c-em-hero__description {
	color: color(white, base);
	max-width: 800px;
}