
$margin-values: (
	m0: 0px,
	m10: 10px,
	m20: 20px,
	m30: 30px,
	m40: 40px,
	m50: 50px,
	m60: 60px,
	m70: 70px,
	m80: 80px,
	m90: 90px,
	m100: 100px,
	m120: 120px,
	m140: 140px,
	m160: 160px,
	m180: 180px,
	m200: 200px,
);

$margin-top-values: (
	mt0: 0px,
	mt10: 10px,
	mt20: 20px,
	mt30: 30px,
	mt40: 40px,
	mt50: 50px,
	mt60: 60px,
	mt70: 70px,
	mt80: 80px,
	mt90: 90px,
	mt100: 100px,
	mt120: 120px,
	mt140: 140px,
	mt160: 160px,
	mt180: 180px,
	mt200: 200px,
	mt-100: -100px,
	mt-120: -120px,
	mt-140: -140px,
	mt-160: -160px,
	mt-180: -180px,
	mt-200: -200px,
);

$margin-bottom-values: (
	mb0: 0px,
	mb10: 10px,
	mb20: 20px,
	mb30: 30px,
	mb40: 40px,
	mb50: 50px,
	mb60: 60px,
	mb70: 70px,
	mb80: 80px,
	mb90: 90px,
	mb100: 100px,
	mb120: 120px,
	mb140: 140px,
	mb160: 160px,
	mb180: 180px,
	mb200: 200px,
);

@include generate-class-names($margin-values, 'margin');
@include generate-class-names($margin-top-values, 'margin-top');
@include generate-class-names($margin-bottom-values, 'margin-bottom');