$values: (
	p0: 0px,
	p10: 10px,
	p20: 20px,
	p30: 30px,
	p40: 40px,
	p50: 50px,
	p60: 60px,
	p70: 70px,
	p80: 80px,
	p90: 90px,
	p100: 100px,
	p120: 120px,
	p140: 140px,
	p160: 160px,
	p180: 180px,
	p200: 200px,
);

@include generate-class-names($values, 'padding');