@import '../../../../wsu-build-tools/scss/all-the-things.scss';

.wsu-c-button {
	background-color: color(primary, light);
	color: color(white, base);
	text-decoration: none;
	border: none;
	@include font-size(12px, 600);

	margin: 0;
	padding: $unit-s $unit-xl;
	border-radius: $wsu-bt-base-border-radius-size;

	transition: background-color timing();
	display: inline-table;

	&:visited {
		@extend .wsu-c-button;
	}

	&:hover,
	&:active {
		cursor: pointer;
		color: color(white, base);
		background-color: color(primary, base);
	}
}
