<html lang="en-US">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Global Colors | Component</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" href="global-colors.css">
	<script src="global-colors.js" defer></script>
</head>

<body>

	<h1 class="wsu-u-title">Colors</h1>

	<div class="wsu-u-spacer">
		<div class="wsu-u-title">Crimsons <span class="wsu-icon wsu-i-arrow-down-carrot"></span></div>
		<div class="wsu-u-requirements" style="font-size: 14px;">
			<p>Mixin usage example:
				<pre>color: color(primary, base);</pre>
				<pre>color: color(primary, light);</pre>
			</p>
		</div>
	</div>

	<div class="wsu-c-column__wrapper" style="margin: 0 auto; max-width: 1200px;">
		<div class="wsu-c-column">
			<div class="wsu-c-colors_crimson">
				<div class="box"></div>
				<div class="box"></div>
			</div>
		</div>
	</div>

	<div class="wsu-u-spacer">
		<div class="wsu-u-title">Greys<span class="wsu-icon wsu-i-arrow-down-carrot"></span></div>
		<div class="wsu-u-requirements" style="font-size: 14px;">
			<p>Mixin usage example:
				<pre>color: color(grey, 50);</pre>
			</p>
		</div>
	</div>

	<div class="wsu-c-column__wrapper" style="margin: 0 auto; max-width: 1200px;">
		<div class="wsu-c-column">
			<div class="wsu-c-colors_grey">
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
			</div>
		</div>
	</div>

	<script src="../../../node_modules/@wsu/build-tools/js/wsu-bt-toolbar.js"></script>
</body>

</html>
