<html lang="en-US">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Content Hero | Component</title>
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" href="https://cdn.web.wsu.edu/designsystem/1.x/wsu-icons/dist/wsu-icons.bundle.css">
	<link rel="stylesheet" href="content-hero.css">
</head>

<body>
	<div class="wsu-u-spacer">
		<div class="wsu-u-title">With Enrollment Overlay <span class="wsu-icon wsu-i-arrow-down-carrot"></span></div>
	</div>

	<!-- COMPONENT:START -->
	<div class="wsu-c-hero__wrapper wsu-u-no-js" style="background-image: url('https://source.unsplash.com/random');">
		<div class="wsu-c-hero__container--enrollment">
			<div class="wsu-c-hero__content-container">
				<div class="wsu-c-hero__content">
					<div class="wsu-c-hero__title-container">
						<h2 class="wsu-c-hero__title">Odio et purus metus placerat neque.</h2>
					</div>
					<div class="wsu-c-hero__subtitle">Consectetur adipiscing elit donec fringilla</div>
					<a href="#" class="wsu-c-hero__button">Lorem Ipsum</a>
				</div>
				<p class="wsu-c-hero__image-caption">By consectetur adipiscing elit <a href="#">donec fringilla</a></p>
			</div>
		</div>
	</div>
	<!-- COMPONENT:END -->

	<div class="wsu-u-spacer">
		<div class="wsu-u-title">With Overlay <span class="wsu-icon wsu-i-arrow-down-carrot"></span></div>
	</div>

	<!-- COMPONENT:START -->
	<div class="wsu-c-hero__wrapper wsu-u-no-js" style="background-image: url('https://source.unsplash.com/random');">
		<div class="wsu-c-hero__container">
			<div class="wsu-c-hero__content-container">
				<div class="wsu-c-hero__content">
					<div class="wsu-c-hero__title">Odio et purus metus placerat neque.</div>
					<div class="wsu-c-hero__subtitle">Consectetur adipiscing elit donec fringilla</div>
					<a href="#" class="wsu-c-hero__button">Lorem Ipsum</a>
				</div>
				<p class="wsu-c-hero__image-caption">By consectetur adipiscing elit donec fringilla</p>
			</div>
		</div>
	</div>
	<!-- COMPONENT:END -->

	<div class="wsu-u-spacer">
		<div class="wsu-u-title">Without Overlay <span class="wsu-icon wsu-i-arrow-down-carrot"></span></div>
	</div>

	<!-- COMPONENT:START -->
	<div class="wsu-c-hero__wrapper wsu-u-no-js" style="background-image: url('https://source.unsplash.com/random');">
		<div class="wsu-c-hero__container--no-overlay">
			<div class="wsu-c-hero__content-container">
				<div class="wsu-c-hero__content">
					<div class="wsu-c-hero__title">Odio et purus metus placerat neque.</div>
					<div class="wsu-c-hero__subtitle">Consectetur adipiscing elit donec fringilla</div>
					<a href="#" class="wsu-c-hero__button">Lorem Ipsum</a>
				</div>
				<p class="wsu-c-hero__image-caption">By consectetur adipiscing elit donec fringilla</p>
			</div>
		</div>
	</div>
	<!-- COMPONENT:END -->

	<div class="wsu-u-spacer">
		<div class="wsu-u-title">Full height w/ Overlay <span class="wsu-icon wsu-i-arrow-down-carrot"></span></div>
	</div>

	<!-- COMPONENT:START -->
	<div class="wsu-c-hero__wrapper wsu-u-no-js" style="background-image: url('https://source.unsplash.com/random');">
		<div class="wsu-c-hero__container--full-height">
			<div class="wsu-c-hero__content-container">
				<div class="wsu-c-hero__content">
					<div class="wsu-c-hero__title">Odio et purus metus placerat neque.</div>
					<div class="wsu-c-hero__subtitle">Consectetur adipiscing elit donec fringilla</div>
					<a href="#" class="wsu-c-hero__button">Lorem Ipsum</a>
				</div>
				<p class="wsu-c-hero__image-caption">By consectetur adipiscing elit donec fringilla</p>
			</div>
		</div>
	</div>
	<!-- COMPONENT:END -->
	<script src="../../../node_modules/@wsu/build-tools/js/wsu-bt-toolbar.js"></script>
</body>

</html>
