@import '../../../../wsu-build-tools/scss/all-the-things.scss';

.wsu-c-hero__wrapper {

}

.wsu-c-hero__container {
	margin: 0;

	background-position: 50% 50%;
}

.wsu-c-hero__content {
	padding: $unit-3xl $unit;
}

.wsu-c-hero__title {
	margin: 0;
}

