<!-- COMPONENT:START -->
<div class="wsu-c-hero__wrapper wsu-u-no-js wsu-c-full-width">
	<div class="wsu-c-hero__container" style="background-image: url('https://source.unsplash.com/random');">
		<div class="wsu-c-hero__content">
			<div class="wsu-c-hero__title">Odio et purus metus placerat neque.</div>
			<div class="wsu-c-hero__subtitle">Consectetur adipiscing elit donec fringilla</div>
			<a href="#" class="wsu-c-hero__button">Lorem Ipsum</a>
		</div>
		<p class="wsu-c-hero__image-caption">By consectetur adipiscing elit donec fringilla</p>
	</div>
</div>
<!-- COMPONENT:END -->
